.gitem.gitem--category
  a(href=gCategory.url).gitem__thumbnail
    .thumbnail__group
      if (gCategory.thumbnails)
        each thumb in gCategory.thumbnails
          .group__item
            img.lazy(src=placeholderSrc, data-src=thumb, data-srcset=thumb)
    .overlay.overlay--dark.gitem__overlay
      +svg('zoom', 'gitem__zoom')
  .gitem__content
    h4.gitem__name
      a(href=gCategory.url)= gCategory.name
    .gitem__excerpt= gCategory.excerpt
    date.gitem__date= gCategory.date