a.gitem.gitem--photo(href=gImage.thumbnail class=gImage.class)
  img.gitem__thumbnail.lazy(src=placeholderSrc, data-src=gImage.thumbnail, data-srcset=gImage.thumbnail)
  .overlay.overlay--gradients.gitem__overlay
    +svg('zoom', 'gitem__zoom')
    .gitem__meta
      h4.gitem__name= gImage.name
      date.gitem__date= gImage.date