a.gpreview.gpreview--video(href=gvPreview.url)
  .gpreview__thumbnail
    img.lazy(src=placeholderSrc, data-src=gvPreview.thumbnail, data-srcset=gvPreview.thumbnail)
  .overlay.gpreview__overlay
    +svg('play', 'gpreview__play')