a.gpreview(href=gpPreview.url)
  .gpreview__thumbnail
    img.lazy(src=placeholderSrc, data-src=gpPreview.thumbnail, data-srcset=gpPreview.thumbnail)
  .overlay.overlay--dark.gpreview__overlay
    .gpreview__excerpt= gpPreview.excerpt