html[lang="hy-AM"]
  .gitem
    &__duration
      font-family: $font--dejavue__light
    &__date
      font-family: $font--dejavue__light

html[lang="en-US"]
  .gitem
    &__duration
      font-family: $font--dejavue--en
    &__date
      font-family: $font--dejavue--en

html[lang="ru-RU"]
  .gitem
    &__duration
      font-family: $font--dejavue--ru
    &__date
      font-family: $font--dejavue--ru

.gallery
  width: 100%

  display: grid
  grid-gap: 6px
  grid-auto-rows: minmax(200px, 75vh)
  grid-template-columns: repeat(auto-fit, calc(50% - 4px))

  @media screen and (min-width: $breakpoint--md)
    grid-template-columns: repeat(auto-fit, calc(100% / 3 - 4px))

  &--photo
    grid-auto-flow: dense
    grid-auto-rows: 150px

    @media screen and (min-width: $breakpoint--md)
      grid-auto-rows: 200px

  &--video
    grid-auto-rows: auto
    grid-template-columns: repeat(auto-fit, 100%)

    @media screen and (min-width: $breakpoint--md)
      grid-auto-rows: 325px
      grid-template-columns: repeat(auto-fit, calc(50% - 4px))

    @media screen and (min-width: $breakpoint--xl)
      grid-template-columns: repeat(auto-fit, calc(100% / 3 - 4px))

    .gallery__item--big
      grid-column: span 1

      @media screen and (min-width: $breakpoint--md)
        grid-column: span 2

  &__item--big
    grid-row: span 2
    grid-column: span 2

  &__item--vertical
    grid-row: span 2

  &__item--horizontal
    grid-column: span 2

  &__item
    overflow: hidden

a.gitem
  color: inherit

.gitem
  position: relative

  display: block

  overflow: hidden

  height: 100%

  
  &--video,
  &--category
    padding: 5px

    background-color: white
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15)

    transition: box-shadow .3s

    &:hover
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3)

    .gitem__thumbnail
      position: relative

      display: block

      overflow: hidden

      color: inherit

      iframe
        top: 0
        left: 0
        z-index: 10
        position: absolute

        width: 100%
        height: 100%
        max-height: 100vh

      .thumbnail__group
        display: flex
        flex-wrap: wrap

        margin-left: -1px
        margin-right: -1px
        
        .group__item
          flex: 0 0 28%

          height: 100px

          padding-left: 1px
          padding-right: 1px

          &:nth-child(1)
            margin-bottom: 2px

          &:nth-child(3),
          &:nth-child(4)
            flex: 0 0 44%
    
    .gitem__name

      a
        color: black
        text-decoration: none

    .svg--play
      top: 50%
      left: 50%
      position: absolute
      transform: translate(-50%, -50%)

      width: 70px
      height: 70px

      color: inherit

  &__video

    a
      color: inherit

    .gitem__thumbnail
      max-height: calc(100vh - 80px)
      
      margin-bottom: -1px

  img
    width: 100%
    height: 100%

    object-fit: cover
    object-position: center

  &__overlay
    top: -100%

    opacity: 0

    overflow: hidden

  &__duration
    right: 10px
    bottom: 10px
    position: absolute
    
    padding: 5px 10px

    border-radius: 5px
    background-color: #111111

    color: white
    font-size: 14px
    font-weight: 200
    line-height: 16px

  &:hover

    .gitem__overlay
      top: 0

      opacity: 1

  &__zoom
    top: 50%
    left: 50%
    position: absolute
    transform: translate(-50%, -50%)

    width: 35px
    height: 35px

    color: white

  &__meta
    left: 0
    bottom: -100%
    position: absolute

    padding: 15px 10px

    transition: bottom .3s

  &:hover

    .gitem__meta
      bottom: 0

  &__name
    margin: 15px 0 0 0

    color: white
    font-size: 15px
    line-height: 18px
    font-weight: normal

    @media screen and (min-width: $breakpoint--sm)
      font-size: 18px
      line-height: 21px

  &--video

    .gitem__name
      color: black

  &__excerpt
    margin-top: 10px

    color: #555
    font-size: 14px
    line-height: 16px
    font-weight: normal

  &__date
    display: block

    margin-top: 10px

    color: inherit
    font-size: 14px
    font-weight: 200
    line-height: 16px

.gpreview
  position: relative

  display: block

  overflow: hidden

  &__overlay
    top: -100%

    padding: 10px

    opacity: 0
    
    transition: opacity .5s

    .svg
      top: 50%
      left: 50%
      position: absolute
      transform: translate(-50%, -50%)

      color: inherit

      &--play
        width: 145px
        height: 145px

  &:hover

    .gpreview__overlay
      top: 0

      opacity: 1

  &__title
    top: 50%
    left: 50%
    position: absolute
    transform: translate(-50%, -50%)

    width: calc(100% - 30px)

  &__excerpt
    width: 100%
    height: 100%

    padding: 15px

    border: 1px solid

    overflow: hidden

    color: white
    font-size: 12px
    line-height: 16px
    font-weight: normal

  &__thumbnail

    img
      width: 100%
      height: 100%

      object-fit: cover
      Object-position: center 