.gitem.gitem--video(class=gVideo.class)
  a(href=gVideo.url).gitem__thumbnail
    img.lazy(src=placeholderSrc, data-src=gVideo.thumbnail, data-srcset=gVideo.thumbnail)
    span.gitem__delay= gVideo.delay
    .overlay.overlay--dark.gitem__overlay
      +svg('play')
  .gitem__content
    h4.gitem__name
      a(href=gVideo.url)= gVideo.name
    .gitem__excerpt= gVideo.excerpt
    date.gitem__date= gVideo.date