.radio
  display: inline-block

  margin: 0

  vertical-align: middle

  cursor: pointer

  input
    display: none

  &__wrapper
    display: flex
    align-items: center

    min-width: 80px
    min-height: 30px
      
    padding: 10px

    background: #C4C4C4
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2)

    transition: box-shadow .3s

    @media screen and (min-width: $breakpoint--md)
      padding: 10px 15px

  &:hover

    .radio__wrapper
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25)

  input:checked + .radio__wrapper
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.25)

  &__virtual
    position: relative

    width: 10px
    height: 10px

    margin-right: 15px

    border-radius: 50%
    background-color: #FCFCFC

  input:checked + .radio__wrapper
    
    .radio__virtual::after
      content: ''

      top: 50%
      left: 50%
      position: absolute
      transform: translate(-50%, -50%)

      width: 6px
      height: 6px

      border-radius: 50%

      background-color: #C4C4C4

  &__text
    color: white
    text-align: center
    font-weight: normal
    text-transform: uppercase
    font-size: 20px
    line-height: 22px

    @media screen and (min-width: $breakpoint--md)
      font-size: 22px
      line-height: 25px
