@font-face {
    font-family: 'DejaVu Sans Mono';
    src: local('DejaVu-Sans'), local('DejaVu-Sans'),
        url('../fonts/DejaVu-Sans-Mono/DejaVu-Sans-Mono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}