.svg--defs.hidden
  svg(xmlns="http://www.w3.org/2000/svg")
    symbol#diagram(viewBox="0 0 28 30", fill="currentColor")
      path(d="M27.0859 13.5H23.9688V10.5C23.9688 10.2239 23.7694 10 23.5234 10H14.6172V6H17.7344C17.9803 6 18.1797 5.77613 18.1797 5.5V0.5C18.1797 0.223875 17.9803 0 17.7344 0H10.6094C10.3635 0 10.1641 0.223875 10.1641 0.5V5.5C10.1641 5.77613 10.3635 6 10.6094 6H13.7266V10H4.82031C4.57439 10 4.375 10.2239 4.375 10.5V13.5H1.25781C1.01189 13.5 0.8125 13.7239 0.8125 14V19C0.8125 19.2761 1.01189 19.5 1.25781 19.5H8.38281C8.62874 19.5 8.82812 19.2761 8.82812 19V14C8.82812 13.7239 8.62874 13.5 8.38281 13.5H5.26562V11H13.7266V13.5H10.6094C10.3635 13.5 10.1641 13.7239 10.1641 14V19C10.1641 19.2761 10.3635 19.5 10.6094 19.5H13.7266V24H10.6094C10.3635 24 10.1641 24.2239 10.1641 24.5V29.5C10.1641 29.7761 10.3635 30 10.6094 30H17.7344C17.9803 30 18.1797 29.7761 18.1797 29.5V24.5C18.1797 24.2239 17.9803 24 17.7344 24H14.6172V19.5H17.7344C17.9803 19.5 18.1797 19.2761 18.1797 19V14C18.1797 13.7239 17.9803 13.5 17.7344 13.5H14.6172V11H23.0781V13.5H19.9609C19.715 13.5 19.5156 13.7239 19.5156 14V19C19.5156 19.2761 19.715 19.5 19.9609 19.5H27.0859C27.3319 19.5 27.5312 19.2761 27.5312 19V14C27.5312 13.7239 27.3319 13.5 27.0859 13.5ZM7.9375 14.5V18.5H1.70312V14.5H7.9375ZM17.2891 25V29H11.0547V25H17.2891ZM17.2891 14.5V18.5H11.0547V14.5H17.2891ZM11.0547 5V1H17.2891V5H11.0547ZM26.6406 18.5H20.4062V14.5H26.6406V18.5Z")
    symbol#gallery(viewBox="0 0 28 30", fill="currentColor")
      path(d="M14.4218 11.1337C12.9129 11.1337 11.6895 12.5037 11.6895 14.1938C11.6895 15.8839 12.9128 17.254 14.4218 17.254C15.9308 17.254 17.1541 15.884 17.1541 14.1938C17.1541 12.5037 15.9309 11.1337 14.4218 11.1337ZM14.4218 15.7967C13.6314 15.7967 12.9906 15.0791 12.9906 14.1938C12.9906 13.3085 13.6314 12.5908 14.4218 12.5908C15.2123 12.5908 15.853 13.3085 15.853 14.1938C15.853 15.0791 15.2123 15.7967 14.4218 15.7967Z")
      path(d="M25.3185 4.13896L7.55866 1.88033C6.86939 1.77058 6.17103 1.99595 5.63958 2.49968C5.1082 2.96115 4.76758 3.6452 4.69629 4.39404L4.37105 7.38135H3.36264C1.93143 7.38135 0.858019 8.8021 0.858019 10.4051V25.3051C0.821971 26.8336 1.89912 28.1056 3.26396 28.1459C3.29683 28.1469 3.32977 28.1471 3.36264 28.1466H21.22C22.6513 28.1466 23.9524 26.908 23.9524 25.3051V24.7222C24.3961 24.6262 24.817 24.4277 25.1884 24.1393C25.7154 23.6424 26.0529 22.9386 26.1317 22.1721L27.6279 7.38135C27.7805 5.77469 26.751 4.3294 25.3185 4.13896ZM22.6513 25.3051C22.6513 26.1066 21.9357 26.6894 21.22 26.6894H3.36264C2.7162 26.7107 2.17679 26.141 2.1578 25.417C2.15681 25.3797 2.15724 25.3424 2.15911 25.3051V22.6092L7.20085 18.4562C7.80651 17.9354 8.65958 17.9817 9.21755 18.5654L12.763 22.0628C13.3014 22.5691 13.9792 22.8521 14.6822 22.8642C15.2318 22.8718 15.7724 22.7078 16.2435 22.3906L22.6513 18.2376V25.3051H22.6513ZM22.6513 16.5253L15.5603 21.152C14.9514 21.556 14.1807 21.4829 13.6412 20.9699L10.0632 17.4361C9.03775 16.4492 7.53892 16.3887 6.45269 17.2904L2.15911 20.7877V10.4051C2.15911 9.60358 2.64703 8.83857 3.36264 8.83857H21.22C21.9846 8.87406 22.602 9.54988 22.6513 10.4051V16.5253ZM26.3281 7.18464C26.3277 7.18945 26.3273 7.19433 26.3268 7.19914L24.798 21.9899C24.8006 22.3734 24.6445 22.7366 24.3752 22.9735C24.245 23.1192 23.9523 23.1921 23.9523 23.265V10.4051C23.9009 8.74541 22.7023 7.41893 21.22 7.38135H5.67208L5.96482 4.53977C6.02833 4.17181 6.2001 3.83836 6.45275 3.59256C6.73802 3.37165 7.08293 3.26866 7.4286 3.30109L25.1559 5.59618C25.8712 5.67226 26.396 6.38344 26.3281 7.18464Z")
    symbol#message(viewBox="0 0 28 30", fill="currentColor")
      path(d="M25.2886 10.8398H20.1598C20.6289 9.82055 20.8941 8.66502 20.8941 7.44141C20.8941 3.3382 17.9136 0 14.25 0C10.5864 0 7.60589 3.3382 7.60589 7.44141C7.60589 8.66502 7.87108 9.82055 8.34025 10.8398H3.21136C1.91325 10.8398 0.857147 12.0227 0.857147 13.4766V27.3633C0.857147 28.2344 1.23654 29.0079 1.81971 29.4882C1.83462 29.5015 1.85031 29.5131 1.8659 29.525C2.2476 29.824 2.71133 30 3.21136 30H25.2886C25.7885 30 26.2521 29.8241 26.6338 29.5253C26.6495 29.5133 26.6653 29.5016 26.6804 29.4882C27.2635 29.0078 27.6429 28.2344 27.6429 27.3633V13.4766C27.6429 12.0227 26.5868 10.8398 25.2886 10.8398ZM2.42662 27.3633V13.4766C2.42662 13.4215 2.43175 13.3678 2.44043 13.3154L10.5182 20.3509L2.44567 27.5535C2.43353 27.4922 2.42662 27.4287 2.42662 27.3633ZM11.7915 21.4623L12.7998 22.3455C13.2267 22.7194 13.7384 22.9064 14.2501 22.9064C14.7618 22.9064 15.2734 22.7194 15.7004 22.3455L16.7086 21.4623L24.3074 28.2422H4.19265L11.7915 21.4623ZM17.9818 20.3509L26.0596 13.3154C26.0683 13.3678 26.0734 13.4215 26.0734 13.4766V27.3633C26.0734 27.4287 26.0665 27.4922 26.0543 27.5535L17.9818 20.3509ZM14.25 1.75781C17.0482 1.75781 19.3246 4.30746 19.3246 7.44141C19.3246 10.5754 17.0482 13.125 14.25 13.125C11.4518 13.125 9.17537 10.5754 9.17537 7.44141C9.17537 4.30746 11.4518 1.75781 14.25 1.75781ZM14.25 14.8828C16.128 14.8828 17.8263 14.0054 19.0358 12.5977H24.327L16.2296 19.6503L14.7335 20.9608C14.4488 21.2102 14.0512 21.2101 13.7666 20.9608L12.2687 19.6488L4.17293 12.5977H9.46415C10.6737 14.0054 12.372 14.8828 14.25 14.8828Z")
      path(d="M14.25 11.1914C14.6834 11.1914 15.0347 10.7979 15.0347 10.3125V7.5C15.0347 7.01461 14.6834 6.62109 14.25 6.62109C13.8166 6.62109 13.4653 7.01461 13.4653 7.5V10.3125C13.4653 10.7979 13.8166 11.1914 14.25 11.1914Z")
      path(d="M14.25 5.5665C14.6834 5.5665 15.0347 5.173 15.0347 4.68759C15.0347 4.20219 14.6834 3.80869 14.25 3.80869C13.8166 3.80869 13.4653 4.20219 13.4653 4.68759C13.4653 5.173 13.8166 5.5665 14.25 5.5665Z")
    symbol#newspaper(viewBox="0 0 28 30", fill="currentColor")
      path(d="M27.1197 0H5.9841C5.69521 0 5.46094 0.262324 5.46094 0.585938V3.16406H3.6822C3.39331 3.16406 3.15904 3.42645 3.15904 3.75V6.91406H1.38031C1.09137 6.91406 0.857147 7.17645 0.857147 7.5V26.8359C0.857147 28.5806 2.1245 30 3.6822 30H24.8178C26.3755 30 27.6429 28.5806 27.6429 26.8359V0.585938C27.6429 0.262324 27.4086 0 27.1197 0ZM26.5965 26.8359C26.5965 27.9345 25.7986 28.8281 24.8178 28.8281H5.87486C6.26985 28.2838 6.50726 27.5904 6.50726 26.8359V18.926C6.50726 18.6024 6.27299 18.34 5.9841 18.34C5.69521 18.34 5.46094 18.6024 5.46094 18.926V26.8359C5.46094 27.9345 4.66302 28.8281 3.6822 28.8281C2.70139 28.8281 1.90346 27.9345 1.90346 26.8359V8.08594H3.15904V26.25C3.15904 26.5736 3.39331 26.8359 3.6822 26.8359C3.97109 26.8359 4.20536 26.5736 4.20536 26.25V4.33594H5.46094V13.6525C5.46094 13.9761 5.69521 14.2385 5.9841 14.2385C6.27299 14.2385 6.50726 13.9761 6.50726 13.6525V1.17188H26.5965V26.8359Z")
      path(d="M8.49526 9.25781H24.6085C24.8974 9.25781 25.1317 8.99549 25.1317 8.67188V4.45312C25.1317 4.12957 24.8974 3.86719 24.6085 3.86719H8.49526C8.20632 3.86719 7.9721 4.12957 7.9721 4.45312V8.67188C7.9721 8.99549 8.20632 9.25781 8.49526 9.25781ZM9.01842 5.03906H24.0854V8.08594H9.01842V5.03906Z")
      path(d="M8.49526 23.3203H16.5519C16.8408 23.3203 17.0751 23.0579 17.0751 22.7344V11.4844C17.0751 11.1608 16.8408 10.8984 16.5519 10.8984H8.49526C8.20632 10.8984 7.9721 11.1608 7.9721 11.4844V22.7344C7.9721 23.0579 8.20632 23.3203 8.49526 23.3203ZM9.01842 12.0703H16.0287V22.1484H9.01842V12.0703Z")
      path(d="M24.6085 10.8984H19.0631C18.7742 10.8984 18.5399 11.1608 18.5399 11.4844C18.5399 11.808 18.7742 12.0703 19.0631 12.0703H24.6085C24.8974 12.0703 25.1317 11.808 25.1317 11.4844C25.1317 11.1608 24.8974 10.8984 24.6085 10.8984Z")
      path(d="M24.6085 13.7109H19.0631C18.7742 13.7109 18.5399 13.9733 18.5399 14.2969C18.5399 14.6205 18.7742 14.8828 19.0631 14.8828H24.6085C24.8974 14.8828 25.1317 14.6205 25.1317 14.2969C25.1317 13.9733 24.8974 13.7109 24.6085 13.7109Z")
      path(d="M24.6085 16.5234H19.0631C18.7742 16.5234 18.5399 16.7858 18.5399 17.1094C18.5399 17.4329 18.7742 17.6953 19.0631 17.6953H24.6085C24.8974 17.6953 25.1317 17.4329 25.1317 17.1094C25.1317 16.7858 24.8974 16.5234 24.6085 16.5234Z")
      path(d="M24.6085 19.3359H19.0631C18.7742 19.3359 18.5399 19.5983 18.5399 19.9219C18.5399 20.2454 18.7742 20.5078 19.0631 20.5078H24.6085C24.8974 20.5078 25.1317 20.2454 25.1317 19.9219C25.1317 19.5983 24.8974 19.3359 24.6085 19.3359Z")
      path(d="M24.6085 22.1484H19.0631C18.7742 22.1484 18.5399 22.4108 18.5399 22.7344C18.5399 23.0579 18.7742 23.3203 19.0631 23.3203H24.6085C24.8974 23.3203 25.1317 23.0579 25.1317 22.7344C25.1317 22.4108 24.8974 22.1484 24.6085 22.1484Z")
      path(d="M8.49526 26.1328H24.6085C24.8974 26.1328 25.1317 25.8704 25.1317 25.5469C25.1317 25.2233 24.8974 24.9609 24.6085 24.9609H8.49526C8.20632 24.9609 7.9721 25.2233 7.9721 25.5469C7.9721 25.8704 8.20632 26.1328 8.49526 26.1328Z")
      path(d="M6.01026 15.7031C5.87267 15.7031 5.73769 15.7658 5.64038 15.8748C5.54308 15.9838 5.4871 16.135 5.4871 16.2891C5.4871 16.4438 5.54302 16.5943 5.64038 16.7033C5.73769 16.8128 5.87267 16.875 6.01026 16.875C6.14785 16.875 6.28282 16.8129 6.38008 16.7033C6.47739 16.5943 6.53342 16.4432 6.53342 16.2891C6.53342 16.135 6.47744 15.9838 6.38008 15.8748C6.28282 15.7658 6.14785 15.7031 6.01026 15.7031Z")
    symbol#next(viewBox="0 0 18 20", fill="currentColor")
      path(d="M15.1617 9.45124L5.92649 0.216026C5.62076 -0.0792478 5.13356 -0.0707702 4.83829 0.234966C4.55023 0.533216 4.55023 1.00602 4.83829 1.30423L13.5294 9.99534L4.83829 18.6864C4.53783 18.987 4.53783 19.4741 4.83829 19.7747C5.13884 20.0751 5.62599 20.0751 5.92649 19.7747L15.1617 10.5394C15.4622 10.2389 15.4622 9.75174 15.1617 9.45124Z")
    symbol#party(viewBox="0 0 28 30", fill="currentColor")
      path(d="M18.7836 6.76436L15.968 6.30619L14.7416 3.52295L13.7588 3.53045L12.5356 6.30619L9.7272 6.76319L9.54091 7.85086L11.4749 9.96231L10.9995 13.0668L11.8428 13.6403L14.2518 12.2219L16.6585 13.639L17.5046 13.0699L17.0286 9.96225L18.9583 7.85561L18.7836 6.76436ZM15.6004 11.0308L14.2518 10.2367L12.9031 11.0308L13.1607 9.34885L12.0696 8.15768L13.5774 7.91231L14.2518 6.38204L14.9261 7.91231L16.4339 8.15768L15.3428 9.34874L15.6004 11.0308Z")
      path(d="M27.6429 0.00488281H0.857147V17.077H10.0195C9.71161 17.778 9.53834 18.5659 9.53834 19.3985C9.53834 21.0282 10.2015 22.4877 11.2415 23.4565C10.5859 23.7083 9.9765 24.0453 9.42778 24.466C9.25509 24.5984 9.08999 24.738 8.93231 24.8842C8.6524 24.6339 8.34012 24.4206 8.00227 24.2467C8.46941 23.6393 8.75282 22.8499 8.75282 21.9872C8.75282 20.0752 7.36402 18.5198 5.65693 18.5198C3.94984 18.5198 2.5611 20.0753 2.5611 21.9872C2.5611 22.8499 2.8445 23.6393 3.31164 24.2466C2.9491 24.4333 2.61507 24.6643 2.31984 24.9386C1.37946 25.8126 0.86154 27.0825 0.86154 28.5145V29.9951H27.6386V28.5145C27.6386 27.0825 27.1207 25.8126 26.1802 24.9386C25.8849 24.6642 25.5509 24.4333 25.1884 24.2466C25.6556 23.6393 25.939 22.8498 25.939 21.9871C25.939 20.0752 24.5502 18.5198 22.8431 18.5198C21.136 18.5198 19.7472 20.0752 19.7472 21.9871C19.7472 22.8498 20.0307 23.6392 20.4978 24.2466C20.1599 24.4205 19.8477 24.6338 19.5677 24.8841C19.41 24.7378 19.2449 24.5983 19.0722 24.4659C18.5234 24.0451 17.9141 23.7082 17.2585 23.4565C18.2985 22.4877 18.9617 21.0282 18.9617 19.3983C18.9617 18.5658 18.7884 17.7779 18.4805 17.0769H27.6429V0.00488281ZM5.65693 20.2771C6.49889 20.2771 7.18385 21.0442 7.18385 21.9872C7.18385 22.9301 6.49889 23.6973 5.65693 23.6973C4.81502 23.6973 4.13006 22.9301 4.13006 21.9872C4.13006 21.0442 4.81502 20.2771 5.65693 20.2771ZM2.44003 28.2379C2.57543 26.3181 4.12274 25.4545 5.65688 25.4545C6.44973 25.4545 7.24551 25.6859 7.84852 26.174C7.44607 26.7952 7.14007 27.4873 6.93815 28.2379H2.44003ZM26.06 28.2379H21.5619C21.36 27.4877 21.0541 26.7958 20.652 26.1749C21.255 25.6868 22.0501 25.4546 22.843 25.4546C24.3772 25.4545 25.9246 26.3181 26.06 28.2379ZM22.843 20.2771C23.685 20.2771 24.3699 21.0442 24.3699 21.9872C24.3699 22.9301 23.685 23.6973 22.843 23.6973C22.0011 23.6973 21.3162 22.9301 21.3162 21.9872C21.3162 21.0442 22.0011 20.2771 22.843 20.2771ZM19.8948 28.2379H8.60512C9.4327 26.0419 11.5446 24.6755 14.2499 24.6755C16.9553 24.6755 19.0672 26.0419 19.8948 28.2379ZM14.25 22.9183C12.5171 22.9183 11.1073 21.3393 11.1073 19.3985C11.1073 17.4576 12.5171 15.8786 14.25 15.8786C15.9829 15.8786 17.3927 17.4576 17.3927 19.3985C17.3927 21.3393 15.9829 22.9183 14.25 22.9183ZM17.2363 15.3198C16.4228 14.5713 15.3824 14.1214 14.25 14.1214C13.1175 14.1214 12.0771 14.5713 11.2637 15.3198H2.42611V9.39699H7.96833V7.63975H2.42611V1.76213H26.0739V7.63975H20.5549V9.39699H26.0739V15.3198H17.2363Z")
    symbol#support(viewBox="0 0 31 30", fill="currentColor")
      path(d="M15.8048 3.81211C16.1307 3.81211 16.3949 3.54791 16.3949 3.22201V0.590098C16.3949 0.264199 16.1307 0 15.8048 0C15.4789 0 15.2147 0.264199 15.2147 0.590098V3.22201C15.2148 3.54791 15.479 3.81211 15.8048 3.81211Z")
      path(d="M30.229 20.2725L29.1866 19.233C28.8158 18.8627 28.3215 18.6586 27.7949 18.6586C27.4581 18.6586 27.1349 18.7424 26.8484 18.8994L24.884 16.9373L24.9797 16.8418C25.7766 16.0432 25.7763 14.7457 24.9796 13.9499C24.6949 13.6646 24.3397 13.4744 23.9524 13.3944C24.0057 13.2104 24.0338 13.0176 24.0338 12.8203C24.0338 12.2722 23.8209 11.7582 23.4354 11.3743C23.1507 11.0891 22.7955 10.8989 22.4082 10.8189C22.4616 10.6348 22.4896 10.4421 22.4896 10.2448C22.4896 9.69655 22.2767 9.18262 21.8906 8.79819C21.5991 8.50698 21.2406 8.32264 20.8643 8.24418C21.0656 7.55002 20.8936 6.76903 20.3475 6.222C19.8929 5.76936 19.2761 5.57483 18.6817 5.63788L14.789 4.90106C14.1953 4.78844 13.4539 4.71397 12.9859 5.14082C12.9564 5.16778 12.9263 5.19877 12.8966 5.23329C12.171 4.96879 11.3247 5.12629 10.7436 5.70672C10.3581 6.09174 10.1458 6.60549 10.1458 7.15334C10.1458 7.35069 10.1737 7.5434 10.227 7.7275C9.84016 7.80748 9.48537 7.99745 9.2016 8.28174C8.81535 8.66641 8.60237 9.17957 8.60196 9.72678C8.60178 9.92459 8.62985 10.118 8.6834 10.3025C8.29639 10.3823 7.94137 10.5719 7.65672 10.8562C7.27047 11.2421 7.05778 11.7561 7.05778 12.3037C7.05778 12.7231 7.18299 13.1226 7.41502 13.4601C7.12205 13.5595 6.85369 13.7248 6.62899 13.9492C5.83152 14.7457 5.83123 16.0433 6.62951 16.843L6.72485 16.9379L4.7602 18.899C4.03006 18.5552 3.13047 18.684 2.52795 19.2858L1.48486 20.3259C1.11385 20.6965 0.909589 21.1908 0.909531 21.7177C0.909531 22.2447 1.11385 22.739 1.48486 23.1097L2.78664 24.4098C3.01721 24.6402 3.39086 24.6399 3.62113 24.4094C3.85147 24.1788 3.85123 23.8052 3.62066 23.5749L2.31889 22.2747C2.17111 22.1271 2.08973 21.9293 2.08973 21.7178C2.08973 21.5063 2.17111 21.3085 2.31854 21.1613L3.36168 20.1211C3.62231 19.8607 4.02121 19.822 4.32414 20.0031C4.34547 20.0351 4.37014 20.0656 4.39838 20.0939C4.44895 20.1446 4.50666 20.1834 4.56795 20.2118L10.55 26.1851C10.5784 26.247 10.6174 26.3053 10.6683 26.3563C10.7179 26.4059 10.7744 26.4443 10.8344 26.4725C10.9609 26.6156 11.0308 26.7982 11.0308 26.9931C11.0308 27.2047 10.9495 27.4024 10.8017 27.55L9.75959 28.5909C9.45168 28.8974 8.95082 28.8974 8.64385 28.5918L7.34207 27.2899C7.11162 27.0595 6.73803 27.0595 6.50758 27.2899C6.27713 27.5204 6.27713 27.8939 6.50758 28.1244L7.8103 29.4272C8.19373 29.8091 8.69729 29.9999 9.20108 29.9999C9.70498 29.9999 10.2091 29.8088 10.593 29.4266L11.6358 28.3851C12.0068 28.0145 12.2111 27.5202 12.2111 26.9931C12.2111 26.617 12.1065 26.2578 11.912 25.9481L14.1231 23.7397C14.1255 23.7373 14.1278 23.7349 14.1302 23.7325C14.3834 23.4708 15.0885 23.5198 15.7703 23.5671C16.2548 23.6008 16.7949 23.6382 17.3226 23.5774L19.7439 25.9959C19.5871 26.2819 19.5033 26.6047 19.5033 26.9409C19.5033 27.4674 19.7076 27.9614 20.0787 28.332L21.1215 29.3735C21.4922 29.7439 21.9865 29.9479 22.5131 29.9479C23.0397 29.9479 23.5339 29.7439 23.9048 29.3735L30.2294 23.0565C30.6005 22.686 30.8048 22.1917 30.8048 21.6647C30.8047 21.1377 30.6004 20.6434 30.229 20.2725ZM14.5693 6.06063L17.129 6.54514L15.5969 8.07672C15.3599 7.96282 15.035 7.75036 14.6787 7.40946C14.1909 6.94282 13.8419 6.40405 13.8102 6.06801C13.8101 6.06784 13.8101 6.06766 13.8101 6.06749C13.8101 6.06743 13.8101 6.06737 13.8101 6.06731C13.8078 6.04317 13.8072 6.02389 13.8075 6.00918C13.8847 5.99043 14.0896 5.96963 14.5693 6.06063ZM11.5776 6.54174C11.8765 6.24309 12.3409 6.20864 12.6787 6.43739C12.8702 7.24 13.5548 7.96745 13.8629 8.26217C14.0911 8.48061 14.8236 9.13551 15.563 9.31551C15.663 9.45889 15.7174 9.62981 15.7174 9.81016C15.7174 10.0425 15.6281 10.2597 15.4652 10.4223C15.3029 10.585 15.0853 10.6745 14.8526 10.6745C14.6198 10.6745 14.4022 10.585 14.2391 10.4216L14.239 10.4215L14.2387 10.4212L11.5775 7.76483C11.4153 7.60282 11.3259 7.38561 11.3259 7.15334C11.326 6.92102 11.4153 6.70381 11.5776 6.54174ZM10.0356 9.11676C10.198 8.95416 10.4153 8.86457 10.6477 8.86457C10.8804 8.86457 11.0984 8.95434 11.2618 9.11758L13.4047 11.2562C13.7422 11.5942 13.7422 12.1441 13.4059 12.4809C13.2426 12.6435 13.0243 12.7331 12.7912 12.7331C12.558 12.7331 12.3397 12.6435 12.1772 12.4816L12.1771 12.4816L10.5514 10.8562C10.5489 10.8537 10.5462 10.8514 10.5436 10.8488L10.035 10.3404C9.8718 10.1774 9.78198 9.95981 9.78215 9.72766C9.78239 9.49627 9.87192 9.27977 10.0356 9.11676ZM8.49075 11.6913C8.65323 11.529 8.87102 11.4397 9.1041 11.4397C9.33526 11.4397 9.55118 11.5277 9.71295 11.6872L11.3436 13.3171C11.5062 13.479 11.5958 13.696 11.5958 13.928C11.5958 14.16 11.5062 14.377 11.343 14.5396C11.1806 14.7017 10.963 14.7911 10.7303 14.7911C10.4973 14.7911 10.279 14.7015 10.1164 14.5396L9.52522 13.9491C9.5251 13.9489 9.52493 13.9488 9.52481 13.9487L8.4908 12.9159C8.3278 12.7531 8.23803 12.5356 8.23803 12.3036C8.23803 12.0716 8.3278 11.854 8.49075 11.6913ZM7.46301 14.7842C7.62619 14.6212 7.84428 14.5314 8.07707 14.5314C8.30981 14.5314 8.52784 14.6211 8.69096 14.784L9.28293 15.3753C9.44559 15.5372 9.53512 15.7542 9.53512 15.9862C9.53512 16.2183 9.44553 16.4352 9.2817 16.5984C9.11934 16.761 8.90178 16.8506 8.66905 16.8506C8.43625 16.8506 8.21869 16.7611 8.05516 16.5973L7.98104 16.5234C7.98004 16.5224 7.97928 16.5214 7.97834 16.5204C7.97723 16.5194 7.97606 16.5184 7.97494 16.5174L7.4636 16.008C7.12615 15.6699 7.12586 15.1209 7.46301 14.7842ZM19.4884 21.4907C19.2581 21.2601 18.8845 21.2599 18.654 21.4902L18.129 22.0145C17.6301 22.5134 16.7262 22.4506 15.852 22.3899C14.9027 22.324 13.9211 22.2559 13.2859 22.908L11.1123 25.0789L5.67701 19.6516L7.60053 17.7315C7.91846 17.9264 8.28532 18.0309 8.66916 18.0309C9.21754 18.0309 9.73176 17.8183 10.1158 17.4335C10.5025 17.0484 10.7155 16.5345 10.7155 15.9863C10.7155 15.9812 10.7151 15.9762 10.7151 15.9711C10.7202 15.9711 10.7253 15.9714 10.7304 15.9714C11.2781 15.9714 11.7919 15.7595 12.1765 15.3753C12.5631 14.9903 12.7761 14.4763 12.7761 13.9281C12.7761 13.923 12.7758 13.918 12.7758 13.9129C12.7809 13.9129 12.7861 13.9132 12.7913 13.9132C13.3387 13.9132 13.8528 13.7015 14.24 13.3159C14.642 12.9133 14.8408 12.3833 14.837 11.8544C14.8423 11.8544 14.8475 11.8547 14.8528 11.8547C15.4012 11.8547 15.9153 11.6422 16.3 11.2568C16.6855 10.8718 16.8978 10.358 16.8978 9.81016C16.8978 9.42702 16.7937 9.06075 16.5994 8.74346L18.2853 7.05825C18.411 6.93315 18.5659 6.85463 18.7282 6.82223C18.7458 6.82036 18.7632 6.81754 18.7803 6.81415C19.0408 6.77823 19.3144 6.85862 19.5136 7.05702C19.8511 7.39504 19.8511 7.945 19.5149 8.2818L19.0014 8.79315C18.9997 8.79485 18.9979 8.79637 18.9962 8.79807L18.4048 9.38846C18.1742 9.61873 18.174 9.99239 18.4043 10.223C18.6347 10.4536 19.0083 10.4538 19.2388 10.2235L19.7543 9.70868C19.7544 9.70856 19.7545 9.70844 19.7546 9.70832L19.8326 9.63069C20.1709 9.29541 20.7191 9.29612 21.0572 9.63368C21.2198 9.79563 21.3094 10.0126 21.3094 10.2446C21.3094 10.4766 21.2198 10.6936 21.0559 10.8568L20.5395 11.3743C20.5394 11.3743 20.5394 11.3744 20.5393 11.3745L19.948 11.9634C19.7171 12.1934 19.7163 12.5671 19.9463 12.7979C20.1763 13.0288 20.5499 13.0295 20.7808 12.7996L21.3748 12.208C21.5372 12.0453 21.7547 11.9558 21.9875 11.9558C22.2203 11.9558 22.4379 12.0453 22.6014 12.2092C22.7641 12.3712 22.8536 12.5881 22.8536 12.8202C22.8536 13.0522 22.7641 13.2691 22.6005 13.432L21.571 14.4619C21.3406 14.6924 21.3407 15.066 21.5711 15.2964C21.6864 15.4116 21.8373 15.4691 21.9883 15.4691C22.1393 15.4691 22.2904 15.4115 22.4056 15.2962L22.9101 14.7915C22.913 14.7888 22.9161 14.7864 22.919 14.7835C23.0814 14.6208 23.2989 14.5313 23.5316 14.5313C23.7644 14.5313 23.982 14.6208 24.145 14.7841C24.482 15.1208 24.4817 15.6698 24.145 16.0072L23.632 16.5196C23.6318 16.5198 23.6316 16.52 23.6314 16.5201C23.6312 16.5203 23.631 16.5206 23.6308 16.5207L22.8166 17.334C22.5861 17.5643 22.5858 17.9379 22.8161 18.1685C22.9314 18.2839 23.0825 18.3416 23.2336 18.3416C23.3845 18.3416 23.5355 18.284 23.6507 18.169L24.0489 17.7712L25.9577 19.6778L20.5229 25.1061L18.5756 23.1611C18.7113 23.0738 18.8412 22.9711 18.9632 22.8492L19.4879 22.3251C19.7185 22.0949 19.7188 21.7213 19.4884 21.4907ZM29.3954 22.2215L23.0707 28.5385C22.9227 28.6863 22.7247 28.7676 22.5131 28.7676C22.3014 28.7676 22.1034 28.6863 21.9554 28.5384L20.9126 27.4969C20.7648 27.3494 20.6834 27.1519 20.6834 26.9409C20.6834 26.73 20.7648 26.5325 20.9126 26.3849L27.2372 20.0679C27.3852 19.9201 27.5832 19.8387 27.7949 19.8387C28.0066 19.8387 28.2046 19.9201 28.353 20.0683L29.3954 21.1078C29.5432 21.2554 29.6246 21.4531 29.6246 21.6646C29.6245 21.8762 29.5431 22.0739 29.3954 22.2215Z")
      path(d="M7.96914 3.31464C8.08434 3.4296 8.23516 3.48703 8.38598 3.48703C8.53715 3.48703 8.68838 3.42925 8.80363 3.31377C9.03385 3.08308 9.0335 2.70949 8.80281 2.47927L6.65254 0.333277C6.42191 0.103062 6.04826 0.103355 5.81804 0.334097C5.58783 0.564781 5.58818 0.938374 5.81886 1.16859L7.96914 3.31464Z")
      path(d="M23.2237 3.48707C23.3746 3.48707 23.5255 3.42953 23.6407 3.31451L25.7893 1.16845C26.0199 0.938179 26.0201 0.564526 25.7898 0.33396C25.5595 0.103394 25.1859 0.103159 24.9553 0.333491L22.8067 2.47955C22.5761 2.70982 22.5759 3.08347 22.8062 3.31404C22.9214 3.42941 23.0726 3.48707 23.2237 3.48707Z")
      path(d="M4.53795 25.3831C4.30949 25.6155 4.31266 25.9891 4.5451 26.2176L4.5468 26.2192C4.66147 26.332 4.81036 26.3881 4.95918 26.3881C5.11194 26.3881 5.26469 26.329 5.38041 26.2113C5.60887 25.9789 5.60483 25.6044 5.37245 25.3759C5.14012 25.1475 4.76653 25.1507 4.53795 25.3831Z")
      path(d="M20.9317 20.6407C21.0215 20.6407 21.1125 20.6203 21.198 20.5772C21.489 20.4304 21.6059 20.0756 21.4592 19.7846C21.3124 19.4936 20.9575 19.3767 20.6666 19.5234L20.6633 19.5251C20.3723 19.6719 20.2571 20.0259 20.4038 20.3169C20.5074 20.5224 20.7157 20.6407 20.9317 20.6407Z")
    symbol#white-house(viewBox="0 0 31 31", fill="currentColor")
      path(d="M5.25168 22.1794C4.76629 22.1794 4.37277 22.5729 4.37277 23.0583V24.8161C4.37277 25.3015 4.76629 25.695 5.25168 25.695C5.73707 25.695 6.13058 25.3015 6.13058 24.8161V23.0583C6.13058 22.5729 5.73707 22.1794 5.25168 22.1794Z")
      path(d="M5.25168 16.9059C4.76629 16.9059 4.37277 17.2995 4.37277 17.7849V19.5427C4.37277 20.0281 4.76629 20.4216 5.25168 20.4216C5.73707 20.4216 6.13058 20.0281 6.13058 19.5427V17.7849C6.13058 17.2995 5.73707 16.9059 5.25168 16.9059Z")
      path(d="M26.4626 22.1794C25.9772 22.1794 25.5837 22.5729 25.5837 23.0583V24.8161C25.5837 25.3015 25.9772 25.695 26.4626 25.695C26.948 25.695 27.3415 25.3015 27.3415 24.8161V23.0583C27.3415 22.5729 26.948 22.1794 26.4626 22.1794Z")
      path(d="M26.4626 16.9059C25.9772 16.9059 25.5837 17.2995 25.5837 17.7849V19.5427C25.5837 20.0281 25.9772 20.4216 26.4626 20.4216C26.948 20.4216 27.3415 20.0281 27.3415 19.5427V17.7849C27.3415 17.2995 26.948 16.9059 26.4626 16.9059Z")
      path(d="M29.9782 13.3903H29.0993V10.7536C29.0993 10.2682 28.7058 9.87469 28.2204 9.87469H27.3415V7.23798C27.3415 6.75259 26.948 6.35907 26.4626 6.35907H22.8884C22.403 6.35907 22.0095 6.75259 22.0095 7.23798V9.87469H16.7361V6.77954C16.8399 6.86011 16.9469 6.94776 17.0575 7.03852C17.6431 7.51899 18.3719 8.11688 19.3728 8.11688C19.8582 8.11688 20.2517 7.72337 20.2517 7.23798V3.72235C20.2517 3.23696 19.8582 2.84344 19.3728 2.84344C19.0006 2.84344 18.6169 2.52856 18.1724 2.16393C17.5868 1.68352 16.858 1.08563 15.8571 1.08563C15.3718 1.08563 14.9782 1.47915 14.9782 1.96454V9.87469H9.7048V7.23798C9.7048 6.75259 9.31129 6.35907 8.8259 6.35907H5.25168C4.76629 6.35907 4.37277 6.75259 4.37277 7.23798V9.87469H3.49387C3.00848 9.87469 2.61496 10.2682 2.61496 10.7536V13.3903H1.73605C1.25066 13.3903 0.857147 13.7838 0.857147 14.2692V28.3317C0.857147 28.8171 1.25066 29.2106 1.73605 29.2106H29.9782C30.4636 29.2106 30.8571 28.8171 30.8571 28.3317V14.2692C30.8571 13.7838 30.4636 13.3903 29.9782 13.3903ZM19.7368 13.3903L17.979 11.6325H27.3415V13.3903H19.7368ZM18.7513 14.8907C18.7513 14.8907 18.7513 14.8907 18.7513 14.8907L20.7665 16.9059H10.9478L12.963 14.8907C12.963 14.8907 12.963 14.8907 12.963 14.8907L15.8571 11.9966L18.7513 14.8907ZM13.2204 18.6638V27.4528H11.4626V18.6638H13.2204ZM14.9782 18.6638H16.7361V27.4528H14.9782V18.6638ZM18.4939 18.6638H20.2517V27.4528H18.4939V18.6638ZM23.7673 8.11688H25.5837V9.87469H23.7673V8.11688ZM18.4939 4.442V5.9386C18.39 5.85809 18.283 5.77038 18.1724 5.67962C17.7736 5.35243 17.3083 4.97098 16.7361 4.76075V3.26391C16.8399 3.34448 16.9469 3.43214 17.0575 3.5229C17.4563 3.85014 17.9215 4.23177 18.4939 4.442ZM6.13058 8.11688H7.94699V9.87469H6.13058V8.11688ZM4.37277 11.6325H13.7353L11.9775 13.3903H4.37277V11.6325ZM2.61496 15.1481H10.2197L8.20439 17.1634C7.95303 17.4148 7.87785 17.7928 8.01385 18.1212C8.1499 18.4497 8.47035 18.6638 8.82584 18.6638H9.70474V27.4529H2.61496V15.1481ZM29.0993 27.4528H22.0095V18.6638H22.8884C23.2439 18.6638 23.5643 18.4496 23.7004 18.1212C23.8364 17.7928 23.7612 17.4147 23.5098 17.1633L21.4946 15.1481H29.0993V27.4528Z")
    symbol#money(viewBox="0 0 511.999 511.999", fill="currentColor")
      path(d="M226.368,269.883L94.973,211.912c-4.969-2.19-10.565,1.453-10.565,6.887c0,4.95,0,167.089,0,171.197    c0,5.441,3.217,10.376,8.195,12.573l127.689,56.336c0.972,0.429,2.007,0.64,3.038,0.64c1.438,0,2.869-0.411,4.111-1.221    c2.132-1.39,3.417-3.762,3.417-6.306c0-4.368,0-170.31,0-175.248C230.857,273.787,229.097,271.087,226.368,269.883z     M215.801,440.469l-116.34-51.328V277.01l116.34,51.329V440.469z M215.801,311.884l-116.34-51.33v-30.206l116.34,51.329V311.884z")
      path(d="M258.072,79.639V62.855c6.389,0.478,8.583,3.529,11.253,3.529c3.529,0,5.054-4.387,5.054-6.58    c0-5.532-10.109-7.343-16.307-7.534v-2.48c0-1.238-1.621-2.384-3.242-2.384c-1.813,0-3.242,1.145-3.242,2.384v2.671    c-9.536,1.24-18.501,6.484-18.501,18.595c0,12.206,9.823,15.925,18.501,19.167V109.2c-8.391-0.953-11.253-7.152-14.877-7.152    c-2.956,0-5.339,4.005-5.339,6.675c0,5.34,8.677,11.539,20.217,11.825v2.67c0,1.24,1.43,2.384,3.242,2.384    c1.621,0,3.242-1.144,3.242-2.384v-2.956c10.681-1.717,18.023-8.488,18.023-20.217C276.095,87.077,266.558,82.786,258.072,79.639z     M252.35,77.541c-4.387-1.717-7.63-3.529-7.63-7.724c0-3.624,2.861-5.913,7.63-6.675V77.541z M257.309,109.106V92.513    c4.101,1.813,7.153,4.101,7.153,8.774C264.462,105.769,261.505,108.247,257.309,109.106z")
      path(d="M452.735,310.667c-4.158,0-7.527,3.369-7.527,7.527v93.42c0,0.704-0.417,1.343-1.06,1.627l-180.622,79.688V246.986    l47.118-20.788l134.563-59.369v116.238c0,4.158,3.369,7.527,7.527,7.527c4.158,0,7.527-3.369,7.527-7.527    c0-4.347-0.001-129.424-0.001-127.798c0.001-2.998-1.812-5.713-4.523-6.892L345.944,100.63    c5.206-48.647-28.152-91.047-72.89-100.459c-4.069-0.863-8.059,1.747-8.915,5.816c-0.857,4.068,1.747,8.059,5.816,8.915    c57.266,12.051,81.593,82.111,42.081,126.932h-15.874c47.162-38.462,20.511-117.362-42.237-117.362    c-62.067,0-89.831,77.768-42.007,117.362h-16.104c-39.238-44.521-15.478-114.845,42.111-126.938    c4.069-0.854,6.674-4.845,5.82-8.913c-0.855-4.07-4.849-6.676-8.913-5.82c-46.04,9.667-78.858,53.633-72.733,102.188    L56.262,148.378c-2.647,1.15-4.473,3.799-4.518,6.791c0,0.031-0.007,0.061-0.007,0.092c0,0.003,0.001,0.006,0.001,0.009    s-0.001,0.007-0.001,0.01v256.334c0,6.666,3.94,12.71,10.037,15.4l191.187,84.352c1.872,0.824,4.108,0.867,6.078,0l191.188-84.351    c6.096-2.692,10.035-8.736,10.035-15.4v-93.42C460.263,314.036,456.893,310.667,452.735,310.667z M253.925,39.525    c22.535,0,42.169,14.443,48.855,35.94c13.709,44.071-33.015,80.842-72.172,60.74C182.796,111.63,200.613,39.525,253.925,39.525z     M66.79,411.614V166.829c5.127,2.261,177.523,78.322,181.681,80.157V492.93L67.85,413.24    C67.206,412.957,66.79,412.318,66.79,411.614z M255.999,233.853L78.025,155.33l87.273-37.953    c2.603,8.609,6.484,16.846,11.569,24.457h-4.337c-4.157,0-7.527,3.369-7.527,7.527c0,4.158,3.37,7.527,7.527,7.527    c5.649,0,152.255,0,162.823,0c4.158,0,7.527-3.369,7.527-7.527c0-4.158-3.369-7.527-7.527-7.527h-4.371    c5.399-8.081,9.437-16.871,12.034-26.06l90.96,39.557L255.999,233.853z")
      path(d="M196.681,349.946l-72.653-32.054c-3.805-1.675-8.247,0.046-9.925,3.849c-1.678,3.804,0.045,8.247,3.848,9.926    l72.653,32.054c3.823,1.683,8.254-0.061,9.925-3.849C202.207,356.067,200.484,351.625,196.681,349.946z")
      path(d="M196.681,383.826l-72.653-32.055c-3.804-1.675-8.247,0.046-9.925,3.849c-1.678,3.804,0.045,8.247,3.848,9.925    l72.653,32.054c3.806,1.68,8.248-0.046,9.925-3.848C202.207,389.946,200.484,385.504,196.681,383.826z")
    symbol#picture(viewBox="0 0 480 480", fill="currentColor")
      path(d="M440,72H40c-22.08,0.026-39.974,17.92-40,40v256c0.026,22.08,17.92,39.974,40,40h400     c2.245,0.009,4.486-0.187,6.696-0.584C465.945,404.194,480.037,387.517,480,368V112C479.974,89.919,462.08,72.026,440,72z      M40,392c-12.435-0.002-22.81-9.501-23.904-21.888L175.6,265.824L337.808,392H40z M464,368     c0.013,11.742-8.492,21.761-20.08,23.656c-1.294,0.233-2.606,0.348-3.92,0.344h-76.136l-105.992-82.488l94.784-75.792     L464,300.528V368z M464,281.872l-107.88-64.728c-2.868-1.725-6.506-1.482-9.12,0.608l-102.136,81.68l-63.96-49.744     c-2.695-2.094-6.421-2.249-9.28-0.384L16,351.056V112c0-13.255,10.745-24,24-24h400c13.255,0,24,10.745,24,24V281.872z")
      path(d="M240,120c-26.51,0-48,21.49-48,48c0.026,26.499,21.501,47.974,48,48c26.51,0,48-21.49,48-48     C288,141.49,266.51,120,240,120z M240,200c-17.673,0-32-14.327-32-32s14.327-32,32-32c17.673,0,32,14.327,32,32     S257.673,200,240,200z")
    symbol#zoom(viewBox="0 0 36 36", fill="currentColor")
      path(fill-rule="evenodd" clip-rule="evenodd" d="M23.49 21.298h-1.154l-.41-.395a9.462 9.462 0 002.296-6.186 9.504 9.504 0 00-9.505-9.504 9.504 9.504 0 00-9.505 9.504 9.504 9.504 0 009.505 9.505 9.463 9.463 0 006.185-2.296l.395.41v1.155l7.312 7.297 2.178-2.18-7.296-7.31zm-8.773 0a6.571 6.571 0 01-6.58-6.58c0-3.642 2.94-6.58 6.58-6.58 3.641 0 6.58 2.938 6.58 6.58 0 3.64-2.939 6.58-6.58 6.58zm-.731-10.236h1.462v2.924h2.925v1.462h-2.925v2.925h-1.462v-2.925h-2.925v-1.462h2.925v-2.924z")
    symbol#play(viewBox="0 0 61 60", fill="currentColor")
      path(fill-rule="evenodd" clip-rule="evenodd" d="M5.43164 30C5.43164 16.2 16.6618 5 30.499 5C44.3362 5 55.5664 16.2 55.5664 30C55.5664 43.8 44.3362 55 30.499 55C16.6618 55 5.43164 43.8 5.43164 30ZM40.526 30L25.4856 18.75V41.25L40.526 30Z")
    symbol#ui(viewBox="0 0 512 512", fill="currentColor")
      path(d="m377.442 210.448h56.26c4.447 17.114 20.027 29.786 38.512 29.786 21.938 0 39.786-17.848 39.786-39.786s-17.848-39.785-39.786-39.785c-18.485 0-34.065 12.672-38.512 29.785h-56.26v-33.516c0-24.395-19.846-44.24-44.24-44.24h-217.62c.452-9.587 8.37-17.254 18.068-17.254h300.052c4.447 17.113 20.027 29.785 38.512 29.785 21.938 0 39.786-17.848 39.786-39.785 0-21.938-17.848-39.786-39.786-39.786-18.485 0-34.065 12.673-38.512 29.786h-300.052c-20.727 0-37.63 16.635-38.09 37.254h-51.32c-24.394 0-44.24 19.846-44.24 44.24v212.694c0 24.394 19.846 44.239 44.24 44.239h105.685l-3.602 32.481h-24.413c-5.523 0-10 4.478-10 10s4.477 10 10 10h133.465c5.523 0 10-4.478 10-10s-4.477-10-10-10h-24.414l-3.602-32.481h105.843c24.394 0 44.24-19.846 44.24-44.239 0-17.105 0-50.488 0-66.361h56.26c4.447 17.114 20.027 29.786 38.512 29.786 21.938 0 39.786-17.848 39.786-39.786s-17.848-39.786-39.786-39.786c-18.485 0-34.065 12.673-38.512 29.786h-56.26zm94.772-29.785c10.91 0 19.786 8.876 19.786 19.785 0 10.91-8.876 19.786-19.786 19.786s-19.786-8.876-19.786-19.786c0-10.909 8.876-19.785 19.786-19.785zm0-115.011c10.91 0 19.786 8.876 19.786 19.786 0 10.909-8.876 19.785-19.786 19.785s-19.786-8.876-19.786-19.785c0-10.91 8.876-19.786 19.786-19.786zm0 207.827c10.91 0 19.786 8.876 19.786 19.786s-8.876 19.786-19.786 19.786-19.786-8.876-19.786-19.786 8.876-19.786 19.786-19.786zm-261.376 172.869h-44.392l3.602-32.481h37.189zm146.604-105.902h-33.109c-5.523 0-10 4.478-10 10s4.477 10 10 10h33.109v9.181c0 13.365-10.874 24.239-24.24 24.239-10.015 0-274.856 0-288.962 0-13.366 0-24.24-10.874-24.24-24.239v-9.181h224.333c5.523 0 10-4.478 10-10s-4.477-10-10-10h-224.333v-183.513c0-13.366 10.874-24.24 24.24-24.24h51.298v34.976h-30.668c-14.676 0-26.617 11.94-26.617 26.616v103.395c0 14.677 11.94 26.617 26.617 26.617h81.337c14.676 0 26.616-11.94 26.616-26.617v-103.396c0-14.676-11.94-26.616-26.616-26.616h-30.668v-34.976h217.664c13.366 0 24.24 10.874 24.24 24.24v33.516h-18.255c-.027-12.566-10.257-22.78-22.829-22.78h-107.821c-12.589 0-22.831 10.241-22.831 22.83v19.901c0 12.589 10.242 22.83 22.831 22.83h107.821c12.573 0 22.803-10.215 22.829-22.781h18.255v72.817h-18.331c-.922-11.75-10.77-21.03-22.753-21.03h-107.821c-12.589 0-22.831 10.241-22.831 22.83v16.4c0 12.589 10.242 22.831 22.831 22.831h107.821c11.983 0 21.831-9.281 22.753-21.031h18.331v37.181zm-211.235-152.778c3.648 0 6.616 2.968 6.616 6.616v103.396c0 3.648-2.968 6.617-6.616 6.617h-81.337c-3.648 0-6.617-2.969-6.617-6.617v-103.396c0-3.648 2.968-6.616 6.617-6.616zm172.982 2.83v19.901c0 1.561-1.27 2.83-2.831 2.83h-107.82c-1.561 0-2.831-1.27-2.831-2.83v-19.901c0-1.561 1.27-2.83 2.831-2.83h107.821c1.56 0 2.83 1.27 2.83 2.83zm0 94.567v16.4c0 1.562-1.27 2.831-2.831 2.831h-107.82c-1.561 0-2.831-1.27-2.831-2.831v-16.4c0-1.561 1.27-2.83 2.831-2.83h107.821c1.56 0 2.83 1.27 2.83 2.83z")
      path(d="m202.388 367.656h-27.333c-5.523 0-10 4.478-10 10s4.477 10 10 10h27.333c5.523 0 10-4.478 10-10s-4.477-10-10-10z")
      path(d="m81.394 277.393c4.37 3.36 10.65 2.553 14.022-1.834l10.122-13.168 10.122 13.168c3.372 4.386 9.648 5.195 14.022 1.834 4.379-3.366 5.2-9.645 1.834-14.023l-13.365-17.387 13.365-17.387c3.366-4.379 2.545-10.657-1.834-14.023-4.378-3.366-10.657-2.544-14.022 1.834l-10.122 13.168-10.122-13.168c-3.365-4.377-9.644-5.198-14.022-1.834-4.379 3.366-5.2 9.645-1.834 14.023l13.365 17.387-13.365 17.386c-3.366 4.379-2.545 10.657 1.834 14.024z")
      path(d="m284.358 340.446h-.025c-5.523 0-9.987 4.478-9.987 10s4.489 10 10.012 10 10-4.478 10-10-4.477-10-10-10z")   
    symbol#search(viewBox="0 0 25 22", fill="currentColor")
      g(clip-path="url(#clip0)")
        path(d="M11.5596 0.296326C5.72964 0.296326 0.986328 4.50363 0.986328 9.67476C0.986328 14.8462 5.72964 19.0532 11.5596 19.0532C17.3898 19.0532 22.1328 14.8462 22.1328 9.67476C22.1328 4.50363 17.3898 0.296326 11.5596 0.296326ZM11.5596 17.3218C6.80584 17.3218 2.93831 13.8913 2.93831 9.67481C2.93831 5.45826 6.80584 2.02773 11.5596 2.02773C16.3133 2.02773 20.1808 5.45822 20.1808 9.67476C20.1808 13.8913 16.3133 17.3218 11.5596 17.3218Z", fill="#F9F9F9")
        path(d="M24.7109 20.1148L19.1153 15.1515C18.734 14.8133 18.1165 14.8133 17.7352 15.1515C17.3539 15.4894 17.3539 16.0377 17.7352 16.3756L23.3309 21.339C23.5215 21.5081 23.7711 21.5926 24.0209 21.5926C24.2704 21.5926 24.5203 21.5081 24.7109 21.339C25.0922 21.0011 25.0922 20.4528 24.7109 20.1148Z", fill="#F9F9F9")
      defs
        clipPath#clip0
          rect(x="0.986328", y="0.296326", fill="white")
    symbol#sun(viewBox="0 0 27 25", fill="currentColor")
      g(clip-path="url(#clip0)")
        path(d="M13.5069 18.639C17.3605 18.639 20.4845 15.849 20.4845 12.4074C20.4845 8.96573 17.3605 6.17572 13.5069 6.17572C9.65327 6.17572 6.5293 8.96573 6.5293 12.4074C6.5293 15.849 9.65327 18.639 13.5069 18.639Z", fill="#FFE07D")
        path(d="M13.5069 18.639C17.3605 18.639 20.4845 15.849 20.4845 12.4074C20.4845 8.96573 17.3605 6.17572 13.5069 6.17572C9.65327 6.17572 6.5293 8.96573 6.5293 12.4074C6.5293 15.849 9.65327 18.639 13.5069 18.639Z", fill="#FFE07D")
        path(d="M13.5078 6.17572C13.3038 6.17572 13.1019 6.184 12.9023 6.19932C16.4724 6.47345 19.2745 9.14798 19.2745 12.4074C19.2745 15.6668 16.4724 18.3413 12.9023 18.6154C13.1019 18.6308 13.3038 18.639 13.5078 18.639C17.3614 18.639 20.4854 15.849 20.4854 12.4074C20.4854 8.96573 17.3614 6.17572 13.5078 6.17572Z", fill="#FFD064")
        path(d="M13.5081 4.97048C13.2901 4.97048 13.1133 4.81259 13.1133 4.61784V0.723009C13.1133 0.528253 13.2901 0.370361 13.5081 0.370361C13.7262 0.370361 13.903 0.528253 13.903 0.723009V4.61784C13.903 4.81259 13.7262 4.97048 13.5081 4.97048Z", fill="#FFE07D")
        path(d="M7.33987 7.25192C7.23878 7.25192 7.13775 7.2175 7.06068 7.14862L3.97698 4.39458C3.82278 4.25686 3.82278 4.03357 3.97698 3.89589C4.13119 3.75817 4.38121 3.75817 4.53537 3.89589L7.61906 6.64993C7.77327 6.78765 7.77327 7.01095 7.61906 7.14862C7.54198 7.2175 7.4409 7.25192 7.33987 7.25192Z", fill="#FFE07D")
        path(d="M4.7852 12.76H0.424157C0.206089 12.76 0.0292969 12.6022 0.0292969 12.4074C0.0292969 12.2126 0.206089 12.0547 0.424157 12.0547H4.7852C5.00326 12.0547 5.18006 12.2126 5.18006 12.4074C5.18006 12.6022 5.00326 12.76 4.7852 12.76Z", fill="#FFE07D")
        path(d="M4.25617 21.0221C4.15509 21.0221 4.05406 20.9877 3.97698 20.9188C3.82278 20.7811 3.82278 20.5578 3.97698 20.4201L7.06068 17.6661C7.21488 17.5284 7.46491 17.5284 7.61906 17.6661C7.77327 17.8038 7.77327 18.0271 7.61906 18.1648L4.53537 20.9189C4.45829 20.9877 4.35726 21.0221 4.25617 21.0221Z", fill="#FFE07D")
        path(d="M13.5081 24.4444C13.2901 24.4444 13.1133 24.2865 13.1133 24.0918V20.197C13.1133 20.0023 13.2901 19.8444 13.5081 19.8444C13.7262 19.8444 13.903 20.0023 13.903 20.197V24.0918C13.903 24.2865 13.7262 24.4444 13.5081 24.4444Z", fill="#FFE07D")
        path(d="M22.7578 21.0222C22.6568 21.0222 22.5557 20.9878 22.4786 20.9189L19.395 18.1648C19.2407 18.0271 19.2407 17.8038 19.395 17.6661C19.5492 17.5284 19.7992 17.5284 19.9533 17.6661L23.037 20.4201C23.1912 20.5579 23.1912 20.7811 23.037 20.9188C22.96 20.9877 22.8589 21.0222 22.7578 21.0222Z", fill="#FFE07D")
        path(d="M26.5898 12.76H22.2288C22.0108 12.76 21.834 12.6022 21.834 12.4074C21.834 12.2126 22.0108 12.0547 22.2288 12.0547H26.5898C26.8079 12.0547 26.9847 12.2126 26.9847 12.4074C26.9847 12.6022 26.8079 12.76 26.5898 12.76Z", fill="#FFE07D")
        path(d="M19.6741 7.25192C19.5731 7.25192 19.472 7.2175 19.395 7.14862C19.2407 7.0109 19.2407 6.7876 19.395 6.64993L22.4786 3.89589C22.6329 3.75817 22.8829 3.75817 23.037 3.89589C23.1912 4.03361 23.1912 4.25691 23.037 4.39458L19.9533 7.14862C19.8763 7.2175 19.7752 7.25192 19.6741 7.25192Z", fill="#FFE07D")
        path(d="M10.169 5.56347C10.0141 5.56347 9.8671 5.48147 9.80408 5.34568L8.96961 3.54652C8.88616 3.36657 8.98183 3.1603 9.18331 3.08577C9.38474 3.01125 9.61571 3.09668 9.69921 3.27663L10.5337 5.07579C10.6171 5.25573 10.5215 5.46201 10.32 5.53653C10.2706 5.55482 10.2194 5.56347 10.169 5.56347Z", fill="#FFF0AF")
        path(d="M5.44838 9.77915C5.398 9.77915 5.34682 9.77049 5.29744 9.7522L3.28292 9.00694C3.08144 8.93242 2.98577 8.72609 3.06922 8.5462C3.15267 8.36625 3.38369 8.28087 3.58512 8.35534L5.59964 9.10061C5.80112 9.17513 5.89678 9.38145 5.81334 9.56135C5.75037 9.69714 5.60332 9.77915 5.44838 9.77915Z", fill="#FFF0AF")
        path(d="M3.43418 16.4864C3.27923 16.4864 3.13219 16.4044 3.06922 16.2686C2.98577 16.0886 3.08144 15.8824 3.28292 15.8078L5.29744 15.0626C5.49892 14.988 5.72989 15.0735 5.81334 15.2534C5.89678 15.4334 5.80112 15.6396 5.59964 15.7142L3.58512 16.4594C3.53573 16.4777 3.48456 16.4864 3.43418 16.4864Z", fill="#FFF0AF")
        path(d="M9.33425 21.7559C9.28392 21.7559 9.23269 21.7473 9.18331 21.729C8.98183 21.6544 8.88616 21.4481 8.96961 21.2682L9.80408 19.4691C9.88753 19.2891 10.1186 19.2037 10.32 19.2782C10.5215 19.3527 10.6171 19.5591 10.5337 19.739L9.69921 21.5381C9.63624 21.6739 9.48919 21.7559 9.33425 21.7559Z", fill="#FFF0AF")
        path(d="M17.6788 21.7559C17.5239 21.7559 17.3769 21.6739 17.3138 21.5381L16.4794 19.739C16.3959 19.559 16.4916 19.3527 16.6931 19.2782C16.8945 19.2037 17.1255 19.2891 17.209 19.4691L18.0434 21.2682C18.1269 21.4482 18.0312 21.6544 17.8297 21.729C17.7804 21.7473 17.7292 21.7559 17.6788 21.7559Z", fill="#FFF0AF")
        path(d="M23.5792 16.4863C23.5289 16.4863 23.4777 16.4777 23.4283 16.4594L21.4138 15.7141C21.2123 15.6396 21.1166 15.4333 21.2001 15.2534C21.2835 15.0734 21.5146 14.988 21.716 15.0625L23.7305 15.8078C23.932 15.8823 24.0276 16.0886 23.9442 16.2685C23.8812 16.4043 23.7342 16.4863 23.5792 16.4863Z", fill="#FFF0AF")
        path(d="M21.565 9.77919C21.4101 9.77919 21.263 9.69719 21.2001 9.56139C21.1166 9.38145 21.2123 9.17518 21.4138 9.10065L23.4283 8.35539C23.6298 8.28095 23.8607 8.36629 23.9442 8.54624C24.0276 8.72618 23.932 8.93246 23.7305 9.00699L21.716 9.75225C21.6666 9.77054 21.6154 9.77919 21.565 9.77919Z", fill="#FFF0AF")
        path(d="M16.844 5.56349C16.7937 5.56349 16.7425 5.55484 16.6931 5.53655C16.4916 5.46203 16.3959 5.2557 16.4794 5.07581L17.3138 3.27664C17.3973 3.0967 17.6283 3.01122 17.8297 3.08579C18.0312 3.16032 18.1269 3.36664 18.0434 3.54654L17.209 5.3457C17.146 5.48149 16.999 5.56349 16.844 5.56349Z", fill="#FFF0AF")
      defs
        clipPath#clip0
          rect(transform="translate(0.0292969 0.370361)") 
    symbol#book(viewBox="0 0 40 40" fill="currentColor")
      path(d="M39.2247 8.03876C39.222 8.03876 39.2194 8.03876 39.2169 8.03876H36.5885V7.13936C36.6026 6.78338 36.3724 6.46346 36.0302 6.36402C34.2055 5.88582 32.3264 5.64605 30.44 5.6507C27.3386 5.6507 23.113 6.34851 19.9884 9.52742C16.887 6.3175 12.6304 5.6507 9.53673 5.6507C7.65032 5.64605 5.77127 5.88582 3.9465 6.36402C3.60438 6.46346 3.3741 6.78338 3.38825 7.13936V8.03101H0.775344C0.34716 8.03101 0 8.37817 0 8.80635V33.5708C0 33.999 0.34716 34.3462 0.775344 34.3462C0.908509 34.3458 1.03935 34.3111 1.15526 34.2454C1.2328 34.2066 8.98624 29.9655 19.81 32.6947H19.9263H19.9961C20.058 32.7022 20.1204 32.7022 20.1822 32.6947C31.037 29.9422 38.7905 34.1756 38.837 34.2454C39.0769 34.3839 39.3725 34.3839 39.6123 34.2454C39.8507 34.1078 39.9984 33.8539 40 33.5786V8.8141C40 8.38592 39.6529 8.03876 39.2247 8.03876ZM1.55069 32.338V9.58945H3.40376V29.0351C3.39891 29.4633 3.7421 29.8143 4.17028 29.8191C4.21215 29.8196 4.25402 29.8167 4.29541 29.8104C5.8994 29.5655 7.5188 29.4359 9.14131 29.4228C11.3888 29.3838 13.627 29.7218 15.7627 30.4229C10.9396 29.8397 6.04739 30.4989 1.55069 32.338ZM9.14131 27.8798C7.73105 27.883 6.32245 27.9736 4.92343 28.1512V7.75188C6.43303 7.41558 7.97461 7.24394 9.52122 7.24016C12.421 7.24016 16.4218 7.90695 19.1975 11.0393L19.2208 30.3532C17.6081 29.2987 14.4602 27.8798 9.14131 27.8798ZM20.7715 11.0393C23.5472 7.93797 27.548 7.24016 30.4478 7.24016C31.9943 7.24471 33.5359 7.41626 35.0456 7.75188V28.1512C33.6544 27.972 32.2535 27.8787 30.8509 27.8721C25.5631 27.8721 22.4074 29.2909 20.7715 30.3454V11.0393ZM38.4416 32.338C33.9353 30.4939 29.0318 29.8346 24.1985 30.4229C26.3443 29.7193 28.5931 29.3812 30.8509 29.4228C32.4836 29.4319 34.1135 29.5588 35.7279 29.8027C36.1512 29.8669 36.5465 29.5758 36.6108 29.1524C36.6171 29.1111 36.62 29.0692 36.6195 29.0273V9.58945H38.4726L38.4416 32.338Z", fill="#ECDEED")
    symbol#pdf(viewBox="0 0 40 40" fill="currentColor")
      path(d="M9.97977 16.3281H7.50001C7.1886 16.3281 6.88993 16.4521 6.67001 16.6727C6.45008 16.8932 6.32712 17.1923 6.32813 17.5038L6.3454 26.4057C6.3454 27.0529 6.87008 27.5776 7.51727 27.5776C8.16446 27.5776 8.68915 27.0529 8.68915 26.4057V23.7028C9.16829 23.7004 9.68016 23.6983 9.97977 23.6983C12.0388 23.6983 13.7141 22.0452 13.7141 20.0132C13.7141 17.9813 12.0388 16.3281 9.97977 16.3281ZM9.97977 21.3545C9.67751 21.3545 9.16376 21.3566 8.68274 21.3591C8.68024 20.8602 8.67805 20.323 8.67805 20.0132C8.67805 19.7481 8.67673 19.1934 8.67532 18.6719H9.97969C10.7334 18.6719 11.3702 19.2861 11.3702 20.0132C11.3702 20.7403 10.7335 21.3545 9.97977 21.3545Z", fill="white")
      path(d="M19.9477 16.3281H17.5C17.1888 16.3281 16.8904 16.4519 16.6705 16.6721C16.4507 16.8923 16.3275 17.191 16.3281 17.5022C16.3281 17.5023 16.3455 26.1152 16.3456 26.1464C16.3468 26.4573 16.4713 26.7549 16.692 26.9739C16.9116 27.1919 17.2083 27.3141 17.5175 27.3141H17.522C17.5959 27.3137 19.3418 27.3071 20.0398 27.2949C22.6877 27.2487 24.6096 24.9466 24.6096 21.8211C24.6095 18.5356 22.7361 16.3281 19.9477 16.3281ZM19.9988 24.9516C19.6953 24.9569 19.1731 24.9612 18.6855 24.9643C18.6822 23.9464 18.6758 19.7297 18.674 18.6719H19.9477C22.0987 18.6719 22.2658 21.0823 22.2658 21.8212C22.2658 23.3596 21.5648 24.9242 19.9988 24.9516Z", fill="white")
      path(d="M32.333 18.5814C32.9802 18.5814 33.5049 18.0567 33.5049 17.4095C33.5049 16.7623 32.9802 16.2377 32.333 16.2377H28.75C28.1028 16.2377 27.5781 16.7623 27.5781 17.4095V26.25C27.5781 26.8972 28.1028 27.4219 28.75 27.4219C29.3972 27.4219 29.9219 26.8972 29.9219 26.25V22.918H32.0484C32.6956 22.918 33.2203 22.3933 33.2203 21.7461C33.2203 21.0989 32.6956 20.5742 32.0484 20.5742H29.9219V18.5814H32.333Z", fill="white")
      path(d="M35.7812 11.3281H34.9219V10.9938C34.9219 9.48742 34.3511 8.05578 33.3147 6.9625L28.4471 1.82805C27.3457 0.666328 25.7959 0 24.1949 0H8.59375C6.65523 0 5.07812 1.57711 5.07812 3.51562V11.3281H4.21875C2.28023 11.3281 0.703125 12.9052 0.703125 14.8438V28.9062C0.703125 30.8448 2.28023 32.4219 4.21875 32.4219H5.07812V36.4844C5.07812 38.4229 6.65523 40 8.59375 40H31.4062C33.3448 40 34.9219 38.4229 34.9219 36.4844V32.4219H35.7812C37.7198 32.4219 39.2969 30.8448 39.2969 28.9062V14.8438C39.2969 12.9052 37.7198 11.3281 35.7812 11.3281ZM7.42188 3.51562C7.42188 2.86945 7.94758 2.34375 8.59375 2.34375H24.1949C25.1555 2.34375 26.0854 2.74352 26.7463 3.44063L31.6138 8.57508C32.2357 9.23102 32.5781 10.09 32.5781 10.9938V11.3281H7.42188V3.51562ZM32.5781 36.4844C32.5781 37.1305 32.0524 37.6562 31.4062 37.6562H8.59375C7.94758 37.6562 7.42188 37.1305 7.42188 36.4844V32.4219H32.5781V36.4844ZM36.9531 28.9062C36.9531 29.5524 36.4274 30.0781 35.7812 30.0781H4.21875C3.57258 30.0781 3.04688 29.5524 3.04688 28.9062V14.8438C3.04688 14.1976 3.57258 13.6719 4.21875 13.6719H35.7812C36.4274 13.6719 36.9531 14.1976 36.9531 14.8438V28.9062Z", fill="white")
    symbol#burger(viewBox="0 0 35 24", fill="currentColor")
      path(d="M33.5417 13.3847H1.45833C0.653331 13.3847 0 12.7644 0 12.0001C0 11.2358 0.653331 10.6155 1.45833 10.6155H33.5417C34.3467 10.6155 35 11.2358 35 12.0001C35 12.7644 34.3467 13.3847 33.5417 13.3847Z", fill="#ECDEED")
      path(d="M33.5417 2.76923H1.45833C0.653331 2.76923 0 2.14893 0 1.38462C0 0.620306 0.653331 0 1.45833 0H33.5417C34.3467 0 35 0.620306 35 1.38462C35 2.14893 34.3467 2.76923 33.5417 2.76923Z", fill="#ECDEED")
      path(d="M33.5417 23.9999H1.45833C0.653331 23.9999 0 23.3796 0 22.6153C0 21.851 0.653331 21.2307 1.45833 21.2307H33.5417C34.3467 21.2307 35 21.851 35 22.6153C35 23.3796 34.3467 23.9999 33.5417 23.9999Z", fill="#ECDEED")




