section.section--navigation
  .container
    .section__content
      .row
        each item in navigation.items
          .mb-3(class=`col-6 col-sm-${12 / navigation.columns}`)
            a.navigation__link(href=item.link, class=(navigation.align == 'center' && 'navigation__link--center'), class=(item.active && 'active' ))
              span.link__before ›
              span.link__text= item.text