html[lang="hy-AM"]
  section.section--navigation
    font-family: $font--dejavue

html[lang="en-US"]
  section.section--navigation
    font-family: $font--dejavue--en

html[lang="ru-RU"]
  section.section--navigation
    font-family: $font--dejavue--ru

section.section--navigation
  background-color: #fff
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 21px
  text-transform: uppercase

  .navigation__link
    display: inline-block
    width: 100%
    text-decoration: none
    color: #B69DB8

    &--center
      text-align: center

    &.active
      color: $color--primary

      .link__text
        text-decoration: underline

    &:hover
      color: $color--primary

    .link__before
      margin-right: 5px