header.header
  .overlay
  .container.d-flex.align-items-end.h-100
    .row
      .col--person
        img(src="/assets/img/header/person.png", alt="")
      .col.col--blockquote
        +blockquote({
          text: ` Ես երդում տված եմ եւ կպատկանամ մեկ մարդու, այդ մարդը հայրենիքի ազատության զինվորն է։... 
                  իմ նպատակն է կռվել Արցախի հաղթանակի համար, հանուն որի կյանքս ալ անգամ չեմ խնայե։... 
                  Ես երդում տված եմ...
                  Արցախը իմ առաջին պայքարը չէ, եւ վստահ եմ, որ վերջինը չի ըլլա...`
        })
  