header.header
  position: relative
    
  background: radial-gradient(100.17% 128.79% at 50% 50%, #B355AD 0%, #D44C32 100%)
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  @media screen and (min-width: $breakpoint--xl)
    height: 508px
  
  .container
    @media screen and (max-width: $breakpoint--lg)
      max-width: 100%

    .row
    
      .col--person
        z-index: 11

        display: flex
        align-items: flex-end

        height: auto
        max-width: 200px

        @media screen and (min-width: $breakpoint--lg)
          max-width: 250px

        @media screen and (min-width: $breakpoint--xl)
          max-width: 372px

        img
          max-width: 100%
          max-height: 100%
          

      .col--blockquote
        z-index: 11

        margin-bottom: 20px