.container
  .row.justify-content-center
    .col
      .copyright
        .copyright__text Բոլոր իրավունքները պաշտպանված են © azathayreniq.am
        .copyright__made-by Կայքը պատրաստված է 
          a(href="https://sky-tech.org/", target="_blank") SkyTech Studio