.header__top
  .container
    .row
      .col-auto.col--logo
        a.header__logo(href="/blog/index.html") Ակունք-պրեսս
      .col-auto.col--search
        .header__search
          form(action="#")
            .search__input
              input(type="text", class="search__input", placeholder="Որոնել")
              button.input__button(type="submit") 
                +svg('search')