html[lang="hy-AM"]
  .header__top
    .row
      .header__logo
        font-family: $font--dejavue__mono
      .header__search
        .search__input
          input
            font-family: $font--dejavue

html[lang="en-US"]
  .header__top
    .row
      .header__logo
        font-family: $font--dejavue--en
      .header__search
        .search__input
          input
            font-family: $font--dejavue--en
      
html[lang="ru-RU"]
  .header__top
    .row
      .header__logo
        font-family: $font--dejavue--ru
      .header__search
        .search__input
          input
            font-family: $font--dejavue--ru

.header__top
  padding: 10px 0

  background-color: #fff

  .row
    flex-direction: column

    @media screen and (min-width: $breakpoint--sm)
      flex-direction: row
      justify-content: space-between
      align-items: center

    .col--search
      width: 100%

      margin-top: 10px

      @media screen and (min-width: $breakpoint--sm)
        width: auto

        margin: 0

    .header__logo
      font-style: normal
      font-weight: normal
      text-decoration: none
      text-transform: uppercase
      font-size: 25px
      line-height: 29px

      color: $color--secondary
    
    .header__search
      width: 100%

      @media screen and (min-width: $breakpoint--sm)
        max-width: 370px

      .search__input
        position: relative

        input
          padding: 10px 20px

          width: 100%

          background: $color--background

          box-sizing: border-box

          border: 1px solid $color--border
          border-radius: 44px

          font-style: normal
          font-weight: 200
          font-size: 14px
          line-height: 16px

          &::placeholder
            color: #CDCDCD
            
            text-transform: uppercase
        
        .input__button
          position: absolute
          top: 0
          right: 0

          width: 40px
          height: 40px

          border: none
          border-radius: 50%
          
          background: linear-gradient(45deg, rgba(179, 85, 173, 0.6) 0%, rgba(212, 76, 50, 0.6) 100%)

          .svg--search
            width: 24px
            height: 24px