.person(class=`${person.thumbnail || 'person--noimage'}`)
  .person__thumbnail
    img.lazy(src=placeholderSrc, data-src=person.thumbnail ? person.thumbnail : placeholderSrc, data-srcset=person.thumbnail ? person.thumbnail : placeholderSrc)
  .person__name
    h4.person__title= person.name