.person
  position: relative

  background-color: white
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1)

  transition: box-shadow .3s

  &:hover
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2)

  &__thumbnail
    height: 250px

    background-color: $color--background

    img
      width: 50px
      height: 50px

      object-fit: contain
      object-position: center

  &:not(&--noimage)

    &__thumbnail

      img:not(.lazy)
        width: 100%
        height: 100%
    

  &--noimage

    .person__thumbnail
      
      img
        top: 50%
        left: 50%
        position: absolute
        transform: translate(-50%, -50%)

  &__name
    padding: 15px

  &__title
    font-size: 20px
    line-height: 23px
    text-align: center
    font-weight: normal