@font-face {
  font-family: 'ArTarumianHeghnar';
  src: local('ArTarumianHeghnar'), local('ArTarumianHeghnar'),
      url('../fonts/ArTarumianHeghnar/ArTarumianHeghnar-Regular-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}