html[lang="hy-AM"]
  .footer
    &__top
      .heading
        font-family: $font--anhok
      .logo
        &__text
          font-family: $font--dejavue
      .contact-form
      input,
      textarea
        input
          font-family: $font--dejavue
    &__bottom
      .copyright
        font-family: $font--dejavue

html[lang="en-US"]
  .footer
    &__top
      .heading
        font-family: $font--anhok--en
      .logo
        &__text
          font-family: $font--dejavue--en
      .contact-form
      input,
      textarea
        input
          font-family: $font--dejavue--en
    &__bottom
      .copyright
        font-family: $font--dejavue--en

html[lang="en-US"]
  .footer
    &__top
      .heading
        font-family: $font--anhok--ru
      .logo
        &__text
          font-family: $font--dejavue--ru
      .contact-form
      input,
      textarea
        input
          font-family: $font--dejavue--ru
    &__bottom
      .copyright
        font-family: $font--dejavue--ru

.footer
  color: #fff
  background-color: black

  &__top
    padding: 30px 0

    @media screen and (min-width: $breakpoint--lg)
      padding: 45px 0      

    .heading
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 21px

      margin-bottom: 15px

    .row--footer
      margin-left: -6px
      margin-right: -6px

    .col--footer
      padding: 0 6px
      margin-bottom: 50px

    .col--location
      width: 100%

      @media screen and (min-width: $breakpoint--xl)
        max-width: 468px
        

    .col--form
      max-width: 312px
      width: 100%

      @media screen and (min-width: $breakpoint--xl)
        max-width: 372px

    .logo
      display: flex
      align-items: center

      color: white
      text-decoration: none

      img
        width: 70px
        height: 70px

        @media screen and (min-width: $breakpoint--lg)
          width: 80px
          height: 80px

      &__text
        margin-left: 10px

        font-style: normal
        font-weight: 200
        font-size: 16px
        line-height: 19px

        @media screen and (min-width: $breakpoint--lg)
          font-size: 20px
          line-height: 23px
    
    .contact
      display: flex
      flex-direction: column

      margin-top: 30px

      font-family: Arial
      font-style: normal
      font-weight: bold
      font-size: 13px
      line-height: 25px

      @media screen and (min-width: $breakpoint--lg)
        font-size: 15px
        line-height: 30px

      a
        color: inherit

    .social
      margin-top: 15px

      a
        color: inherit
        text-decoration: none

        img
          display: inline-block
          margin-right: 10px

    .location
      height: 300px
    
    .contact-form
    input,
    textarea
      padding: 10px
      outline: none

      input
        font-style: normal
        font-weight: 200
        font-size: 14px
        line-height: 16px

        border: 1px solid $color--background

  &__middle
    background-color: #111

    padding: 20px 0 0 0

    @media screen and (min-width: $breakpoint--lg)
      padding: 40px 0 0 0      

    .col
      margin-bottom: 40px

    .footer-nav__heading
      font-size: 25px
      line-height: 29px

      margin-bottom: 15px
    
    ul.menu
      list-style: none

      padding: 0

      li

        a
          font-size: 14px
          line-height: 16px

          color: inherit
          
          text-decoration: none

      li + li
        margin-top: 10px
  
  &__bottom
    background-color: #222

    padding: 15px 0

    .copyright
      font-style: normal
      text-align: center
      font-weight: 200
      
      color: #B4B4B4

      .copyright__text
        font-weight: 200
        font-size: 13px
        line-height: 16px

        @media screen and (min-width: $breakpoint--sm)
          font-size: 16px
          line-height: 19px
      
      .copyright__made-by
        margin-top: 10px

        font-size: 11px
        line-height: 13px

        a
          color: #0d8baf

        @media screen and (min-width: $breakpoint--sm)
          font-size: 13px
          line-height: 15px