@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu-Sans'), local('DejaVu-Sans'),
        url('../fonts/DejaVu-Sans/DejaVu-Sans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans Light';
    src: local('DejaVu-Sans-Light-ExtraLight'), local('DejaVu-Sans-Light-ExtraLight'),
        url('../fonts/DejaVu-Sans/DejaVu-Sans-Light-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}