@font-face {
  font-family: 'SenzorgaAnhok';
  src: local('SenzorgaAnhok'), local('SenzorgaAnhok'),
      url('../fonts/SenzorgaAnhok/SenzorgaAnhok-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}