extends ../layouts/main

block variables
  - docTitle = "Contacts"
  - page = '/contacts/index.html'

block content
  +banner({
    thumbnail: '../assets/img/banner/8.jpg',
    heading: 'Հետադարձ կապ',
    breadcrumbs: [
      {
        link: '/',
        text: 'Գլխավոր',
      }, 
      {
        text: 'հետադարձ կապ',
        link: '/contacts',
      },
      {
        text: 'Քաղաքացիների հետ կապի պահպանում'
      }
    ]
  })

  section.section--contant
    .container
      .section__content
        .row
          - for (var i = 1; i <= 8; i++)
            .col-12.col-lg-6.mb-2
              +vote({
                link: '/contacts/single.html',
                thumbnail: '../assets/img/post/4.jpg',
                title: 'Նոր արձանի կառուցում',
                excerpt: 'Նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին...',
                pros: i * 10
              })
        .d-flex.justify-content-center.mt-4
          +more()