extends ../layouts/main

block variables
  - docTitle = "Contact - Single"
  - page = '/contact/single.html'

block content
  +banner({
    thumbnail: '../assets/img/banner/9.jpg',
    heading: 'Հետադարձ կապ',
    breadcrumbs: [
      {
        link: '/',
        text: 'Գլխավոր',
      }, 
      {
        text: 'Հետադարձ կապ',
        link: '/contacts',
      },
      {
        text: 'Քաղաքացիների հետ կապի պահպանում'
      }
    ]
  })

  section
    .container
      .section__content
        article
          .article__heading Նոր արձանի կառուցում
          p.
            Նոր արձանի կառուցում Նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված
          p.
            Նոր արձանի կառուցում Նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրվածՍասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված
          p.
            Նոր արձանի կառուցում Նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրվածՍասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Նոր արձանի կառուցում Նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրվածՍասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված Սասունցի դավիթ առասպելին նոր արձանի կառուցում նվիրված
  
  section.section--contact-voting
    .container
      .section__content
        .row.align-items-center.no-gutters
          button.button.button--vote.button--pros կողմ եմ
          .voting-bar.d-flex.flex-row.flex-fill
            .bar__pros(style="width: 80%")
            .bar__cons(style="width: 20%")
          button.button.button--vote.button--cons Դեմ եմ
          