extends ../layouts/main

block variables
  - docTitle = "Blog - Category"
  - page = '/blog/category.html'
  - menuadd = true

block content
  include ../includes/blog-header/index

  section.section--advertising
    .container
      .section__content
        .row
          .col
            +ad()

  section.section--content.p-0
    .container
      .section__content
        .row
          .col-12.col-xl-9.col--main
            section.section--categories.section--blog-white
              .container
                .section__content
                  .row
                    - for (var i = 1; i <= 3; i++)
                      .col-12.col-sm-6.col-xl-4.mb-2
                        +post({
                          style: 'thumbnail',
                          date: '1 մայիս, 14:03',
                          url: '/post/single.html',
                          thumbnail: '../assets/img/post/4.jpg',
                          excerpt: `Մի շարք գյուղմթերքներով, այդ թվում՝ ցորենով, զգալի աջակցու...`,
                          title: 'Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արայիկ Հարությունյանն ուղերձ է հղել',
                        })
            section
              .container
                .section__content
                  .row
                    - for (var i = 1; i <= 30; i++)
                      .col-md-6.col-lg-4.mb-2
                        +post({
                          style: 'thin',
                          background: 'white',
                          date: '1 մայիս, 14:03',
                          url: '/post/single.html',
                          thumbnail: '../assets/img/post/4.jpg',
                          title: 'Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արայիկ Հարությունյանն ուղերձ է հղել',
                        })
                  .d-flex.justify-content-center.mt-4
                    +more()
          .col-12.col-xl-3.col--main
            include ../includes/blog-sidebar/index