extends ../layouts/main

block variables
  - docTitle = "Blog"
  - page = '/blog/index.html'
  - menuadd = true

block content
  include ../includes/blog-header/index

  section.section--advertising
    .container
      .section__content
        .row
          .col
            +ad()
  
  section.section--content.p-0
    .container
      .section__content
        .row
          .col-12.col-xl-9.col--main
            section.section--categories.section--blog-white
              .container
                .row
                  .col-6.col-sm-4.mb-2
                    +category({
                      title: 'Ամենօրյա լրատվություն',
                      link: '/blog/category.html',
                      background: '#FD10D7'
                    })
                  .col-6.col-sm-4.mb-2
                    +category({
                      title: 'Նախագահի գործունեություն',
                      link: '/blog/category.html',
                      background: '#10E0FD'
                    })
                  .col-6.col-sm-4.mb-2
                    +category({
                      title: 'Օրենսդիրում',
                      link: '/blog/category.html',
                      background: '#B355AD'
                    })
                  .col-6.col-sm-4.mb-2
                    +category({
                      title: 'Գործադիրում',
                      link: '/blog/category.html',
                      background: '#4D10FD'
                    })
                  .col-6.col-sm-4.mb-2
                    +category({
                      title: 'Գործուենության լիակատար և համակողմանի լուսաբանում',
                      link: '/blog/category.html',
                      background: '#00AC45'
                    })
            section.section--blog-news
              .container
                .section__heading Թարմ Նյութեր
                  .heading__underline.orange
                .section__content
                  .row
                    - for (var i = 1; i <= 15; i++)
                      .col-lg-6.col-xl-4.mb-2
                        +post({
                          style: 'thin',
                          background: 'white',
                          date: '1 մայիս, 14:03',
                          url: '/post/single.html',
                          thumbnail: '../assets/img/post/4.jpg',
                          title: 'Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արայիկ Հարությունյանն ուղերձ է հղել',
                        })
          .col-12.col-xl-3.col--main
            include ../includes/blog-sidebar/index
