extends ../layouts/main

block variables
  - docTitle = "Blog - Single"
  - page = '/blog/single.html'
  - menuadd = true

block content
  include ../includes/blog-header/index

  section.section--advertising
    .container
      .section__content
        .row
          +ad()

  section.section--content.p-0
    .container
      .section__content
        .row
          .col-12.col-xl-9.col--main
            section.section--heading.section--blog-white
              .container
                .section__content
                  .heading.d-flex
                    .heading__thumbnail
                      img(src="../assets/img/blog/3.jpg", alt="")
                    .heading__info.d-flex.flex-column
                      .info__heading Պարետի որոշմամբ` Շուշիում կասեցվել է տնտեսվարող օբյեկտի գործունեությունը
                      date.info__date 4 ապրիլ, 12:00
                      .info__social
                        a(href="#")
                          img(class="social__icon", src="../assets/img/footer/facebook.png", alt="")
                        a(href="#").ml-2
                          img(class="social__icon", src="../assets/img/footer/twitter.png", alt="")
                        a(href="#").ml-2
                          img(class="social__icon", src="../assets/img/footer/instagram.png", alt="")
            section.section--article
              .container
                .section__content
                  article
                    .article__heading.mb-4 Ազատ Հայրենիք 
                    p.
                      Ազատ Հայրենիք, քաղաքական կուսակցություն Արցախում։ Ստեղծվել է 2005 թվականի հունվարի 29-ին։ Նախագահն է միաժամանակ կառավարության ղեկավար հանդիսացող Արայիկ Հարությունյանը։ 2005 թվականի հունիսի 19-ին ԱՀԿ-ն մասնակցել է Արցախի 4-րդ գումարման Ազգային ժողովի ընտրություններին։ Համամասնական ընտրակարգով ԱՀԿ-ն ստացել է շուրջ 37 տոկոս ձայն և մեծամասնական ընտրակարգով ընտրված պատգամավորների հետ միասին 12 մանդատով ձևավորել է «Հայրենիք» խորհրդարանական խմբակցությունը։ 2010 թվականի մայիսի 23-ին ԱՀԿ-ն մասնակցել է ԼՂՀ 5-րդ գումարման Ազգային ժողովի ընտրություններին որտեղ համամասնական ընտրակարգով ստացել է 46.4 տոկոս ձայն և մեծամասնական ընտրակարգով ընտրված պատգամավորների հետ 14 պատգամավորական մանդատով խորհրդարանում վերաձևավորել է «Հայրենիք» խմբակցությունը։ 2015 թ.-ին մայիսի 3-ին կայացած վեցերորդ գումարման խորհրդարանական ընտրություններին կուսակցությունը կրկին բարելավել է նախորդ արդյունքը համամասնական ընտրակարգով ստանալով 47.7 տոկոս ձայն և մեծամասնական ընտրակարգով ընտրված պատգամավորների հետ միասին 15 մանդատով վերաձևավորել է «Հայրենիք» խմբակցությունը։ 
                    .d-flex
                      img(width="33%", src="../assets/img/blog/4.jpg", alt="")
                      img(width="33%", src="../assets/img/blog/5.jpg", alt="")
                      img(width="33%", src="../assets/img/blog/6.jpg", alt="")
                    .article__heading.my-4 Գաղափարախոսություն 
                    p.
                      Գոյապահպանման ազգային գործոններն են՝ ազգային և կրոնական ինքնագիտակցություն, լեզվապահպանություն, ազգային կրթական համակարգ և մշակույթ, հայրենասիրություն և մարտական ոգի, ավանդապահություն, համերաշխություն, պատմական հիշողություն, ազգային մտածողություն և հոգեկերտվածք։
                    img.w-100(src="../assets/img/blog/7.jpg", alt="")
                    .article__heading.my-4 Ծրագիր
                    p.
                      «Ազատ Հայրենիք» (այսուհետև ԱՀ) կուսակցության ծրագիրը Արցախի ժողովրդի արմատական շահերն արտահայտող, նրա ազատությունը, անվտանգությունը և ինքնորոշման իրավունքը պաշտպանող փաստաթուղթ է։ ԱՀ-ն «ԼՂՀ» քաղաքացիների կամավոր քաղաքական միավորում է։
          .col-12.col-xl-3.col--main
            include ../includes/blog-sidebar/index