.banner
  if (banner.thumbnail)
    img.lazy.banner__thumbnail(src=placeholderSrc, data-src=banner.thumbnail, data-srcset=banner.thumbnail, alt=`${banner.heading} thumbnail`)
  .overlay.overlay--gradient
  .banner__content
    .content__wrapper
      h1.banner__heading= banner.heading
      if (banner.breadcrumbs)
        nav.banner__breadcrumbs(role="breadcrumbs")
          ul
            each item in banner.breadcrumbs
              li
                a(href=item.link)= item.text