html[lang="hy-AM"]
  .banner
    &__heading
      font-family: $font--heghnar

html[lang="en-US"]
  .banner
    &__heading
      font-family: $font--heghnar--en

html[lang="ru-RU"]
  .banner
    &__heading
      font-family: $font--heghnar--ru

.banner
  height: 270px

  @media screen and (min-width: $breakpoint--sm)
    height: 370px

  position: relative

  &__thumbnail
    width: 100%
    height: 100%

    object-fit: cover
    object-position: center

  &__content
    display: flex
    align-items: flex-end
    justify-content: center
    
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 11
    position: absolute

    padding-bottom: 30px

    @media screen and (min-width: $breakpoint--sm)
      padding-bottom: 70px
      

    color: white

    .content__wrapper
      max-width: 100%
      max-height: 100%

  &__heading
    font-size: 22px
    line-height: 25px
    text-align: center
    font-style: italic
    font-weight: normal
    text-transform: uppercase

    @media screen and (min-width: $breakpoint--sm)
      font-size: 30px
      line-height: 33px

    @media screen and (min-width: $breakpoint--md)
      font-size: 45px
      line-height: 48px

    @media screen and (min-width: $breakpoint--lg)
      font-size: 50px
      line-height: 53px

  &__breadcrumbs
    margin-top: 20px

    font-size: 12px
    line-height: 16px
    font-style: normal
    font-weight: normal

    @media screen and (min-width: $breakpoint--sm)
      font-size: 14px
      line-height: 18px

    @media screen and (min-width: $breakpoint--md)
      font-size: 16px
      line-height: 19px

    text-align: center
    text-transform: uppercase
    color: $color--primary__light

    ul
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: center

      max-width: 100%

      margin: 0
      padding: 0

      list-style: none

      li
        padding: 0 5px

        &:not(:last-child)::after
          content: '/'
          margin-left: 10px

        a
          color: $color--primary__light

          &:hover
            color: white
            text-decoration: underline
        
        &:last-child
          
          a
            pointer-events: none
            text-decoration: none
            color: $color--text__secondary

            cursor: default
            
  &--thin
    height: 97px

    .banner__heading
      display: none

    .banner__content
      align-items: center

      padding-bottom: 0

    .banner__breadcrumbs
      margin-top: 0