html[lang="hy-AM"]
  .advertisement
    &__text
      font-family: $font--dejavue__mono

html[lang="en-US"]
  .advertisement
    &__text
      font-family: $font--dejavue--en

html[lang="ru-RU"]
  .advertisement
    &__text
      font-family: $font--dejavue--ru

.advertisement
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center

  min-height: 150px
  height: 100%

  overflow: hidden

  background-size: cover
  background-color: #efefef
  background-position: center
  background-repeat: no-repeat  

  &__text

    max-width: 100%

    font-size: 20px
    line-height: 23px
    text-align: center
    text-transform: uppercase