@font-face {
  font-family: 'Caveat-Regular';
  src: local('Caveat-Regular'), local('Caveat-Regular'),
      url('../fonts/Caveat/Caveat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}