.container
  .row.justify-content-center
    .col.col-12.col-sm-6.col-lg-3
      .footer-nav__heading Կուսակցություն
      ul.footer-nav__links
        li
          a(href="#").footer-nav__link Պատմություն
        li
          a(href="#").footer-nav__link Ակունքի արխիվ
    .col.col-12.col-sm-6.col-lg-3
      .footer-nav__heading Կառուցվածք
      ul.footer-nav__links
        li
          a(href="#").footer-nav__link Նախագահ
        li
          a(href="#").footer-nav__link Կենտրոնական խորհուրդ
        li
          a(href="#").footer-nav__link Կանանց խորհուրդ
        li
          a(href="#").footer-nav__link Երիտասարդական խորհուրդ
    .col.col-12.col-sm-6.col-lg-3
      .footer-nav__heading Գործունեություն
      ul.footer-nav__links
        li
          a(href="#").footer-nav__link Օրենսդիր
        li
          a(href="#").footer-nav__link Խմբակցության կազմը
        li
          a(href="#").footer-nav__link Գործադիր
    .col.col-12.col-sm-6.col-lg-3
      .footer-nav__heading Ակունք-պրես
      ul.footer-nav__links
        li
          a(href="#").footer-nav__link Ամենօրյա լրատվություն
        li
          a(href="#").footer-nav__link Նախագահի գործունեություն
        li
          a(href="#").footer-nav__link ԱՀԿ-ն՝ օրենսդիրում
        li
          a(href="#").footer-nav__link ԱՀԿ-ն՝ գործադիրում
        li
          a(href="#").footer-nav__link Կուսակցական գործունեության լիակատար և համակողմանի լուսաբանում
    .col.col-12.col-sm-6.col-lg-3
      .footer-nav__heading Տեսադարան
      ul.footer-nav__links
        li
          a(href="#").footer-nav__link Նկարներ
        li
          a(href="#").footer-nav__link Վիդեոներ
    .col.col-12.col-sm-6.col-lg-3
      .footer-nav__heading Հետադարձ կապ
      ul.footer-nav__links
        li
          a(href="#").footer-nav__link  Քաղաքացիների հետ կապի պահպանում
        li
          a(href="#").footer-nav__link Խորհրդատվություն