mixin ad(ad = {})
  include ../components/ad/index

mixin blockquote(blockquote = {})
  include ../components/blockquote/index

mixin button(button = {})
  include ../components/button/index

mixin more()
  include ../components/button/more

mixin squire(squire = {})
  include ../components/button/squire

mixin mission(mission = {})
  include ../components/mission/index

mixin structure(structure = {})
  include ../components/structure/index

mixin navigation(navigation = {})
  include ../components/navigation/index

mixin person(person = {})
  include ../components/person/index

mixin gImage(gImage = {})
  include ../components/gallery/index

mixin gVideo(gVideo = {})
  include ../components/gallery/video

mixin gCategory(gCategory = {})
  include ../components/gallery/category

mixin gpPreview(gpPreview = {})
  include ../components/gallery/preview

mixin gvPreview(gvPreview = {})
  include ../components/gallery/preview--video

mixin banner(banner = {})
  include ../components/banner/index

mixin radio(radio = {})
  include ../components/radio/index

mixin post(post = {})
  case post.style
    when 'thin'
      include ../components/post/thin
    when 'slider'
      include ../components/post/slider
    when 'thumbnail'
      include ../components/post/thumbnail
    default
      include ../components/post/index

mixin vote(vote = {})
  include ../components/vote/index

mixin category(category = {})
  include ../components/category/index

mixin separator()
  include ../components/separator/index