mixin assets(type, name)
  if (type === 'css')
    +style(`/assets/css/${name}${process.env.NODE_ENV === 'production' ? '.min' : ''}.css`)
  if (type === 'js')
    +script(`/assets/js/${name}${process.env.NODE_ENV === 'production' ? '.min' : ''}.js`)

mixin style(path)
  link( href=path,
        rel="stylesheet")

mixin script(path)
  script( src=path
          type="text/javascript")

mixin svg(name, cls)
  svg(class=`svg${cls ? ' ' + cls : ''} svg--${name}`)
    use(xlink:href=`#${name}`)