.container
  .row.row--footer.justify-content-center
    .col.col-auto.col--footer
      .logo
        img(src="/assets/img/logo.png", alt="AHK")
        .logo__text Ազատ<br>Հայրենիք<br>Կուսակցություն
      .contact
        .contact__tel Հեռ.: 
          span.contact__text +374 (97) 11-11-11
        .contact__address Հասցե: 
          span.contact__text Գրիգոր Լուսավորիչ 15/6 
        .contact__email Էլ. հասցե:  
          span.contact__text contact@azathayreniq.am
      .social
        a(href="#")
          img(class="social__icon", src="/assets/img/footer/facebook.png", alt="")
        a(href="#")
          img(class="social__icon", src="/assets/img/footer/twitter.png", alt="")
        a(href="#")
          img(class="social__icon", src="/assets/img/footer/instagram.png", alt="")
    .col.col-auto.col--footer.col--location
      .heading Մենք այստեղ ենք
      .location
        img(src="/assets/img/footer/map.jpg", alt="")
    .col.col-auto.col--footer.col--form
      .heading Մենք սպասում ենք ձեր հարցերին
      form.contact-form
        .form-row
          .col
            input(class="w-100", type="text" placeholder="Անուն *")
          .col
            input(class="w-100", type="text" placeholder="Ազգանուն *")
        .form-row.mt-2
          .col
            input(class="w-100", type="text", placeholder="Էլ. հասցե / Հեռ. *")
        .form-row.mt-2
          .col
            textarea(class="w-100", name="", rows="3", placeholder="Տեքստ...")
        .form-row.mt-2
          .col
          .col.d-flex.justify-content-end
            +button({
              text: 'ՈՒղարկել'
            })