@font-face {
  font-family: 'Monoton-Regular';
  src: local('Monoton-Regular'), local('Monoton-Regular'),
      url('../fonts/Monoton/Monoton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
