html[lang="hy-AM"]
  blockquote
    &.blockquote
      font-family: $font--anpuit

html[lang="en-US"]
  blockquote
    &.blockquote
      font-family: $font--anpuit--en
  
html[lang="ru-RU"]
  blockquote
    &.blockquote
      font-family: $font--anpuit--ru
  
blockquote

  &.blockquote
    position: relative

    margin: 0
    padding: 10px 10px 13px 10px

    background: rgba(255, 255, 255, 0.7)
    box-shadow: 1px 1px 4px rgba(196, 194, 194, 0.25)

    color: black
    font-size: 20px
    line-height: 21px
    font-style: normal
    font-weight: normal

    @media screen and (min-width: $breakpoint--lg)
      font-size: 22px
      line-height: 23px

    @media screen and (min-width: $breakpoint--xl)
      font-size: 30px
      line-height: 31px

    &::before
      content: ''

      top: 0
      left: 0
      z-index: 1
      position: absolute

      width: 3px
      height: 100%

      background: linear-gradient(-180deg, $color--flag__1 33.3%, $color--flag__2 33.3%, $color--flag__2 66.6%, $color--flag__3 66.6%)