.structure.d-flex(class=structure.style ? `structure--${structure.style}` : '')
  .structure__thumbnail.h-100(class=`${structure.style === 'alt' ? 'order-2' : ''}`)
    img.lazy(src=placeholderSrc, data-src=structure.thumbnail, data-srcset=structure.thumbnail)
  .structure__content
    .d-flex.h-100.justify-content-center.flex-column
      .structure__heading
        h3.structure__title= structure.title
      if (structure.items)
        .row.row--items.align-items-center
          each item in structure.items
            .col-6
              a(href=item.link)= item.text