html[lang="hy-AM"]
  .structure
    .row--items
      a
        font-family: $font--primary

.structure
  overflow: hidden

  background-color: $color--background

  &__thumbnail
    display: none
    position: relative

    @media screen and (min-width: $breakpoint--lg)
      display: block
      flex: 0 0 222px

    @media screen and (min-width: $breakpoint--xl)
      flex: 0 0 372px
      

    background-color: #fff

    img
      width: 100%
      height: 100%

      object-fit: cover
      object-position: center left

      transition: flex .5s

  &--alt

    .structure__thumbnail

      img
        object-position: center right

  &__content
    @extend .background--loading

    flex: 1
    
    padding: 10px

    @media screen and (min-width: $breakpoint--sm)
      padding: 30px

    height: 100%
    min-height: 272px

    background: linear-gradient(287.71deg, $color--primary 0%, $color--secondary 100%)

    @media screen and (min-width: $breakpoint--lg)
      padding: 30px 30px 30px 100px
      margin-left: -84px
      clip-path: polygon(84px 0, 100% 0, 100% 100%, 0 100%)

  &--alt

    .structure__content
      margin-left: 0
      margin-right: -84px
      padding: 30px 100px 30px 30px

      clip-path: polygon(0 0, 100% 0%, calc(100% - 83px) 100%, 0% 100%)

  &:hover

    .structure__content
      background: linear-gradient(287.71deg, $color--primary 100%, $color--secondary 100%)

  &__title
    color: white
    font-style: normal
    text-align: center
    font-weight: normal
    text-transform: uppercase
    font-size: 20px

    @media screen and (min-width: $breakpoint--sm)
      font-size: 20px

    @media screen and (min-width: $breakpoint--md)
      font-size: 25px
      line-height: 30px

    @media screen and (min-width: $breakpoint--lg)
      font-size: 28px
      line-height: 36px
      
    @media screen and (min-width: $breakpoint--xl)
      font-size: 35px
      line-height: 46px

    a
      color: inherit
      text-decoration: none

  .row--items
    overflow: hidden
    
    transition: max-height .75s

    a
      display: inline-flex

      position: relative

      margin-bottom: 1px

      font-size: 14px
      font-style: normal
      font-weight: normal
      text-decoration: none
      color: $color--primary__light

      @media screen and (min-width: $breakpoint--sm)
        font-size: 16px

      @media screen and (min-width: $breakpoint--md)
        font-size: 18px
      
      @media screen and (min-width: $breakpoint--lg)
        font-size: 20px

      &::before
        content: '›'

        margin-right: 5px

      &::after
        left: 0
        bottom: -1px
        position: absolute

        content: ' ' 

        flex: 0 0 100%

        display: block

        height: 1px
        width: 100%
        max-width: 0

        margin-left: 12px

        background-color: transparent

        transition: max-width .5s

      &:hover
        color: white

        &::after
          max-width: calc(100% - 12px)
          
          background-color: white
  
  &--ready
    @media screen and (min-width: 991px)
      .row--items
        max-height: 0 !important

  &--ready:hover
  
    .row--items
      max-height: 100% !important
    