@font-face {
  font-family: 'Anton';
  src: local('Anton'), local('Anton'),
      url('../fonts/Anton/Anton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}