html[lang="hy-AM"]
  .highlighted
    font-family: $font--dejavue

html[lang="en-US"]
  .highlighted
    font-family: $font--dejavue--en

html[lang="ru-RU"]
  .highlighted
    font-family: $font--dejavue--ru
    
.highlighted
  position: relative
  
  font-size: 14px
  line-height: 16px
  text-align: center

  @media screen and (min-width: $breakpoint--sm)
    font-size: 16px
    line-height: 19px

  height: 150px

  .overlay
    transition: background-color .25s

  &:hover
    .overlay
      background-color: rgba(0, 0, 0, .1)
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25)

  a
    position: relative

    display: flex
    align-items: center
    justify-content: center

    padding: 0 15px

    z-index: 30
    color: $color--primary__light
    
    width: 100%
    height: 100%

    text-decoration: none