- 
  languages = [
    {
      href: '/',
      text: 'Հայ',
    },
    {
      href: '/ru',
      text: 'Рус',
    },
    {
      href: '/en',
      text: 'Eng',
    },
  ]

.menu__header.d-flex.justify-content-between.align-items-center
  .d-flex.align-items-center
    .header__icon#menu
      +svg('burger')
    .header__logo
      a(href="/")
        img(src="/assets/img/logo.png", alt="Logo")
    
  .header__lang.d-flex.align-items-center
    each lang, index in languages
      a(href=lang.href,
        class=`lang__item ${(lang.href === current__lang || !index) ? ' lang__item--current' : ''}`)= lang.text