.menu
  
  .menu__header
    padding: 20px

    @media screen and (max-width: $breakpoint--lg)
      padding: 12px

    background: radial-gradient(67.52% 1269.69% at 50% 50%, $color--primary 0%, $color--secondary 100%)

    .header__icon
      display: none
      
      width: 35px
      height: 24px

      margin-right: 20px

      @media screen and (max-width: $breakpoint--lg)
        display: block

    .header__logo
      width: 40px
      height: 40px

      @media screen and (min-width: $breakpoint--sm)
        width: 57px
        height: 57px

      a
        display: block

    .header__lang

      .lang__item
        margin-left: 15px

        text-decoration: none

        color: $color--text__secondary

        &:hover
          color: $color--primary__light

        &--current
          color: white