if (button.link)
  a.button(href=button.link, class=`${button.icon && 'button--icon'}`)= button.text
    if (button.icon)
      +svg(`${button.icon}`)
else
  button.button(href=button.link, class=`${button.icon && 'button--icon'}`)= button.text
    if (button.icon)
      +svg(`${button.icon}`)