if (squire.type == 'alt')
  if (squire.link)
    a.button.button--squire.button--squire-alt(href=squire.link)= squire.text
      .button__overlay
  else
    a.button.button--squire.button--squire-alt= squire.text
      .button__overlay
else
  if (squire.link)
    a.button.button--squire(href=squire.link)= squire.text
  else
    a.button.button--squire= squire.text