html[lang="hy-AM"]
  .button
    font-family: $font--anhok

html[lang="en-US"]
  .button
    font-family: $font--anhok--en

.button
  position: relative

  display: inline-block

  height: 40px
  min-width: 160px

  padding-left: 10px
  padding-right: 10px

  outline: none !important
  background-color: transparent
  border: 1px solid $color--border

  font-size: 18px
  line-height: 40px
  text-align: center
  text-transform: uppercase
  color: $color--border__dark

  overflow: hidden
  vertical-align: middle

  transition: background-color .25s, color .3s
 
  @media screen and (min-width: $breakpoint--sm)
    min-width: 160px

  &--primary
    color: $color--primary
    border-color: $color--primary

  &--secondary
    color: $color--secondary
    border-color: $color--secondary

  &--flag__1
    color: $color--flag__1
    border-color: $color--flag__1

  &--flag__2
    color: $color--flag__2
    border-color: $color--flag__2

  &--flag__3
    color: $color--flag__3
    border-color: $color--flag__3

  &:hover
    border-color: $color--border__dark
    background-color: $color--border__dark

    color: white
    text-decoration: none

  &--primary:hover
    border-color: $color--primary
    background-color: $color--primary

  &--secondary:hover
    border-color: $color--secondary
    background-color: $color--secondary

  &--flag__1:hover
    border-color: $color--flag__1
    background-color: $color--flag__1

  &--flag__2:hover
    border-color: $color--flag__2
    background-color: $color--flag__2

  &--flag__3:hover
    border-color: $color--flag__3
    background-color: $color--flag__3
  
  &--icon
    height: 60px
    line-height: 60px
    
    svg.svg
      position: absolute
      top: 0
      left: 20px

      width: 40px
      height: 100%

  &--more
    align-items: center
    display: inline-flex
    justify-content: center

    min-width: 160px

    .button__content
      flex: 0 0 50px

      position: relative

      display: flex
      align-items: center
      justify-content: space-between

      i
        width: 12px
        height: 12px

        border-radius: 50%
        background-color: $color--border__dark

    &.button--primary
      .button__content
        i
          background-color: $color--primary

    &.button--secondary
      .button__content
        i
          background-color: $color--secondary

    &.button--flag__1
      .button__content
        i
          background-color: $color--flag__1
    
    &.button--flag__2
      .button__content
        i
          background-color: $color--flag__2

    &.button--flag__3
      .button__content
        i
          background-color: $color--flag__3
    
    &:hover

      .button__content

        i
          background-color: white
          
    &.button--loading
      border-color: $color--border__dark
      background-color: $color--border__dark

      pointer-events: none

      opacity: .75
      
      .button__content
        
        i
          background-color: white

          animation-duration: 1s
          animation-name: MoreButtonLoading
          animation-iteration-count: infinite

          &:nth-child(2)
            animation-delay: .25s
          &:nth-child(3)
            animation-delay: .5s

      &.button--primary
        border-color: $color--primary
        background-color: $color--primary

      &.button--secondary
        border-color: $color--secondary
        background-color: $color--secondary

      &.button--flag__1
        border-color: $color--flag__1
        background-color: $color--flag__1

      &.button--flag__2
        border-color: $color--flag__2
        background-color: $color--flag__2

      &.button--flag__3
        border-color: $color--flag__3
        background-color: $color--flag__3
  
  &--squire
    display: flex
    align-items: center
    justify-content: center

    color: $color--secondary
    border-color: $color--secondary

    font-size: 35px
    line-height: 37px

    min-height: 200px
    width: 100%
    height: 100%

    @media screen and (min-width: 1300px)
      min-height: 250px

    &-alt
      border: none

      color: #fff
      background: linear-gradient(88.04deg, #B355AD 0.58%, #D44C32 99.42%)

    .button__overlay
      position: absolute
      
      width: 100%
      height: 100%

      background: rgba(255, 255, 255, 0.25)
      
      transition: .25s

    &:hover
      background-color: $color--secondary

      .button__overlay
        background: rgba(255, 255, 255, 0)

@keyframes MoreButtonLoading
  0%
    transform: scale(1)
  50%
    transform: scale(1.5)
  100%
    transform: scale(1)