extends ../layouts/main

block variables
  - docTitle = "Party"
  - page = '/party/index.html'

block content
  +banner({
    thumbnail: '/assets/img/banner/7.jpg',
    heading: 'Կուսակցություն',
    breadcrumbs: [
      {
        link: '/',
        text: 'Գլխավոր',
      }, 
      {
        text: 'Կուսակցություն',
      },
    ]
  })

  section.section--party
    .container
      .section__content
        article
          .article__heading Ազատ հայրենիք
          p.
            Ազատ Հայրենիք, քաղաքական կուսակցություն Արցախում։ Ստեղծվել է 2005 թվականի հունվարի 29-ին։ Նախագահն է միաժամանակ կառավարության ղեկավար հանդիսացող Արայիկ Հարությունյանը։ 2005 թվականի հունիսի 19-ին ԱՀԿ-ն մասնակցել է Արցախի 4-րդ գումարման Ազգային ժողովի ընտրություններին։ Համամասնական ընտրակարգով ԱՀԿ-ն ստացել է շուրջ 37 տոկոս ձայն և մեծամասնական ընտրակարգով ընտրված պատգամավորների հետ միասին 12 մանդատով ձևավորել է «Հայրենիք» խորհրդարանական խմբակցությունը։ 2010 թվականի մայիսի 23-ին ԱՀԿ-ն մասնակցել է ԼՂՀ 5-րդ գումարման Ազգային ժողովի ընտրություններին որտեղ համամասնական ընտրակարգով ստացել է 46.4 տոկոս ձայն և մեծամասնական ընտրակարգով ընտրված պատգամավորների հետ 14 պատգամավորական մանդատով խորհրդարանում վերաձևավորել է «Հայրենիք» խմբակցությունը։ 2015 թ.-ին մայիսի 3-ին կայացած վեցերորդ գումարման խորհրդարանական ընտրություններին կուսակցությունը կրկին բարելավել է նախորդ արդյունքը համամասնական ընտրակարգով ստանալով 47.7 տոկոս ձայն և մեծամասնական ընտրակարգով ընտրված պատգամավորների հետ միասին 15 մանդատով վերաձևավորել է «Հայրենիք» խմբակցությունը։ 
          .article__heading Գաղափարախոսություն 
          p.
            Գոյապահպանման ազգային գործոններն են՝ ազգային և կրոնական ինքնագիտակցություն, լեզվապահպանություն, ազգային կրթական համակարգ և մշակույթ, հայրենասիրություն և մարտական ոգի, ավանդապահություն, համերաշխություն, պատմական հիշողություն, ազգային մտածողություն և հոգեկերտվածք։ 
          .article__heading Ծրագիր 
          p.
            «Ազատ Հայրենիք» (այսուհետև ԱՀ) կուսակցության ծրագիրը Արցախի ժողովրդի արմատական շահերն արտահայտող, նրա ազատությունը, անվտանգությունը և ինքնորոշման իրավունքը պաշտպանող փաստաթուղթ է։ ԱՀ-ն «ԼՂՀ» քաղաքացիների կամավոր քաղաքական միավորում է։ ԱՀ նպատակն է՝<br><br> ա) համախոհ մարդկանց միջոցով Արցախում հաստատել սոցիալական արդարություն,<br> բ) վերականգնել ժողովրդի հավատը սեփական հավաքական ուժերի և ապագայի նկատմամբ,<br> գ) խթանել միջին խավի ձևավորմանը,<br> դ) ամրապնդել կառավարման կայուն ժողովրդավարական համակարգը,<br> ե) նպաստել Հայ Առաքելական եկեղեցու դերի բարձրացմանը։
          p.article__info.
            Ավելի մանրամասը ցանոթացեք կուսակցությանը ստորև գտվող հղումներով

  section.section--party-links
    .container
      .section__content
        .row
          +button({
            text: 'ԳԻՐՔ',
            link: '/',
            icon: 'book'
          })
          +button({
            text: 'ԱԿՈՒՆՔԻ ԱՐԽԻՎ',
            link: '/',
            icon: 'pdf'
          })
