@font-face {
  font-family: 'DancingScript-Regular';
  src: local('DancingScript-Regular'), local('DancingScript-Regular'),
      url('../fonts/Dancing/DancingScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}