.mission.d-flex.flex-column.h-100
  .mission__thumbnail
    if (mission.thumbnail)
      img.lazy(src=placeholderSrc, data-src=mission.thumbnail, data-srcset=mission.thumbnail, alt=`${mission.title} thumbnail`)
  .mission__content
    .mission__index= mission.index
    h3.mission__title= mission.title