.mission
  overflow: hidden

  &--placeholder
    background-size: 100%
    background-position: center
    background-repeat: no-repeat 
    background-image: url(../img/placeholder.jpg)

  &__thumbnail
    flex: 0 0 290px

    overflow: hidden

    transition: flex .3s, transform .3s

    img
      width: 100%
      height: 290px

      object-fit: cover
      object-position: center

  &__content
    flex: 1

    position: relative

    display: flex
    flex-direction: column
    justify-content: center

    min-height: 170px

    padding: 30px 20px

    background-color: $color--primary__light

    transition: height .3s, background-color .3s

  &__index
    z-index: 1
    left: 50%
    top: -30px
    position: absolute
    transform: translateX(-50%)

    display: flex
    align-items: center
    justify-content: center

    width: 60px
    height: 60px

    border-radius: 50%
    background-color: $color--primary__light

    font-size: 30px
    line-height: 31px
    color: $color--primary
    font-family: $font--anpuit

    transition: width .3s, height .3s, background-color .3s,  top .3s

  &__title
    font-size: 20px
    line-height: 23px
    text-align: center
    color: $color--text

  &:hover

    .mission__index
      top: -43px

      width: 86px
      height: 86px

      background-color: $color--primary

      color: white
      font-size: 40px

    .mission__content
      color: white
      background-color: $color--primary

    .mission__title
      color: white
      
    .mission__thumbnail
      flex: 0 0 250px

      transform: scale(1.2) rotate(-8deg)