extends ../layouts/main

block variables
  - docTitle = "Gallery - Images"
  - page = '/gallery/images.html'

block content
  +banner({
    thumbnail: '../assets/img/banner/10.jpg',
    heading: 'Տեսադարան',
    breadcrumbs: [
      {
        link: '/',
        text: 'Գլխավոր',
      }, 
      {
        text: 'Տեսադարան',
      }
    ]
  })

  section.section--gallery-categories
    .container
      .section__content
        .heading
          ul.nav
            li.nav-item
              a.nav-link.active(href="/gallery/images.html") Նկարներ
            li.nav-item
              a.nav-link(href="/gallery/videos.html") Տեսանյութեր
        .row.mt-2
          - for (var i = 1; i <= 6; i++)
              .col-12.col-md-6.col-lg-4.mb-2
                +gCategory({
                  name: 'Ալբոմի անվանումը',
                  date: '16 մարտ, 15:33',
                  url: '/gallery/video/category.html',
                  excerpt: 'Ալբոմի նկարագրություն ալբոմի նկարագրություն ալբոմի նկարագրություն ալբոմի նկարագրություն',
                  thumbnails: [
                    '/assets/img/gallery/1.jpg',
                    '/assets/img/gallery/2.jpg',
                    '/assets/img/gallery/3.jpg',
                    '/assets/img/gallery/4.jpg',
                    '/assets/img/gallery/5.jpg',
                    '/assets/img/gallery/6.jpg',
                  ],
                })
        .d-flex.justify-content-center.mt-4
          +more()
  
  section.section--gallery-list
    .container
      .section__content
        +separator()
        .gallery.gallery--photo.mt-4
          +gImage({
            thumbnail: '/assets/img/gallery/1.jpg',
            name: 'Նկարի անվանումը',
            date: '16 մարտ, 15:33',
            class: 'gallery__item--big'
          })
          +gImage({
            thumbnail: '/assets/img/gallery/2.jpg',
            name: 'Նկարի անվանումը',
            date: '16 մարտ, 15:33',
            class: 'gallery__item--horizontal'
          })
          +gImage({
            thumbnail: '/assets/img/gallery/3.jpg',
            name: 'Նկարի անվանումը',
            date: '16 մարտ, 15:33',
            class: 'gallery__item--big'
          })
          +gImage({
            thumbnail: '/assets/img/gallery/4.jpg',
            name: 'Նկարի անվանումը',
            date: '16 մարտ, 15:33',
            class: 'gallery__item--horizontal'
          })
          +gImage({
            thumbnail: '/assets/img/gallery/5.jpg',
            name: 'Նկարի անվանումը',
            date: '16 մարտ, 15:33',
            class: 'gallery__item--big'
          })
          +gImage({
            thumbnail: '/assets/img/gallery/6.jpg',
            name: 'Նկարի անվանումը',
            date: '16 մարտ, 15:33',
            class: 'gallery__item--vertical'
          })
          +gImage({
            thumbnail: '/assets/img/gallery/7.jpg',
            name: 'Նկարի անվանումը',
            date: '16 մարտ, 15:33',
            class: 'gallery__item--horizontal'
          })
          +gImage({
            thumbnail: '/assets/img/gallery/8.jpg',
            name: 'Նկարի անվանումը',
            date: '16 մարտ, 15:33'
          })
          +gImage({
            thumbnail: '/assets/img/gallery/9.jpg',
            name: 'Նկարի անվանումը',
            date: '16 մարտ, 15:33',
            class: 'gallery__item--vertical'
          })
          +gImage({
            thumbnail: '/assets/img/gallery/18.jpg',
            name: 'Նկարի անվանումը',
            date: '16 մարտ, 15:33'
          })
          +gImage({
            thumbnail: '/assets/img/gallery/10.jpg',
            name: 'Նկարի անվանումը',
            date: '16 մարտ, 15:33',
            class:'gallery__item--horizontal'
          })
          +gImage({
            thumbnail: '/assets/img/gallery/11.jpg',
            name: 'Նկարի անվանումը',
            date: '16 մարտ, 15:33'
          })
          +gImage({
            thumbnail: '/assets/img/gallery/12.jpg',
            name: 'Նկարի անվանումը',
            date: '16 մարտ, 15:33'
          })
          +gImage({
            thumbnail: '/assets/img/gallery/13.jpg',
            name: 'Նկարի անվանումը',
            date: '16 մարտ, 15:33'
          })
        .d-flex.justify-content-center.mt-4
          +more()

          
          