extends ../layouts/main

block variables
  - docTitle = "Gallery - Videos"
  - page = '/gallery/videos.html'

block content
  +banner({
    thumbnail: '../assets/img/banner/10.jpg',
    heading: 'Տեսադարան',
    breadcrumbs: [
      {
        link: '/',
        text: 'Գլխավոր',
      }, 
      {
        text: 'Տեսադարան',
      }
    ]
  })

  section.section--gallery-categories
    .container
      .section__content
        .heading
          ul.nav
            li.nav-item
              a.nav-link(href="/gallery/images.html") Նկարներ
            li.nav-item
              a.nav-link.active(href="/gallery/videos.html") Տեսանյութեր
        .row.mt-2
          - for (var i = 1; i <= 6; i++)
              .col-12.col-md-6.col-lg-4.mb-2
                +gCategory({
                  name: 'Ալբոմի անվանումը',
                  date: '16 մարտ, 15:33',
                  url: '/gallery/video/category.html',
                  excerpt: 'Ալբոմի նկարագրություն ալբոմի նկարագրություն ալբոմի նկարագրություն ալբոմի նկարագրություն',
                  thumbnails: [
                    '/assets/img/gallery/1.jpg',
                    '/assets/img/gallery/2.jpg',
                    '/assets/img/gallery/3.jpg',
                    '/assets/img/gallery/4.jpg',
                    '/assets/img/gallery/5.jpg',
                    '/assets/img/gallery/6.jpg',
                  ],
                })
        .d-flex.justify-content-center.mt-4
          +more()
  
  section.section--gallery-list
    .container
      .section__content
        +separator()
        .gallery.gallery--video.mt-4
          - for (var i = 1; i <= 15; i++)
            +gVideo({
              url: '/assets/img/gallery/19.jpg',
              thumbnail: '/assets/img/gallery/19.jpg',
              delay: '15:00',
              name: 'Տեսահոլովակի անվանում',
              excerpt: 'Տեսահոլովակի նկարագրությունը տեսահոլովակի նկարագրությունը տեսահոլովակի նկարագրությունը...',
              date: '5 մարտ, 12:00',
              class: i == 4 ? 'gallery__item--big' : ''
            })
        .d-flex.justify-content-center.mt-4
          +more()