.menu__footer
  if (menuadd)
    +ad()
  else
    h4.footer__heading Ակունք-պրես
    .footer__content
      .mb-2
        +post({
          style: 'thin',
          date: '1 մայիս, 14:03',
          url: '/post/single.html',
          thumbnail: '/assets/img/post/1.jpg',
          title: '«Ազատ հայրենիք» կուսակցության նախագահը հանդիպել է երիտասարդների հետ',
        })
      .mb-2
        +post({
          style: 'thin',
          date: '1 մայիս, 14:03',
          url: '/post/single.html',
          thumbnail: '/assets/img/post/2.jpg',
          title: 'Մի շարք գյուղմթերքներով, այդ թվում՝ ցորենով, զգալի աջակցություն ենք ցուցաբերելու Մայր հայրենքին. Արայիկ Հարությունյան',
        })
      .mb-2
        +post({
          style: 'thin',
          date: '1 մայիս, 14:03',
          url: '/post/single.html',
          thumbnail: '/assets/img/post/3.jpg',
          title: 'Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արայիկ Հարությունյանն ուղերձ է հղել',
        })
      div
        +post({
          style: 'thin',
          date: '1 մայիս, 14:03',
          url: '/post/single.html',
          thumbnail: '/assets/img/post/4.jpg',
          title: 'Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արայիկ Հարությունյանն ուղերձ է հղել',
        })