html[lang="hy-AM"]
  .menu
    &__footer
      .footer__heading
        font-family: $font--dejavue

html[lang="en-US"]
  .menu
    &__footer
      .footer__heading
        font-family: $font--dejavue--en

html[lang="ru-RU"]
  .menu
    &__footer
      .footer__heading
        font-family: $font--dejavue--ru

.menu

  &__footer
    padding: 15px
    
    @media screen and (max-width: $breakpoint--lg)
      position: relative
      background: #fff

    .advertisement
      min-height: 350px

    .footer__heading
      font-size: 25px
      font-style: normal
      font-weight: normal
      color: $color--secondary

    .footer__content
      padding-top: 10px 