.vote.d-flex
  .row
    .col-4
      a(href=`${vote.link}`).vote__thumbnail
        img(src=`${vote.thumbnail}`, alt="")
    .col
      .vote__content.d-flex.flex-column.h-100
        h3.vote__title 
          a(href=`${vote.link}`)= vote.title
        .vote__excerpt.flex-grow-1= vote.excerpt
        .vote__result
          .result__text.d-flex.justify-content-between
            .text__pros կողմ
            .text__cons Դեմ
          .result__bar.d-flex.flex-row
            .bar__pros(style=`width: ${vote.pros}%`)
            .bar__cons(style=`width: ${100 - vote.pros}%`)