html[lang="hy-AM"]
  .vote
    &__result
      .result__text
        font-family: $font--dejavue

html[lang="en-US"]
  .vote
    &__result
      .result__text
        font-family: $font--dejavue--en

html[lang="ru-RU"]
  .vote
    &__result
      .result__text
        font-family: $font--dejavue--ru

.vote
  position: relative
  background-color: white

  transition: box-shadow .3s

  &:hover
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1)

  &__thumbnail
    position: relative

    display: block

    width: 100%
    height: 100%

    img
      width: 100%
      height: 100%

      object-fit: cover
      object-position: center
  
  &__content
    padding: 10px 10px 10px 0
  
  &__title
    font-size: 16px
    font-weight: 600
    line-height: 18px

    margin: 0

    @media screen and (min-width: $breakpoint--sm)
      font-size: 18px
      line-height: 21px

    a
      color: inherit
      text-decoration: none

  &__excerpt
    margin-top: 10px

    font-size: 14px
    line-height: 16px
    font-style: normal
    font-weight: normal

    @media screen and (min-width: $breakpoint--sm)
      font-size: 16px
      line-height: 18px

    color: #555
  
  &__result
    margin-top: 10px

    .result__text
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 14px
      text-transform: uppercase
    
    .result__bar
      height: 8px
      
      border-radius: 10px

      overflow: hidden

      .bar__pros
        background-color: #00AC45

        border-radius: 10px 0 0 10px
        
      .bar__cons
        background-color: #F0030C
        
        border-radius: 0 10px 10px 0