extends ../layouts/main

block variables
  - docTitle = "Biography"
  - page = '/president/biography.html'

block content
  +banner({
    thumbnail: 'assets/img/banner/1.jpg',
    heading: 'Կենսագրություն',
    breadcrumbs: [
      {
        link: '/',
        text: 'Գլխավոր',
      }, 
      {
        text: 'Նախագահ',
        link: '/president/biography.html',
      },
      {
        text: 'Կենսագրություն',
        link: '/president/biography.html',
      }
    ]
  })

  section.section--biography
    .container
      .section__content
        article.biography__article
          img(src="../assets/img/biography/1.jpg", alt="")
          p
            | Ծնվել է 1973թ. դեկտեմբերի 14 -ին Ստեփանակերտ քաղաքում: <br><br>
            | 1990-1994թթ. ուսանել է Երևանի ժողտնտեսության ինստիտուտում: <br><br>
            | 1992թ. անդամագրվել է ԼՂՀ ինքնապաշտպանության ուժերին և ակտիվ մասնակցություն ունեցել պատերազմական գործողություններին: <br><br>
            | 1995թ. ավարտել է Արցախի պետական համալսարանի տնտեսագիտական ֆակուլտետը: <br><br>
            | 1996-1998թթ. ուսումը շարունակել է Արցախի պետական համալսարանի ասպիրանտուրայում «Տնտեսագիտություն» մասնագիտությամբ: <br><br>
            | 1995-1997թթ.՝ ԼՂՀ էկոնոմիկայի և ֆինանսների նախարարի օգնական 1997-1999թթ.՝ «Հայագրոբանկ» ԲԲԸ Ասկերանի մասնաճյուղի կառավարիչ <br><br>
            | 1999-2004թթ.՝«Հայագրոբանկ» ԲԲԸ Ստեփանակերտի մասնաճյուղի կառավարիչ <br><br>
            | 2005-2006թթ.՝ «Ազատ Հայրենիք» կուսակցության համանախագահ <br><br>
            | 2005-2007թթ.՝ Ստեփանակերտի թիվ 4 ընտրատարածքից ընտրվել է ԼՂՀ չորրորդ գումարման Ազգային ժողովի պատգամավոր, եղել է «Հայրենիք» խմբակցության ղեկավար, խորհրդարանի 
            | ֆինանսաբյուջետային և տնտեսական կառավարման հարցերի մշտական հանձնաժողովի նախագահ: <br><br>
            | 2006-2007թթ.՝ «Ղարաբաղ Գոլդ» ՓԲԸ գործադիր տնօրեն <br><br>
            | 2007թ. սեպտեմբերի 14 ՝ ԼՂՀ Նախագահի հրամանագրով նշանակվել է ԼՂՀ վարչապետ <br><br>
            | 2012թ. սեպտեմբերի 14՝ ԼՂՀ Նախագահի հրամանագրով նշանակվել է ԼՂՀ վարչապետ <br><br>
            | 2013թ. պաշտպանել է ատենախոսություն, դարձել տեխնիկական գիտությունների թեկնածու: <br><br> 
            | 2017թ. սեպտեմբերի 25-ից՝ Արցախի Հանրապետության պետական նախարար <br><br>
            | «Ազատ Հայրենիք» կուսակցության նախագահն է: <br><br>
            | Ամուսնացած է, ունի երեք դուստր: <br><br>
            | Պարգևատրվել է «Մարտական Խաչ» II աստիճանի շքանշանով, «Գրիգոր Լուսավորիչ» շքանշանով (ԼՂՀ նախագահի թիվ 198-Ա հրամանագիր 30.08.2016թ.), «Շուշիի ազատագրման համար» մեդալով | (ԼՂՀ նախագահի թիվ 39 հրամանագիր 08.05.2003թ.):