.separator
  display: flex
  flex-direction: row
  align-items: center

  *
    background-color: $color--secondary

  &__line
    width: 100%
    height: 3px

  &__circle
    min-width: 20px
    height: 20px

    margin: 0 20px

    border-radius: 50%
    