.post.post--default
  .row
    if (post.thumbnail)
      .col-sm-4.col--thumbnail
        a(href=post.url).post__thumbnail
          if (post.category)
            label.post__category(style=`background-color: ${post.category.color}`)= post.category.title
          img.lazy(src=placeholderSrc, data-src=post.thumbnail, data-srcset=post.thumbnail, alt=`${post.title} thumbnail`)
    .col
      .post__content
        if (post.title)
          h3.post__title
            a(href=post.url)= post.title
        if (post.excerpt)
          .post__excerpt= post.excerpt
        if (post.date)
          date.post__date= post.date