.carousel.carousel--slick
  if (post.items)
    each item in post.items
      a(href=item.url).post.post--slider
        .post__thumbnail
          img.lazy(src=placeholderSrc, data-src=item.thumbnail, data-srcset=item.thumbnail, alt=`${item.category.color} thumbnail`)
          if (item.category)
            .post__category(style=`background-color: ${item.category.color}`)= item.category.title
        .overlay.overlay--gradient.post__overlay
        .post__content
          h3.post__title= item.title
          .post__excerpt= item.excerpt
          date.post__date= item.date