html[lang="hy-AM"]
  .post
    &__date
      font-family: $font--dejavue__light
    &__category
      font-family: $font--dejavue
    &--thumbnail
      font-family: $font--primary

html[lang="en-US"]
  .post
    &__date
      font-family: $font--dejavue--en
    &__category
      font-family: $font--dejavue--en

html[lang="ru-RU"]
  .post
    &__date
      font-family: $font--dejavue--ru
    &__category
      font-family: $font--dejavue--ru

.post
  position: relative

  transition: box-shadow .3s

  &__date
    display: block
    
    font-size: 11px
    font-weight: 200
    line-height: 13px
    font-style: normal

    @media screen and (min-width: $breakpoint--lg)
      font-size: 14px
      line-height: 16px

  &--default
    background-color: white

    .post__thumbnail
      max-height: 200px

      @media screen and (min-width: $breakpoint--sm)
        max-height: 300px
        
    &:hover
      box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1)

  &__thumbnail
    position: relative

    display: block

    width: 100%
    height: 100%

    img
      width: 100%
      height: 100%

      object-fit: cover
      object-position: center

  &__content
    padding: 10px 10px 10px 0

  &__category
    top: 0
    left: 0
    position: absolute
    
    padding: 2px 4px

    background-color: $color--border

    color: white
    font-size: 10px
    font-weight: 200
    line-height: 12px
    text-transform: lowercase

  &__title
    font-size: 16px
    font-weight: 600
    line-height: 18px
    color: $color--text

    margin: 0
    
    @media screen and (min-width: $breakpoint--lg)
      font-size: 18px
      line-height: 20px

    a
      color: inherit
      text-decoration: none

  &__excerpt
    margin-top: 10px

    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 14px

    @media screen and (min-width: $breakpoint--lg)
      font-size: 14px
      line-height: 16px

    color: #555

  &__date
    margin-top: 10px

  &--slider
    height: 350px

    outline: none !important

    @media screen and (min-width: $breakpoint--sm)
      height: 400px

    @media screen and (min-width: $breakpoint--md)
      height: 450px

    @media screen and (min-width: $breakpoint--lg)
      height: 563px

    .post__content
      left: 0
      bottom: 0
      z-index: 11
      position: absolute

      padding: 15px

      color: white

      @media screen and (min-width: $breakpoint--xl)
        padding: 25px 30px

    .post__title
      color: white
      font-weight: normal

    .post__excerpt
      margin-top: 15px

      line-height: 18px
      color: rgba(255, 255, 255, 0.8)

    .post__date
      margin-top: 15px

  &--thin
    background-color: $color--background

    &:hover
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15)

    .post__thumbnail
      flex: 0 0 84px

      width: auto
      height: auto
      
    .post__content
      flex:  1

      padding: 5px 5px 5px 15px

      overflow: hidden

    .post__date
      margin: 0 0 5px 0

    .post__title
      height: 47px
      color: $color--text

      a
        color: inherit

      @media screen and (min-width: $breakpoint--sm)
        height: 60px

      display: block

      overflow: hidden
      text-overflow: ellipsis

      font-size: 13px
      line-height: 15px

    .post__group
      top: 5px
      left: 5px
      z-index: 2
      position: absolute

      width: 10px
      height: 10px

      border-radius: 10px
  
  &--thumbnail
    position: relative

    display: block

    overflow: hidden

    .post__thumbnail
      height: 255px

    .post__content
      bottom: 0
      z-index: 11
      position: absolute

      display: flex
      flex-direction: column

      padding: 15px

    .post__title
      color: #fff
      font-weight: normal

    .post__excerpt
      color: rgba(256, 256, 256, .8)

    .post__date
      color: #fff

    &.post--ready

      .post__hidden
        overflow: hidden

        transition: height .5s
      
    &.post--ready:not(:hover)
      
      .post__hidden
        height: 0 !important

.carousel

  &__arrow
    top: 50%
    z-index: 12
    position: absolute
    transform: translateY(-50%)

    width: 50px
    height: 50px

    border: none
    outline: none !important
    background-color: rgba(0, 0, 0, 0.5)

    color: #fff

    transition: background-color .3s

    &[aria-disabled="true"]
      display: none

    &:hover
      background-color: #000

    svg
      width: 30px
      height: 30px

    &--prev
      left: 0

      svg
        transform: rotate(180deg)

    &--next
      right: 0