.post.post--thin.d-flex(class=`${post.background == 'white' && 'bg-white'}`)
  a.post__thumbnail(href=post.url)
    img.lazy(src=placeholderSrc, data-src=post.thumbnail, data-srcset=post.thumbnail, alt=`${post.title} thumbnail`)
  .post__content
    date.post__date= post.date
    h4.post__title
      a(href=post.url)= post.title