a(href=post.url).post.post--thumbnail
  .post__thumbnail
    img.lazy(src=placeholderSrc, data-src=post.thumbnail, data-srcset=post.thumbnail, alt=`${post.title} thumbnail`)
  .overlay.overlay--gradient-dark-low.post__overlay
  .post__content
    h3.post__title= post.title
    .post__hidden
      .post__excerpt= post.excerpt
      date.post__date= post.date