- 
  currencies = [
    {
      code: 'USD',
      value: 485.190
    },
    {
      code: 'EUR',
      value: 562.369
    },
    {
      code: 'GBP',
      value: 617.269
    },
    {
      code: 'RUB',
      value: 6.95
    }
  ]

.header__bottom
  .container
    .row.justify-content-between.align-items-center
      .col-auto
        .header__weather.d-flex.align-items-center
          +svg('sun')
          .weather__item.weather__item--hot 31°C
          .weather__item.weather__item--cold 15°C
      .col-auto
        .header__exchange.d-flex
          each currency in currencies
            .exchange__item.d-flex
              .item__currency= currency.code + ':'
              .item__value= currency.value