html[lang="hy-AM"]
  .header__bottom
    font-family: $font--dejavue__mono

html[lang="en-US"]
  .header__bottom
    font-family: $font--dejavue--en

html[lang="ru-RU"]
  .header__bottom
    font-family: $font--dejavue--ru

.header__bottom
  padding: 10px 0

  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 14px
  text-transform: uppercase

  .row
    flex-direction: column
    align-items: center

    @media screen and (min-width: $breakpoint--md)
      flex-direction: row
      justify-content: space-between

  .header__weather
    svg,
    .weather__icon
      width: 30px
      height: 30px
    
    .weather__item
      margin-left: 5px

      &--hot
        color: $color--secondary

      &--cold
        color: #0092E4

  .header__exchange
    margin-top: 10px
    
    @media screen and (min-width: $breakpoint--md)
      margin: 0

    .exchange__item
      @media screen and (max-width: $breakpoint--sm)
        font-size: 10px

      .item__currency
        font-weight: bold

      .item__value
        margin-left: 5px

    .exchange__item + .exchange__item
      margin-left: 10px

      @media screen and (min-width: $breakpoint--sm)
        margin-left: 20px
        