aside.sidebar--blog
  .widget.widget--adme
    img(src="/assets/img/blog/1.jpg", alt="")
    .adme__title Ժենգյալով հացի գխտնիքը
  .widget.widget--calendar
    img(src="/assets/img/blog/2.jpg", alt="")
  .widget.widget--advertising
    +ad()
  .widget.widget--most-read
    .widget__title Շատ կարդացվող
    - for (var i = 1; i <= 3; i++)
      .mb-2
        +post({
          style: 'thin',
          date: '1 մայիս, 14:03',
          url: '/post/single.html',
          thumbnail: '/assets/img/post/4.jpg',
          title: 'Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արայիկ Հարությունյանն ուղերձ է հղել',
        })