html[lang="hy-AM"]
  aside.sidebar--blog
    .widget
      &__title
        font-family: $font--anhok

html[lang="en-US"]
  aside.sidebar--blog
    .widget
      &__title
        font-family: $font--anhok--en

aside.sidebar--blog
  padding: 0 6px 45px 6px

  background-color: #fff

  @media screen and (min-width: $breakpoint--xl)
    padding: 0 6px 45px 6px
    
  .widget
    padding-top: 45px

    img
      width: 100%

    &__title
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 15px
      text-transform: uppercase
    
      margin-bottom: 10px

    &--adme
      position: relative

      .adme__title
        position: absolute
        bottom: 0

        width: 100%
        padding: 15px 0

        text-align: center
        font-size: 16px
        line-height: 18px
        
        color: #FEFEFE

        background-color: $color--secondary
    
    &--advertising
      height: 300px
      