@font-face {
  font-family: 'MarckScript-Regular';
  src: local('MarckScript-Regular'), local('MarckScript-Regular'),
      url('../fonts/Marck-Script/MarckScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}