extends ../layouts/main

block variables
  - docTitle = "Structure - Category"
  - page = '/structure/category.html'

block content
  +banner({
    thumbnail: '../assets/img/banner/3.jpg',
    heading: 'Կառուցվածք',
    breadcrumbs: [
      {
        link: '/',
        text: 'Գլխավոր',
      }, 
      {
        text: 'Կառուցվածք',
        link: '/structure/index.html',
      },
      {
        text: 'շրջանային և ստեփանակերտի քաղաքային խորհուրդներ'
      }
    ]
  })
  +navigation({
    columns: 3,
    items: [
      {
        text: 'Ստեփանակերտ',
        link: '/structure/category.html',
        active: true
      },
      {
        text: 'Հադրութ',
        link: '/structure/category.html'
      },
      {
        text: 'Շուշի',
        link: '/structure/category.html'
      },
      {
        text: 'Մարտակերտ',
        link: '/structure/category.html'
      },
      {
        text: 'Մարտունի',
        link: '/structure/category.html'
      },
      {
        text: 'Քաշաթաղ',
        link: '/structure/category.html'
      },
      {
        text: 'Ասկերան',
        link: '/structure/category.html'
      },
      {
        text: 'Շահումյան',
        link: '/structure/category.html'
      }
    ]
  })
  section.section--structure-posts
    .container
      .row
        - for (var i = 1; i <= 10; i++)
          .col-12.col-xl-6.mb-2
            +post({
              date: '3 ապրիլ, 16:55',
              url: '/structure/single.html',
              title: 'Մի շարք գյուղմթերքներով, այդ թվում՝ ցորենով, զգալի աջակցություն ենք ցուցաբերելու Մայր հայրենքին. Արայիկ Հարությունյան',
              excerpt: `Բարենպաստ եղանակային պայմաններն ու նախատեսված գարնանացան աշխատանքների ծավալը հույս են ներշնչում, որ պարենային 
                        անվտագության հարցում ոչ միայն ապահովելու ենք ներքին...`,
              thumbnail: '../assets/img/post/2.jpg'
            })
      .d-flex.justify-content-center.mt-4
        +more()