extends ../layouts/main

block variables
  - docTitle = "Structure"
  - page = '/structure/index.html'

block content
  +banner({
    thumbnail: '/assets/img/banner/2.jpg',
    heading: 'Կառուցվածք',
    breadcrumbs: [
      {
        link: '/',
        text: 'Գլխավոր',
      }, 
      {
        text: 'Կառուցվածք',
      }
    ]
  })

  section.section--structure
    .container
      .section__content
        +structure({
          title: 'Համագումար',
          thumbnail: '/assets/img/structure/1.jpg',
          items: [
            {
              text: 'Նախագահ',
              link: '/president/biography.html',
            },
            {
              text: 'Կենտրոնական խորհուրդ',
              link: '/structure/category.html',
            },
            {
              text: 'Վերստուգիչ հանձնաժողով',
              link: '/structure/category.html',
            } 
          ]
        })
        +structure({
          style: 'alt',
          title: 'Նախագահ',
          thumbnail: '/assets/img/structure/2.jpg',
          items: [
            {
              text: 'Նախագահ',
              link: '/president/biography.html',
            },
            {
              text: 'Կենտրոնական խորհուրդ',
              link: '/structure/category.html',
            },
            {
              text: 'Վերստուգիչ հանձնաժողով',
              link: '/structure/category.html',
            } 
          ]
        })
        +structure({
          title: 'կենտրոնական խորհուրդ',
          thumbnail: '/assets/img/structure/3.jpg',
          items: [
            {
              text: 'Նախագահ',
              link: '/president/biography.html',
            },
            {
              text: 'Կենտրոնական խորհուրդ',
              link: '/structure/category.html',
            },
            {
              text: 'Վերստուգիչ հանձնաժողով',
              link: '/structure/category.html',
            } 
          ]
        })
        +structure({
          style: 'alt',
          title: 'վերստուգիչ հանձնաժողով',
          thumbnail: '/assets/img/structure/4.jpg',
          items: [
            {
              text: 'Նախագահ',
              link: '/president/biography.html',
            },
            {
              text: 'Կենտրոնական խորհուրդ',
              link: '/structure/category.html',
            },
            {
              text: 'Վերստուգիչ հանձնաժողով',
              link: '/structure/category.html',
            } 
          ]
        })
        +structure({
          title: 'Կանանց խորհուրդ',
          thumbnail: '/assets/img/structure/5.jpg',
          items: [
            {
              text: 'Նախագահ',
              link: '/president/biography.html',
            },
            {
              text: 'Կենտրոնական խորհուրդ',
              link: '/structure/category.html',
            },
            {
              text: 'Վերստուգիչ հանձնաժողով',
              link: '/structure/category.html',
            } 
          ]
        })
        +structure({
          style: 'alt',
          title: 'Երիտասարդական Խորհուրդ',
          thumbnail: '/assets/img/structure/6.jpg',
          items: [
            {
              text: 'Նախագահ',
              link: '/president/biography.html',
            },
            {
              text: 'Կենտրոնական խորհուրդ',
              link: '/structure/category.html',
            },
            {
              text: 'Վերստուգիչ հանձնաժողով',
              link: '/structure/category.html',
            } 
          ]
        })
        +structure({
          title: 'Շրջանային և ստեփանակերտի քաղաքային խորհուրդներ',
          thumbnail: '/assets/img/structure/7.png',
          items: [
            {
              text: 'Ստեփանակերտ',
              link: '/structure/category.html',
            },
            {
              text: 'Շուշի',
              link: '/structure/category.html',
            },
            {
              text: 'Մարտունի',
              link: '/structure/category.html',
            },
            {
              text: 'Մարտակերտ',
              link: '/structure/category.html',
            },
            {
              text: 'Ասկերան',
              link: '/structure/category.html',
            },
            {
              text: 'Հադրութ',
              link: '/structure/category.html',
            },
            {
              text: 'Շահումյան',
              link: '/structure/category.html',
            },
            {
              text: 'Քաշաթաղ',
              link: '/structure/category.html',
            }
          ]
        })