extends ../layouts/main

block variables
  - docTitle = "Structure - Single"
  - page = '/structure/single.html'

block content
  +banner({
    thumbnail: '../assets/img/banner/3.jpg',
    heading: 'Ստեփանակերտ քաղաքու կկառուցվի նոր բնակելի թաղամաս',
    breadcrumbs: [
      {
        link: '/',
        text: 'Գլխավոր',
      }, 
      {
        text: 'Կառուցվածք',
        link: '/structure/index.html',
      },
      {
        text: 'շրջանային և ստեփանակերտի քաղաքային խորհուրդներ',
        link: '/structure/category.html'
      }
    ]
  })

  section.section--structure-single
    .container
      .section__content
        article
          img(class="mb-4", src="/assets/img/structure/8.jpg", alt="Video")
          p. 
            «Ստեփանակերտի կենտրոնում երկու նոր թաղամաս կկառուցվի»,- մեզ հետ հեռախոսազրույցում ասացին Ստեփանակերտի քաղաքապետարանից և նշեցին, որ աշխատանքները գտնվում են նախագծման փուլում։
          p.
            «Շինությունները կառուցվելու են ժամանակակից բոլոր պահանջներին համապատասխան: Տիգրան Մեծ փողոցի վրա կառուցվող շենքերում նախատեսում ենք շինարարության համար օգտագործել սեյսմակայուն բարձիկներ, որոնք հուսալի են դարձնելու շենքի սեյսմակայունությունը: Նոր շենքերը լինելու են գազաֆիկացված: Բոլոր բնակարաններում տեղադրվելու են գազի ազդանշանային համակարգեր: Երկու նոր թաղամասերի տարածքների շինհարթակները արդեն պատրաստ են շինարարություն սկսելու համար: Ներկայումս աշխատանքները գտնվում են նախագծային փուլում: Շին աշխատանքները նախատեսված է ավարտին հասցնել 2020 թվականին», -մանրամասնել էր ԱՀ քաղաքաշինության նախարար Կարեն Շահրամանյանը՝ ընդգծելով, որ այդ բնակարանները քաղաքացիներին է տրամադրվելու հիփոթեքային նոր՝ ավելի մատչելի պայմաններով։
          p.
            Թաղամասերից մեկը գտնվելու է փրկարարների ծառայության նախկին հասցեում։ Նախագծի հեղինակն է ռուսաստանաբնակ ճարտարապետ Մաքսիմ Աթայանցը։ Տիգրան Մեծ-Ալեք Մանուկյան խաչմերուկի հարևանությամբ գտնվող թաղամասի տարածքը կազմում է 3.5 hա: Այն կլինի ուրույն ոճով թաղամաս, հետաքրքիր լուծումներով: Ըստ նախագծի թաղամասը կառուցապատվելու է 7 և 9 հարկանի շենքերով։ Շենքերն ունենալու են սեյսմակայուն բարձիկներ և կառուցվելու են նորագույն տեխնոլոգիաների կիրառմամբ։ ԱՀ քաղաքաշինության նախարարի խոսքերով․ «Նոր տեխնոլոգիաների օգտագործումը և կէժանացնի շինարարության արժեքը և մյուս կողմից ավելի հուսալի կլինի այդ շենքերի սեյսմիկ անվտանգությունը»։ Հարկ է նշել, որ կառուցվող թաղամասը չի խանգարի արդեն կանգուն բարձրահարկերին և ավելին, նույն սեյսմակայուն բարձիկներով կզինվեն նաև Տիգրան Մեծ փողոցի 9 հարկանի շենքերը։ Կարեն Շահրամանյանի խոսքերով առանց բնակիչներին տարհանելու արդեն իսկ կանգուն շենքերը հիմքերից ամրացվելու և տեղադրվելու են սեյսմակայուն բարձիկներ։ Այս քայլի արդյունքում մի քանի անգամ բարձրանալու է շենքերի սեյսմակայունությունը: Ահա այսպիսի մոտեցումներով է իրականացվում քաղաքաշինությունը Արցախում։ Հուսանք, որ նման տեխնոլոգիան կիրագործվի և մեզ մոտ, պատմագեղարվեստական արժեք ունեցող բնակելի շենքերի կյանքը երկարացնելու հարցում։ Կառուցվող շենքերում առկա բնակարանները ունենալու են հետևյալ մակերեսները՝ 2 սենյականոցները – մինչև 67 քմ, 3 սենյականոցները 80-96քմ և 4 սենյականոցները -110քմ: Հատակագծային լուծումներով, ընդհանուր առմամբ բնակարանները համալրված են լինելու առանձին խոհանոցներով և հյուրասենյակներով։ Երեք և չորս սենյականոց բնակարաններում նախատեսված են 2-ական սանհանգույցներ։ 
          p.
            Երկրորդ բնակելի թաղամասը գտնվելու է շինանյութերի նախկին կոմբինատի տարածքում։ Թաղամասի նախագծմամբ է զբաղված «Պորտալ» ճարտարապետական արվեստանոցը։ Բնակելի թաղամասի տարածքը զբաղեցնում է մոտ 2.5 հա տարածք: Այն գտնվում է Թումանյան փողոցի հարակից տարածքում՝ սպայական թաղամասի հարևանությամբ:
          img(class="mr-2", src="/assets/img/structure/9.jpg", alt="")
          img(src="/assets/img/structure/9.jpg", alt="")
          p.mt-4.
            Նախատեսվում է հիմնականում ունենալ մինչև 5 հարկանի բնակելի շենքեր։ Արվեստանոցի ճարտարապետները կանաչ տարածքների կողմնակից են, ինչը և արտահայտվում է նախագծում։ Թաղամասը կառուցվելու է բակային համակարգով։ Ճարտարապետ Սևակ Ասրյանի խոսքով փորձել են կատարելագործել Թումանյան փողոցի սպայական թաղամասը․ «Երկկողմանի օրիենտացիայով կազմակերպված բնակարաններ են լինելու՝ այսինքն բնակարանների պատուհանները ուղղված են լինելու և՛ դեպի արտաքին փողոց և՛ դեպի բակային տարածք։ Նման մոտեցումը շատ կարևոր է և ինսոլյացիայի և բնակարանների օդափոխության համար»։ Այս մոտեցումը խորթ չէ մեր ճարտարապետությանը։ Ավելին, հիմնականում նման մոտեցմամբ են կառուցվել 19-20 դարերի բնակելի տները, ինչը ելնում էր մեր բնակլիմայական պայմաններից։ Կարևոր է նաև այն, որ Թումանյան փողոցի նոր թաղամասում կկառուցվեն անհրաժեշտ ենթակառուցվածքներ՝ դպրոց, մանկապարտեզ։ Ճարտարապետի խոսքերով ․«Դպրոցը նախատեսված է մոտ 450-500 աշակերտի համար, իսկ մանկապարտեզը նախատեսված է 3 խմբի համար։ Մանկապարտեզը ընդհամենը մի քանի մետր հեռավորության վրա գտնվելու ընդհանուր թաղամասից»։ 
          p.
            Շատ կարևոր հանգամանք է, որ նախատեսվող թաղամասերում բնակարանները կլինեն բավականին մատչելի։ Կառուցվող բյուջետային բնակարանները կլինեն առանց ավելորդ ճոխության։ Չնայած այդ հանգամանքի ԱՀ պետնախարար Գրիգորի Մարտիրոսյանը վստահեցնում է, որ դա չի նշանակում թե նորակառույցները կզիջեն գործող չափանիշներին․ «Կան մի քանի գնային տարբերակներ, որոնցից կընտրվի համեմատաբար մատչելի, համեստ և որակին համապատասխան շինանյութը, բայց բնական է, որ պետական վերահսկողություն է լինելու բացի հիմնական տեխնիկական հսկողությունից։ Այդ շենքերի բնակարանները միանշանակ կապահովեն անհրաժեշտ որակը, թող մեր քաղաքացիները լինեն անհոգ այդ տեսակետից»։ Բնակարանային պայմանների բարելավման համար կառավարությունը կյանքի է կոչել մատչելի հիփոթեքի ծրագիրը։ Առկա բնակարանային ֆոնդը հին է, իսկ նոր բնակարանների պահանջարկը շատ։ Կառավարություններում վստահ են, որ հիփոթեքի նոր կարգից կօգտվեն ավելի շատ ընտանիքներ: «Շեշտը դրվում է այսպիսի ծրագրի վրա և մենք համապատասխան ֆինանսական միջոցները նույնպես նախատեսել ենք պետական բյուջեում և այդ ծրագրի իրականացնողը կլինի Արցախի ներդրումային հիմնադրամը, որին ուղղվող միջոցները այս տարվա պետական բյուջեում ավելացվել են շուրջ 1,5 մլրդ դրամով»,- նշել էր Գրիգորի Մարտիրոսյանը։ Ստեփանակերտի նոր թաղամասերում կբնակվեն նաև կարգավիճակ ունեցող ընտանիքներ՝ նրանք ում նկատմամբ պետությունը պարտավորություն ունի։ Անկախ բնակիչների սոցիալական վիճակից բնակարանները կլինեն նույնատիպ։
  +navigation({
    columns: 3,
    items: [
      {
        text: 'Ստեփանակերտ',
        link: '/',
        active: true
      },
      {
        text: 'Հադրութ',
        link: '/'
      },
      {
        text: 'Շուշի',
        link: '/'
      },
      {
        text: 'Մարտակերտ',
        link: '/'
      },
      {
        text: 'Մարտունի',
        link: '/'
      },
      {
        text: 'Քաշաթաղ',
        link: '/'
      },
      {
        text: 'Ասկերան',
        link: '/'
      },
      {
        text: 'Շահումյան',
        link: '/'
      }
    ]
  })