extends layouts/main

block variables
  - docTitle = "Home"
  - page = '/index.html'

block content
  include includes/header/index

  section.section--about-us.pb-0
    .container
      .section__heading Մեր մասին
        .heading__underline.red
      .section__content
        p.
          Ազատ Հայրենիք, քաղաքական կուսակցություն Արցախում։ Ստեղծվել է 2005 թվականի հունվարի 29-ին։ Նախագահն է միաժամանակ կառավարության ղեկավար հանդիսացող Արայիկ Հարությունյանը։ 2005 թվականի հունիսի 19-ին ԱՀԿ-ն մասնակցել է Արցախի 4-րդ գումարման Ազգային ժողովի ընտրություններին։ Համամասնական ընտրակարգով ԱՀԿ-ն ստացել է շուրջ 37 տոկոս ձայն և մեծամասնական ընտրակարգով ընտրված պատգամավորների հետ միասին 12 մանդատով ձևավորել է «Հայրենիք» խորհրդարանական խմբակցությունը։ 2010 թվականի մայիսի 23-ին ԱՀԿ-ն մասնակցել է ԼՂՀ 5-րդ գումարման Ազգային ժողովի ընտրություններին որտեղ համամասնական ընտրակարգով ստացել է 46.4 տոկոս ձայն և մեծամասնական ընտրակարգով ընտրված պատգամավորների հետ 14 պատգամավորական մանդատով խորհրդարանում վերաձևավորել է «Հայրենիք» խմբակցությունը։ 2015 թ.-ին մայիսի 3-ին կայացած վեցերորդ գումարման խորհրդարանական ընտրություններին կուսակցությունը կրկին բարելավել է նախորդ արդյունքը համամասնական ընտրակարգով ստանալով 47.7 տոկոս ձայն և մեծամասնական ընտրակարգով ընտրված պատգամավորների հետ միասին 15 մանդատով վերաձևավորել է «Հայրենիք» խմբակցությունը։
    .slogan
      .container
        p.
          Գոյապահպանման ազգային գործոններն են՝ ազգային և կրոնական ինքնագիտակցություն, լեզվապահպանություն, ազգային կրթական համակարգ և մշակույթ, հայրենասիրություն և մարտական ոգի, ավանդապահություն, համերաշխություն, պատմական հիշողություն, ազգային մտածողություն և հոգեկերտվածք։
  
  section.section--our-mission
    .container
      .section__heading Մեր ԾՐԱԳԻՐԸ
        .heading__underline.blue
      .section__content
        .row
          .col-12.col-md-6.col-lg-4.mb-2
            +mission({
              index: '1',
              thumbnail: '/assets/img/mission/1.jpg',
              title: 'Համախոհ մարդկանց միջոցով Արցախում հաստատել սոցիալական արդարություն',
            })
          .col-12.col-md-6.col-lg-4.mb-2
            +mission({
              index: '2',
              thumbnail: '/assets/img/mission/2.jpg',
              title: 'Վերականգնել ժողովրդի հավատը սեփական հավաքական ուժերի և ապագայի նկատմամբ',
            })
          .col-12.col-md-6.col-lg-4.mb-2
            +mission({
              index: '3',
              thumbnail: '/assets/img/mission/3.jpg',
              title: 'Խթանել միջին խավի ձևավորմանը',
            })
          .col-12.col-md-6.col-lg-4.mb-2
            +mission({
              index: '4',
              thumbnail: '/assets/img/mission/4.jpg',
              title: 'Ամրապնդել կառավարման կայուն ժողովրդավարական համակարգը',
            })
          .col-12.col-md-6.col-lg-4.mb-2
            +mission({
              index: '5',
              thumbnail: '/assets/img/mission/5.jpg',
              title: 'Նպաստել Հայ Առաքելական եկեղեցու դերի բարձրացմանը',
            })

  section.section--our-activity
    .container
      .section__heading ՄԵՐ ԳՈՐԾՈՒՆԵՈՒԹՅՈՒՆԸ
        .heading__underline.orange
      .section__content
        .row
          .col.col-12.col-md-6.mb-4
            +post({
              style: 'slider',
              items: [
                {
                  date: '1 մայիս, 14:03',
                  url: '/post/single.html',
                  title: 'Նորընտիր Ազգային ժողովի նախագահ է ընտրվել Արթուր Թովմասյանը',
                  excerpt: `Քիչ առաջ նորընտիր յոթերորդ գումարման Խորհրդարանը փակ քվեարկության արդյունքում 29 կողմ, 4 դեմ ձայների
                            հարաբերակցությամբ Ազգային ժողովի նախագահ է ընտրել «Ազատ Հայրենիք-Քաղաքացիական միացյալ դաշինք» կուսակցությունների
                            դաշինքի պատգամավոր Արթուր Թովմասյանին:`,
                  thumbnail: '/assets/img/post/4.jpg',
                  category: {
                    color: '#0333CA',
                    title: 'օրենսդիր',
                  },
                },
                {
                  date: '4 ապրիլ, 12:00',
                  url: '/post/single.html',
                  title: '«Ազատ հայրենիք» կուսակցության նախագահը հանդիպել է երիտասարդների հետ',
                  excerpt: `Նախօրեին մեկնարկած, ԼՂՀ Ազգային ժողովի նախընտրական քարոզարշավի շրջանակներում, 
                            «Ազատ հայրենիք» կուսակցության նախագահ, վարչապետ Արայիկ Հարությունյանը Արցախի 
                            պետական համալսարանում հանդիպել է...`,
                  thumbnail: '/assets/img/post/1.jpg',
                  category: {
                    color: '#0333CA',
                    title: 'օրենսդիր',
                  },
                },
                {
                  date: '3 ապրիլ, 16:55',
                  url: '/post/single.html',
                  title: 'Մի շարք գյուղմթերքներով, այդ թվում՝ ցորենով, զգալի աջակցություն ենք ցուցաբերելու Մայր հայրենքին. Արայիկ Հարությունյան',
                  excerpt: `Բարենպաստ եղանակային պայմաններն ու նախատեսված գարնանացան աշխատանքների ծավալը հույս են ներշնչում, որ պարենային 
                            անվտագության հարցում ոչ միայն ապահովելու ենք ներքին...`,
                  thumbnail: '/assets/img/post/2.jpg',
                  category: {
                    color: '#0333CA',
                    title: 'օրենսդիր',
                  },
                },
                {
                  date: '31 մարտ, 09:55',
                  url: '/post/single.html',
                  title: 'Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արայիկ Հարությունյանն ուղերձ է հղել',
                  excerpt: `«Ազատ հայրենք - ՔՄԴ» կուսակցությունների դաշինքի առաջնորդ, Արցախի Հանրապետության նախագահի թեկնածու Արայիկ Հարությունյանը
                            ֆեյսբուքյան իր էջով հանդես է եկել ուղերձով, որտեղ իր երախտագիտությու...`,
                  thumbnail: '/assets/img/post/3.jpg',
                  category: {
                    color: '#FF6504',
                    title: 'գործադիր',
                  },
                },
              ]
            })
          .col.col-12.col-md-6.mb-4
             .d-flex.flex-column.justify-content-between.h-100
              .mb-2
                +post({
                  date: '4 ապրիլ, 12:00',
                  url: '/post/single.html',
                  title: '«Ազատ հայրենիք» կուսակցության նախագահը հանդիպել է երիտասարդների հետ',
                  excerpt: `Նախօրեին մեկնարկած, ԼՂՀ Ազգային ժողովի նախընտրական քարոզարշավի շրջանակներում, 
                            «Ազատ հայրենիք» կուսակցության նախագահ, վարչապետ Արայիկ Հարությունյանը Արցախի 
                            պետական համալսարանում հանդիպել է...`,
                  thumbnail: '/assets/img/post/1.jpg',
                  category: {
                    color: '#FF6504',
                    title: 'գործադիր',
                  },
                })
              .mb-2
                +post({
                  date: '3 ապրիլ, 16:55',
                  url: '/post/single.html',
                  title: 'Մի շարք գյուղմթերքներով, այդ թվում՝ ցորենով, զգալի աջակցություն ենք ցուցաբերելու Մայր հայրենքին. Արայիկ Հարությունյան',
                  excerpt: `Բարենպաստ եղանակային պայմաններն ու նախատեսված գարնանացան աշխատանքների ծավալը հույս են ներշնչում, որ պարենային 
                            անվտագության հարցում ոչ միայն ապահովելու ենք ներքին...`,
                  thumbnail: '/assets/img/post/2.jpg',
                  category: {
                    color: '#FF6504',
                    title: 'գործադիր',
                  },
                })
              .mb-0
                +post({
                  date: '31 մարտ, 09:55',
                  url: '/post/single.html',
                  title: 'Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արայիկ Հարությունյանն ուղերձ է հղել',
                  excerpt: `«Ազատ հայրենք - ՔՄԴ» կուսակցությունների դաշինքի առաջնորդ, Արցախի Հանրապետության նախագահի թեկնածու Արայիկ Հարությունյանը
                            ֆեյսբուքյան իր էջով հանդես է եկել ուղերձով, որտեղ իր երախտագիտությու...`,
                  thumbnail: '/assets/img/post/3.jpg',
                  category: {
                    color: '#FF6504',
                    title: 'գործադիր',
                  },
                })
        .d-flex.justify-content-center.mt-4
          +button({
            text: 'Բոլորը',
            link: '/activity/index.html'
          })
  
  section.section--gallery
    .container
      .section__heading Տեսադարան
        .heading__underline.red
      .section__content
        .gallery-grid
          .row.row--gallery
            .col-4.col--gallery
              .col--gallery-item
                +gImage({
                  date: '16 մարտ, 15:33',
                  name: 'Նկարի անվանումը',
                  url: '/gallery/video/category.html',
                  thumbnail: '/assets/img/gallery/15.jpg',
                })
              .col--gallery-item
                +gpPreview({
                  url: '/gallery/photo/category.html',
                  thumbnail: '/assets/img/gallery/12.jpg',
                  excerpt: `
                    Ազատ ու անկախ Արցախ,
                    Քո տուն-ամրոցը կերտեցինք,
                    Պատմությունը մեր երկրի,
                    Մեր սուրբ արյամբ մենք սերտեցինք։

                    Դու բերդ ես անառիկ,
                    Բարձունք սրբազան, վեհ անուն,
                    Մասունք աստվածային,
                    Քեզնով ենք հավերժանում։

                    Դու մեր լույս հայրենիք,
                    Երկիր, հայրենյաց դուռ սիրո.
                    Ապրիր դու միշտ խաղաղ,
                    Մեր հին ու նոր Ղարաբաղ։

                    Քաջերն ենք մենք հայկազուն,
                    Մռավ ենք, Քիրս ենք ու Թարթառ,
                    Մեր վանքերով լեռնապահ՝
                    Անհաղթելի մի բուռ աշխարհ։
                  `
                })
            .col-3.col--gallery
              .col--gallery-item
                +gImage({
                  date: '16 մարտ, 15:33',
                  name: 'Նկարի անվանումը',
                  url: '/gallery/video/category.html',
                  thumbnail: '/assets/img/gallery/16.jpg',
                })
              .col--gallery-item
                +gImage({
                  date: '16 մարտ, 15:33',
                  name: 'Նկարի անվանումը',
                  url: '/gallery/video/category.html',
                  thumbnail: '/assets/img/gallery/17.jpg',
                })
              .col--gallery-item
                +gImage({
                  date: '16 մարտ, 15:33',
                  name: 'Նկարի անվանումը',
                  url: '/gallery/video/category.html',
                  thumbnail: '/assets/img/gallery/13.jpg',
                })
            .col-5.col--gallery
              .col--gallery-item
                +gImage({
                  date: '16 մարտ, 15:33',
                  name: 'Նկարի անվանումը',
                  url: '/gallery/video/category.html',
                  thumbnail: '/assets/img/gallery/2.jpg',
                })
              .col--gallery-item
                +gvPreview({
                  url: '/gallery/video/category.html',
                  thumbnail: '/assets/img/gallery/14.jpg',
                })
        .d-flex.justify-content-center.mt-4
          +button({
            text: 'Բոլորը',
            link: '/gallery/index.html'
          })

  section.section--latest-news
    .container
      .section__heading Նորություններ
        .heading__underline.blue
      .section__content
        .row.row--categories
          .col.col-3
            .group
              .group__ellipse.pink
              .group__title ամենօրյա
          .col.col-3
            .group
              .group__ellipse.lightblue
              .group__title ամենօրյա
          .col.col-3
            .group
              .group__ellipse.darkblue
              .group__title ամենօրյա
          .col.col-3
            .group
              .group__ellipse.green
              .group__title ամենօրյա
        .row
          - for (var x = 1; x <= 20; x++)
            .col.col-12.col-sm-6.col-md-4.col-xl-3.mb-2
              +post({
                style: 'thin',
                date: '1 մայիս, 14:03',
                url: '/post/single.html',
                thumbnail: '/assets/img/post/1.jpg',
                title: '«Ազատ հայրենիք» կուսակցության նախագահը հանդիպել է երիտասարդների հետ',
              })
        .d-flex.justify-content-center.mt-4
          +button({
            text: 'Բոլորը',
            link: '/news/index.html'
          })

  section.section--donate
    .container
      .row
        .col-auto.ml-auto
          form.donate
            .section__heading Նվիրատվություն
              .heading__underline.orange
            .section__content
              .donate__description
                .description__promise Կայուն զարգացում
                .description__info Նվիրատվության տրված բոլոր միջոցները կուղղվեն կուսակցության զարգացման և ընդլայմվան համար
              .donate__prices
                .row.no-gutters
                  .col-auto.col--radio
                     +radio({
                      value: 1000,
                      name: 'price',
                      text: '1000 ֏',
                    })
                  .col-auto.col--radio
                    +radio({
                      value: 2000,
                      name: 'price',
                      text: '2000 ֏',
                    })
                  .col-auto.col--radio
                    +radio({
                      value: 5000,
                      name: 'price',
                      text: '5000 ֏',
                    })
                  .col.col--input
                    .prices__input
                      input(type="text", placeholder="այլ")
                      .currency ֏
              .donate__submit.d-flex.justify-content-between.align-items-center
                .submit__cards
                  img(src="/assets/img/donate/visa.png", alt="Visa")
                  img(src="/assets/img/donate/master.png", alt="Mastercard")
                  img(src="/assets/img/donate/maestro.png", alt="Maestro")
                button.submit__button Նվիրաբերել

      