extends layouts/main

block variables
  - docTitle = "UI Components"
  - page = '/ui.html'

block content
  fieldset.pb-5
    legend.text-info Banner
    hr
    +banner({
      thumbnail: 'assets/img/banner/1.jpg',
      heading: 'Կենսագրություն',
      breadcrumbs: [
        {
          link: '/',
          text: 'Գլխավոր',
        }, 
        {
          text: 'Նախագահ',
          link: '/president/biography.html',
        }
      ]
    })

  .container.pb-5

    fieldset.pb-5
      legend.text-info Blockquote
      hr
      +blockquote({
        text: ` Ես երդում տված եմ եւ կպատկանամ մեկ մարդու, այդ մարդը հայրենիքի ազատության զինվորն է։... 
                իմ նպատակն է կռվել Արցախի հաղթանակի համար, հանուն որի կյանքս ալ անգամ չեմ խնայե։... 
                Ես երդում տված եմ...
                Արցախը իմ առաջին պայքարը չէ, եւ վստահ եմ, որ վերջինը չի ըլլա...`
      })

    fieldset.pb-5
      legend.text-info Buttons
      hr
      +button({
        text: 'Բոլորը'
      })
      +more()

    fieldset.pb-5
      legend.text-info Loop items -- Mission
      hr
      .row
        .col-md-4
          +mission({
            index: '1',
            thumbnail: 'assets/img/mission/1.jpg',
            title: 'Համախոհ մարդկանց միջոցով Արցախում հաստատել սոցիալական արդարություն',
          })
        .col-md-4
         +mission({
            index: '2',
            thumbnail: 'assets/img/mission/2.jpg',
            title: 'Վերականգնել ժողովրդի հավատը սեփական հավաքական ուժերի և ապագայի նկատմամբ',
          })

        .col-md-4
           +mission({
            index: '3',
            title: 'Խթանել միջին խավի ձևավորմանը',
          })

    fieldset.pb-5
      legend.text-info Loop items -- Structure
      hr
      +structure({
        title: 'Համագումար',
        thumbnail: 'assets/img/structure/1.jpg',
        items: [
          {
            text: 'Նախագահ',
            link: '/structure/category.html',
          },
          {
            text: 'Կենտրոնական խորհուրդ',
            link: '/structure/category.html',
          },
          {
            text: 'Վերստուգիչ հանձնաժողով',
            link: '/structure/category.html',
          } 
        ]
      })
      .my-5
        +structure({
          style: 'alt',
          title: 'Շրջանային և ստեփանակերտի քաղաքային խորհուրդներ',
          thumbnail: 'assets/img/structure/7.png',
          items: [
            {
              text: 'Ստեփանակերտ',
              link: '/structure/category.html',
            },
            {
              text: 'Շուշի',
              link: '/structure/category.html',
            },
            {
              text: 'Մարտունի',
              link: '/structure/category.html',
            },
            {
              text: 'Մարտակերտ',
              link: '/structure/category.html',
            },
            {
              text: 'Ասկերան',
              link: '/structure/category.html',
            },
            {
              text: 'Հադրութ',
              link: '/structure/category.html',
            },
            {
              text: 'Շահումյան',
              link: '/structure/category.html',
            },
            {
              text: 'Քաշաթաղ',
              link: '/structure/category.html',
            }
          ]
        })
    
    fieldset.pb-5
      legend.text-info Loop item -- Person
      hr
      .row.py-5
        .col-md-3
          +person({
            name: 'Անուն Ազգանուն Հայրանուն'
          })
        .col-md-3
          +person({
            name: 'Անուն Ազգանուն Հայրանուն'
          })
    
    fieldset.pb-5
      legend.text-info Loop item -- Gallery Images
      hr
      .d-flex.align-items-start
        div(style="max-width: 372px")
          +gCategory({
            name: 'Ալբոմի անվանումը',
            date: '16 մարտ, 15:33',
            url: '/gallery/video/category.html',
            excerpt: 'Ալբոմի նկարագրություն ալբոմի նկարագրություն ալբոմի նկարագրություն ալբոմի նկարագրություն',
            thumbnails: [
              'assets/img/gallery/1.jpg',
              'assets/img/gallery/2.jpg',
              'assets/img/gallery/3.jpg',
              'assets/img/gallery/4.jpg',
              'assets/img/gallery/5.jpg',
              'assets/img/gallery/6.jpg',
            ],
          })
        div.ml-3(style="max-width: 372px")
          +gImage({
            date: '16 մարտ, 15:33',
            name: 'Նկարի անվանումը',
            url: '/gallery/video/category.html',
            thumbnail: 'assets/img/gallery/1.jpg',
          })
        div.ml-3(style="max-width: 372px")
          +gpPreview({
            url: '/gallery/photo/category.html',
            thumbnail: 'assets/img/gallery/12.jpg',
            excerpt: `
              Ազատ ու անկախ Արցախ,
              Քո տուն-ամրոցը կերտեցինք,
              Պատմությունը մեր երկրի,
              Մեր սուրբ արյամբ մենք սերտեցինք։

              Դու բերդ ես անառիկ,
              Բարձունք սրբազան, վեհ անուն,
              Մասունք աստվածային,
              Քեզնով ենք հավերժանում։

              Դու մեր լույս հայրենիք,
              Երկիր, հայրենյաց դուռ սիրո.
              Ապրիր դու միշտ խաղաղ,
              Մեր հին ու նոր Ղարաբաղ։

              Քաջերն ենք մենք հայկազուն,
              Մռավ ենք, Քիրս ենք ու Թարթառ,
              Մեր վանքերով լեռնապահ՝
              Անհաղթելի մի բուռ աշխարհ։
            `
          })
    
    fieldset.pb-5
      legend.text-info Loop item -- Gallery Videos
      hr
      .d-flex.align-items-start
        div(style="max-width: 372px")
          +gVideo({
            delay: '15:00',
            date: '16 մարտ, 15:33',
            name: 'Նկարի անվանումը',
            url: '/gallery/video/category.html',
            thumbnail: 'assets/img/gallery/2.jpg',
            excerpt: 'Տեսահոլովակի նկարագրությունը տեսահոլովակի նկարագրությունը տեսահոլովակի նկարագրությունը...',
          })
        div.ml-3(style="max-width: 468px")
          +gvPreview({
            url: '/gallery/video/category.html',
            thumbnail: 'assets/img/gallery/14.jpg',
          })
  
    fieldset.pb-5
      legend.text-info Radio
      hr
      +radio({
        value: 1000,
        name: 'price',
        text: '1000 ֏',
      })
      +radio({
        value: 2000,
        name: 'price',
        text: '2000 ֏',
      })
      +radio({
        value: 5000,
        name: 'price',
        text: '5000 ֏',
      })
    
    fieldset.pb-5
      legend.text-info Posts
      hr
      .row
        .col-6
          +post({
            style: 'slider',
            items: [
              {
                date: '1 մայիս, 14:03',
                url: '/post/single.html',
                title: 'Նորընտիր Ազգային ժողովի նախագահ է ընտրվել Արթուր Թովմասյանը',
                excerpt: `Քիչ առաջ նորընտիր յոթերորդ գումարման Խորհրդարանը փակ քվեարկության արդյունքում 29 կողմ, 4 դեմ ձայների
                          հարաբերակցությամբ Ազգային ժողովի նախագահ է ընտրել «Ազատ Հայրենիք-Քաղաքացիական միացյալ դաշինք» կուսակցությունների
                          դաշինքի պատգամավոր Արթուր Թովմասյանին:`,
                thumbnail: 'assets/img/post/4.jpg',
                category: {
                  color: '#0333CA',
                  title: 'օրենսդիր',
                },
              },
              {
                date: '4 ապրիլ, 12:00',
                url: '/post/single.html',
                title: '«Ազատ հայրենիք» կուսակցության նախագահը հանդիպել է երիտասարդների հետ',
                excerpt: `Նախօրեին մեկնարկած, ԼՂՀ Ազգային ժողովի նախընտրական քարոզարշավի շրջանակներում, 
                          «Ազատ հայրենիք» կուսակցության նախագահ, վարչապետ Արայիկ Հարությունյանը Արցախի 
                          պետական համալսարանում հանդիպել է...`,
                thumbnail: 'assets/img/post/1.jpg',
                category: {
                  color: '#0333CA',
                  title: 'օրենսդիր',
                },
              },
              {
                date: '3 ապրիլ, 16:55',
                url: '/post/single.html',
                title: 'Մի շարք գյուղմթերքներով, այդ թվում՝ ցորենով, զգալի աջակցություն ենք ցուցաբերելու Մայր հայրենքին. Արայիկ Հարությունյան',
                excerpt: `Բարենպաստ եղանակային պայմաններն ու նախատեսված գարնանացան աշխատանքների ծավալը հույս են ներշնչում, որ պարենային 
                          անվտագության հարցում ոչ միայն ապահովելու ենք ներքին...`,
                thumbnail: 'assets/img/post/2.jpg',
                category: {
                  color: '#0333CA',
                  title: 'օրենսդիր',
                },
              },
              {
                date: '31 մարտ, 09:55',
                url: '/post/single.html',
                title: 'Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արայիկ Հարությունյանն ուղերձ է հղել',
                excerpt: `«Ազատ հայրենք - ՔՄԴ» կուսակցությունների դաշինքի առաջնորդ, Արցախի Հանրապետության նախագահի թեկնածու Արայիկ Հարությունյանը
                          ֆեյսբուքյան իր էջով հանդես է եկել ուղերձով, որտեղ իր երախտագիտությու...`,
                thumbnail: 'assets/img/post/3.jpg',
                category: {
                  color: '#FF6504',
                  title: 'գործադիր',
                },
              },
            ]
          })
        .col-6
          .mb-2
            +post({
              date: '4 ապրիլ, 12:00',
              url: '/post/single.html',
              title: '«Ազատ հայրենիք» կուսակցության նախագահը հանդիպել է երիտասարդների հետ',
              excerpt: `Նախօրեին մեկնարկած, ԼՂՀ Ազգային ժողովի նախընտրական քարոզարշավի շրջանակներում, 
                        «Ազատ հայրենիք» կուսակցության նախագահ, վարչապետ Արայիկ Հարությունյանը Արցախի 
                        պետական համալսարանում հանդիպել է...`,
              thumbnail: 'assets/img/post/1.jpg',
              category: {
                color: '#FF6504',
                title: 'գործադիր',
              },
            })
          .mb-2
            +post({
              date: '3 ապրիլ, 16:55',
              url: '/post/single.html',
              title: 'Մի շարք գյուղմթերքներով, այդ թվում՝ ցորենով, զգալի աջակցություն ենք ցուցաբերելու Մայր հայրենքին. Արայիկ Հարությունյան',
              excerpt: `Բարենպաստ եղանակային պայմաններն ու նախատեսված գարնանացան աշխատանքների ծավալը հույս են ներշնչում, որ պարենային 
                        անվտագության հարցում ոչ միայն ապահովելու ենք ներքին...`,
              thumbnail: 'assets/img/post/2.jpg',
              category: {
                color: '#FF6504',
                title: 'գործադիր',
              },
            })
          .mb-0
            +post({
              date: '31 մարտ, 09:55',
              url: '/post/single.html',
              title: 'Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արայիկ Հարությունյանն ուղերձ է հղել',
              excerpt: `«Ազատ հայրենք - ՔՄԴ» կուսակցությունների դաշինքի առաջնորդ, Արցախի Հանրապետության նախագահի թեկնածու Արայիկ Հարությունյանը
                        ֆեյսբուքյան իր էջով հանդես է եկել ուղերձով, որտեղ իր երախտագիտությու...`,
              thumbnail: 'assets/img/post/3.jpg',
              category: {
                color: '#FF6504',
                title: 'գործադիր',
              },
            })
      .row.mt-4
        .col-3
          +post({
            style: 'thin',
            date: '1 մայիս, 14:03',
            url: '/post/single.html',
            thumbnail: 'assets/img/post/1.jpg',
            title: '«Ազատ հայրենիք» կուսակցության նախագահը հանդիպել է երիտասարդների հետ',
          })
        .col-3
          +post({
            style: 'thin',
            date: '1 մայիս, 14:03',
            url: '/post/single.html',
            thumbnail: 'assets/img/post/2.jpg',
            title: 'Մի շարք գյուղմթերքներով, այդ թվում՝ ցորենով, զգալի աջակցություն ենք ցուցաբերելու Մայր հայրենքին. Արայիկ Հարությունյան',
          })
        .col-3
          +post({
            style: 'thin',
            date: '1 մայիս, 14:03',
            url: '/post/single.html',
            thumbnail: 'assets/img/post/3.jpg',
            title: 'Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արայիկ Հարությունյանն ուղերձ է հղել',
          })
        .col-3
          +post({
            style: 'thin',
            date: '1 մայիս, 14:03',
            url: '/post/single.html',
            thumbnail: 'assets/img/post/4.jpg',
            title: 'Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արայիկ Հարությունյանն ուղերձ է հղել',
          })
      .row.mt-4
        .col-3
          +post({
            style: 'thumbnail',
            date: '4 ապրիլ, 12:00',
            url: '/post/single.html',
            thumbnail: 'assets/img/post/1.jpg',
            excerpt: `Նախօրեին մեկնարկած, ԼՂՀ Ազգային ժողովի նախընտրական քարոզարշ...`,
            title: '«Ազատ հայրենիք» կուսակցության նախագահը հանդիպել է երիտասարդների հետ',
          })
        .col-3
          +post({
            style: 'thumbnail',
            date: '1 մայիս, 14:03',
            url: '/post/single.html',
            thumbnail: 'assets/img/post/2.jpg',
            excerpt: `Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արա...`,
            title: '«Ազատ հայրենիք» կուսակցության նախագահը հանդիպել է երիտասարդների հետ',
          })
        .col-3
          +post({
            style: 'thumbnail',
            date: '1 մայիս, 14:03',
            url: '/post/single.html',
            thumbnail: 'assets/img/post/3.jpg',
            excerpt: `Մի շարք գյուղմթերքներով, այդ թվում՝ ցորենով, զգալի աջակցու...`,
            title: 'Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արայիկ Հարությունյանն ուղերձ է հղել',
          })
        .col-3
          +post({
            style: 'thumbnail',
            date: '1 մայիս, 14:03',
            url: '/post/single.html',
            thumbnail: 'assets/img/post/4.jpg',
            excerpt: `Մի շարք գյուղմթերքներով, այդ թվում՝ ցորենով, զգալի աջակցու...`,
            title: 'Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արայիկ Հարությունյանն ուղերձ է հղել',
          })