@font-face {
  font-family: 'Architects-Daughter';
  src: local('Architects-Daughter'), local('Architects-Daughter'),
      url('../fonts/Architects-Daughter/ArchitectsDaughter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}