@font-face {
  font-family: 'AlegreyaSans-Regular';
  src: local('AlegreyaSans-Regular'), local('AlegreyaSans-Regular'),
      url('../fonts/Alegreya-Sans/AlegreyaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}