- placeholderSrc = '/assets/img/svg/picture.svg'
block variables
  
include ../includes/mixins/index

doctype
html(lang="hy-AM")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title= `Azat Hayreniq - ${docTitle}`

    +style('/assets/vendors/bootstrap/bootstrap.min.css')
    +style('/assets/vendors/slick/slick-theme.css')
    +style('/assets/vendors/slick/slick.css')
    +assets('css', 'style')
  
    block headerStyles

    block headerScripts
  body
    include ../includes/svgs

    .wrapper
      .wrapper__menu
        include ../includes/menu/index
      .wrapper__content
        block content
    include ../includes/footer/index

    +script('/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js')
    +script('/assets/vendors/jquery/jquery.slim.min.js')
    +script('/assets/vendors/bootstrap/bootstrap.min.js')
    +script('/assets/vendors/jquery/popper.min.js')
    +script('/assets/vendors/slick/slick.min.js')
    +assets('js', 'script')
    
    block footerScripts