extends ../layouts/main

block variables
  - docTitle = "Activity - Category"
  - page = '/activity/category.html'

block content
  +banner({
    thumbnail: '../assets/img/banner/5.jpg',
    heading: 'Օրենսդիր',
    breadcrumbs: [
      {
        link: '/',
        text: 'Գլխավոր',
      }, 
      {
        text: 'Գործունեություն',
        link: '/activity/index.html',
      },
      {
        text: 'Օրենսդիր'
      }
    ]
  })

  section.section--activity-posts
    .container
      .section__content
        .row
          - for (var i = 1; i <= 12; i++)
            .col-12.col-sm-6.col-md-4.col-lg-3.mb-2
              +post({
                style: 'thumbnail',
                date: '1 մայիս, 14:03',
                url: '/post/single.html',
                thumbnail: '../assets/img/post/3.jpg',
                excerpt: `Մի շարք գյուղմթերքներով, այդ թվում՝ ցորենով, զգալի աջակցու...`,
                title: 'Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արայիկ Հարությունյանն ուղերձ է հղել',
              })
        .d-flex.justify-content-center.mt-4
          +more()