extends ../layouts/main

block variables
  - docTitle = "Activity"
  - page = '/activity/index.html'

block content
  +banner({
    thumbnail: '../assets/img/banner/4.jpg',
    heading: 'Գործունեություն',
    breadcrumbs: [
      {
        link: '/',
        text: 'Գլխավոր',
      }, 
      {
        text: 'Գործունեություն',
      }
    ]
  })

  section.section--legislator
    .container
      .section__heading Օրենսդիր
        .heading__underline.red
      .section__content
        .row
          .col-12.col-md-6.col-xl-3.mb-4
            +post({
              style: 'thumbnail',
              date: '4 ապրիլ, 12:00',
              url: '/post/single.html',
              thumbnail: '../assets/img/post/1.jpg',
              excerpt: `Նախօրեին մեկնարկած, ԼՂՀ Ազգային ժողովի նախընտրական քարոզարշ...`,
              title: '«Ազատ հայրենիք» կուսակցության նախագահը հանդիպել է երիտասարդների հետ',
            })
          .col-12.col-md-6.col-xl-3.mb-4
            +post({
              style: 'thumbnail',
              date: '1 մայիս, 14:03',
              url: '/post/single.html',
              thumbnail: '../assets/img/post/2.jpg',
              excerpt: `Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արա...`,
              title: '«Ազատ հայրենիք» կուսակցության նախագահը հանդիպել է երիտասարդների հետ',
            })
          .col-12.col-md-6.col-xl-3.mb-4
            +post({
              style: 'thumbnail',
              date: '1 մայիս, 14:03',
              url: '/post/single.html',
              thumbnail: '../assets/img/post/3.jpg',
              excerpt: `Մի շարք գյուղմթերքներով, այդ թվում՝ ցորենով, զգալի աջակցու...`,
              title: 'Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արայիկ Հարությունյանն ուղերձ է հղել',
            })
          .col-12.col-md-6.col-xl-3.mb-4
            +squire({
              text: 'Բոլորը',
              link: '/activity/category.html'
            })

  section.section--team-list
    .container
      .section__heading Խմբակցության կազմը
        .heading__underline.blue
      .section__content
        .row.row--list
          +squire({
            text: '2020',
            type: 'alt',
            link: '/activity/team.html'
          })
          +squire({
            text: '2015',
            type: 'alt',
            link: '/activity/team.html'
          })
          +squire({
            text: '2010',
            type: 'alt',
            link: '/activity/team.html'
          })
          +squire({
            text: '2000',
            type: 'alt',
            link: '/activity/team.html'
            })

  section.section--legislator
    .container
      .section__heading գործադիր 
        .heading__underline.red
      .section__content
        .row
          .col-12.col-md-6.col-xl-3.mb-4
            +post({
              style: 'thumbnail',
              date: '4 ապրիլ, 12:00',
              url: '/post/single.html',
              thumbnail: '../assets/img/post/1.jpg',
              excerpt: `Նախօրեին մեկնարկած, ԼՂՀ Ազգային ժողովի նախընտրական քարոզարշ...`,
              title: '«Ազատ հայրենիք» կուսակցության նախագահը հանդիպել է երիտասարդների հետ',
            })
          .col-12.col-md-6.col-xl-3.mb-4
            +post({
              style: 'thumbnail',
              date: '1 մայիս, 14:03',
              url: '/post/single.html',
              thumbnail: '../assets/img/post/2.jpg',
              excerpt: `Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արա...`,
              title: '«Ազատ հայրենիք» կուսակցության նախագահը հանդիպել է երիտասարդների հետ',
            })
          .col-12.col-md-6.col-xl-3.mb-4
            +post({
              style: 'thumbnail',
              date: '1 մայիս, 14:03',
              url: '/post/single.html',
              thumbnail: '../assets/img/post/3.jpg',
              excerpt: `Մի շարք գյուղմթերքներով, այդ թվում՝ ցորենով, զգալի աջակցու...`,
              title: 'Մարտի 31-ին արձանագրեցինք Արցախի քաղաքացու հաղթանակը. Արայիկ Հարությունյանն ուղերձ է հղել',
            })
          .col-12.col-md-6.col-xl-3.mb-4
            +squire({
              text: 'Բոլորը',
              link: '/activity/category.html'
            })