extends ../layouts/main

block variables
  - docTitle = "Activity - Team"
  - page = '/activity/team.html'

block content
  +banner({
    thumbnail: '/assets/img/banner/6.jpg',
    heading: 'խմբակցության կազմը',
    breadcrumbs: [
      {
        link: '/',
        text: 'Գլխավոր',
      }, 
      {
        text: 'կառուցվածք',
        link: '/structure/index.html',
      },
      {
        text: 'խմբակցության կազմը'
      }
    ]
  })

  +navigation({
    columns: 4,
    align: 'center',
    items: [
      {
        text: '2020',
        link: '/activity/team.html',
        active: true
      },
      {
        text: '2015',
        link: '/activity/team.html'
      },
      {
        text: '2010',
        link: '/activity/team.html'
      },
      {
        text: '2005',
        link: '/activity/team.html'
      }
    ]
  })

  section.section--activity-team
    .container
      .section__content
        .row
          - for (var i = 1; i <= 12; i++)
            .col-12.col-sm-6.col-md-4.col-lg-3.mb-2
              +person({
                name: 'Անուն Ազգանուն Հայրանուն'
              })
        .d-flex.justify-content-center.mt-4
          +more()

