@import header/style 
@import footer/style 
@import navigation/style

.menu__body
  position: relative

  max-height: calc(100vh - 97px)

  @media screen and (max-width: $breakpoint--lg)
    top: 0
    left: -100%
    position: fixed
    
    background: #fff

    height: 100%
    width: 80%
    max-height: 100%

    transition: left .25s

    overflow-x: hidden
    z-index: 100

  @media screen and (max-width: $breakpoint--md)
    width: 90%
    
.admin-bar

  .menu__body
    top: 46px

    max-height: calc(100vh - 97px - 46px)
      
    @media screen and (min-width: 783px)
      top: 32px

    @media screen and (min-width: 991px)
      top: 0

      max-height: calc(100vh - 97px)

.menu
  .overlay
    display: none

    cursor: pointer
  
.menu.open
  .menu__body
    top: 0
    left: 0
    
    height: 100%
    max-height: 100vh

    overflow-y: auto
    -webkit-overflow-scrolling: touch

  .overlay
    position: fixed

    display: block

.modal-open
  .admin-bar
    z-index: 9