@font-face {
  font-family: 'MavenPro-Regular';
  src: local('MavenPro-Regular'), local('MavenPro-Regular'),
      url('../fonts/Maven-Pro/MavenPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}