-
  list = [
    {
      text: 'Նախագահ',
      icon: 'white-house',
      href: '/president/biography.html',
    },
    {
      icon: 'diagram',
      text: 'Կառուցվածք',
      href: '/structure/index.html',
      sub: [
        {
          text: 'Նախագահ',
          href: '/structure/category.html',
        },
        {
          text: 'Կենտրոնական խորհուրդ',
          href: '/structure/category.html',
        },
        {
          text: 'Կանանց խորհուրդ',
          href: '/structure/category.html',
        },
        {
          text: 'Երիտասարդական խորհուրդ',
          href: '/structure/category.html',
        },
      ]
    },
    {
      icon: 'party',
      text: 'Կուսակցություն',
      href: '/party/index.html',
      sub: [
        {
          href: '#',
          text: 'Կուսակցության գիրք',
        },
        {
          href: '#',
          text: 'Ակունքի արխիվ',
        }
      ]
    },
    {
      icon: 'support',
      text: 'Գործունեություն',
      href: '/activity/index.html',
      sub: [
        {
          text: 'Օրենսդիր',
          href: '/activity/category.html',
        },
        {
          href: '/activity/team.html',
          text: 'Խմբակցության կազմը 2005',
        },
        {
          href: '/activity/team.html',
          text: 'Խմբակցության կազմը 2010',
        },
        {
          href: '/activity/team.html',
          text: 'Խմբակցության կազմը 2015',
        },
        {
          href: '/activity/team.html',
          text: 'Խմբակցության կազմը 2020',
        },
        {
          text: 'Գործադիր',
          href: '/activity/category.html',
        },
      ]
    },
    {
      icon: 'newspaper',
      text: 'Ակունք-պրեսս',
      href: '/blog/index.html',
      sub: [
        {
          text: 'Ամենօրյա',
          href: '/blog/category.html',
        },
        {
          text: 'Նախագահի գործուենություն',
          href: '/blog/category.html',
        },
        {
          text: 'Օրենսդիրում',
          href: '/blog/category.html',
        },
        {
          text: 'Գործադիրում',
          href: '/blog/category.html',
        },
        {
          text: 'Լուսաբանում',
          href: '/blog/category.html',
        }
      ]
    },
    {
      icon: 'gallery',
      text: 'Տեսադարան',
      href: '/gallery/images.html',
      sub: [
        {
          text: 'Նկարներ',
          href: '/gallery/images.html',
        },
        {
          text: 'Տեսանյութեր',
          href: '/gallery/videos.html',
        }
      ]
    },
    {
      icon: 'message',
      text: 'Հետադարձ կապ',
      href: '/contacts/index.html',
      sub: [
        {
          text: 'Կապի պահպանում',
          href: '/contacts/category.html',
        },
        {
          text: 'Խորհրդատվություն',
          href: '/contacts/index.html',
        }
      ]
    },
    {
      icon: 'money',
      href: '/donate.html',
      text: 'Նվիրատվություն',
    },
    {
      icon: 'ui',
      href: '/ui.html',
      text: 'UI Components',
    },
  ]

nav#main-nav.menu__navigation
  ul
    each item in list
      li(class=`menu-item${item.sub ? ' menu-item-has-children' : '' }${page === item.href ? ' current-menu-item' : ''}`)
        a(href=item.href)
          +svg(item.icon, 'svg--icon icon--menu')
          span= item.text
          if (item.sub)
            +svg('next', 'svg--icon')

        if (item.sub)
          ul
            each subitem in item.sub
              li(class=`${page === subitem.href ? ' current-menu-item' : ''}`)
                a(href=subitem.href)= subitem.text