.menu

  &__navigation

    @media screen and (max-width: $breakpoint--lg)
      position: relative

    ul
      margin: 0
      padding: 0

      font-size: 14px
      font-weight: normal
      text-transform: uppercase

      list-style: none

      color: $color--text__secondary

      @media screen and (min-width: $breakpoint--sm)
        font-size: 16px

      @media screen and (min-width: 1550px)
        font-size: 22px
      
      

    & > ul
      
      & > li
        margin: 1px
        padding: 10px 10px

        background-color: rgba($color--primary__light, 0.15)

        transition: background-color .5s

        @media screen and (min-width: 1550px)
          padding: 10px 15px

        &:hover
          background-color: rgba($color--primary__light, 0.5)

        &.current-menu-item 
          background-color: $color--primary__light

        ul
          display: none

          padding-left: 40px

          font-size: 14px
          line-height: 30px
          text-transform: none

          @media screen and (min-width: $breakpoint--sm)
            font-size: 15px

          @media screen and (min-width: 1550px)
            font-size: 18px
            line-height: 30px
            padding-left: 50px

      li

        a
          display: flex
          align-items: center

          color: inherit
          text-decoration: none

          &:hover
            color: $color--primary

          & > *:not(.svg--icon)
            flex: 1

          .svg--icon
            flex: 0 0 30px

            align-self: flex-start
            
            color: inherit

            &.icon--menu
              margin-right: 10px
              
              @media screen and (min-width: 1550px)
                margin-right: 20px

            &.svg--next
              display: none

              width: 30px
              height: 30px

              padding: 10px
              margin-left: 10px

              @media screen and (min-width: $breakpoint--sm)
                width: 40px
                height: 40px

                margin-left: 20px

              border-radius: 20px

              overflow: hidden

              transition: transform .2s

              &:hover
                background-color: $color--primary__light      
      li

        &.current-menu-item,
        &.current-menu-ancestor 

          & > a
            color: $color--primary

        &.menu-item--open,
        &.current-menu-item,
        &.current-menu-ancestor

          & > ul
            display: block

          .svg--next
            transform: rotate(90deg)