section.section--team-list
  .row.row--list
    .button.button--squire-alt
      background-size: 400%
      background-repeat: no-repeat
      background-attachment: fixed

    div:nth-child(1)
      .button.button--squire-alt
        background-position: 0% 0

    div:nth-child(2)
      .button.button--squire-alt
        background-position: 25% 0

    div:nth-child(3)
      .button.button--squire-alt
        background-position: 50% 0

    div:nth-child(4)
      .button.button--squire-alt
        background-position: 75% 0

  @media screen and (max-width: 475px)
    .button--squire
      min-height: 150px
      
      font-size: 30px
    


.section.section--activities
  
  @media screen and (max-width: 475px)
    .post.post--thumbnail
      
      .post__content
        padding: 10px

      .post__thumbnail
        height: 200px
      
      &:hover

        .post__hidden
          max-height: 0 !important
      
    .button--squire
      font-size: 20px

  @media screen and (max-width: 425px)
    .row > div
      flex: 0 0 100%
      max-width: 100%