.background--loading
  
  &:not(&--loaded)

    .lelement
      background: #F6F6F6
      background-size: 100% 100%
      background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%)

      color: transparent !important

      animation-duration: 4s
      animation-fill-mode: forwards
      animation-name: loadingBackground
      animation-timing-function: linear
      animation-iteration-count: infinite

      & > *
        opacity: 0 !important

@keyframes loadingBackground
  0%
    background-position: -1000px 0
  100%
    background-position: 1000px 0