.section--biography
  .biography__article
    img
      display: block

      margin: 0 auto 30px auto

      @media screen and (min-width: $breakpoint__md)
        float: left

        margin: 0 15px 15px 0

    p
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 18px

      @media screen and (min-width: $breakpoint__lg)
        font-size: 20px
        line-height: 23px
        