html[lang="hy-AM"]
  section.section--heading
    .heading
      .heading__info
        font-family: $font--dejavue
  section.section--article
    article
      font-family: $font--dejavue

html[lang="en-US"]
  section.section--heading
    .heading
      .heading__info
        font-family: $font--dejavue--en
  section.section--article
    article
      font-family: $font--dejavue--en

html[lang="ru-RU"]
  section.section--heading
    .heading
      .heading__info
        font-family: $font--dejavue--ru
  section.section--article
    article
      font-family: $font--dejavue--ru
    
section.section--heading
  @media screen and (max-width: $breakpoint--md)
    padding: 15px 0
    
  .heading
    display: flex
    flex-direction: column

    @media screen and (min-width: $breakpoint--lg)
      flex-direction: row

    .heading__thumbnail
      max-width: 372px
      width: 100%
      
      img
        width: 100%

    .heading__info
      padding: 0
      margin-top: 20px

      @media screen and (min-width: $breakpoint--lg)
        padding-left: 15px
        margin-top: 0

      .info__heading
        font-weight: bold
        font-size: 20px
        line-height: 24px

        @media screen and (min-width: $breakpoint--sm)
          font-size: 25px
          line-height: 29px

      .info__date
        font-weight: 200
        font-size: 18px
        line-height: 21px
        
        color: $color--secondary

        margin-top: 25px

      .info__social
        margin-top: 25px

        .social__icon
          width: 40px
          height: 40px

section.section--article
  @media screen and (max-width: $breakpoint--md)
    padding: 15px 0
    
  article
    color: $color--text