section.section--advertising
  padding: 25px 0

  @media screen and (min-width: $breakpoint--sm)
    padding: 45px 0
  
section.section--content
  .col--main
    padding: 0 
    
section.section--blog-white
  position: relative

  &::before
    content: ''

    position: absolute
    top: 0
    right: 0

    width: 200%
    height: 100%

    z-index: 1

    background-color: #fff 
  
  * 
    z-index: 2

section.section--blog-news
  background-color: inherit