html[lang="hy-AM"]
  article
    font-family: $font--dejavue
  section.section--contact-voting
    .button--vote
      font-family: $font--dejavue

html[lang="en-US"]
  article
    font-family: $font--dejavue--en
  section.section--contact-voting
    .button--vote
      font-family: $font--dejavue--en

html[lang="ru-RU"]
  article
    font-family: $font--dejavue--ru
  section.section--contact-voting
    .button--vote
      font-family: $font--dejavue--ru

article
  color: $color--text
  
section.section--contact-voting
  background-color: #fff

  .button--vote
    font-size: 10px
    line-height: 12px

    height: 65px
    min-width: 65px

    border-radius: 50%

    &:hover
      border: none

    @media (min-width: $breakpoint--md)
      height: 84px
      min-width: 84px

      font-size: 12px

    .svg--icon
      color: inherit

  .button--pros
    color: #00AC45
    background: rgba(0, 172, 69, 0.2)

    &:hover
      background: rgba(0, 172, 69, 0.4)

    &.button--voted
      color: white
      background: rgba(0, 172, 69, 0.75)

      
  .button--cons
    color: #F0030C
    background: rgba(240, 3, 12, 0.2)

    &:hover
      background: rgba(240, 3, 12, 0.4)

    &.button--voted
      color: white
      background: rgba(240, 3, 12, 0.75)
  
  .voting-bar
    height: 20px
    
    margin: 0

    border-radius: 10px

    overflow: hidden

    font-size: 14px

    @media screen and (min-width: $breakpoint--sm)
      margin: 0 15px

    .bar__pros
      background: #00AC45
      border-radius: 10px 0 0 10px

    .bar__cons
      background: #F0030C
      border-radius: 0 10px 10px 0