.wp-calendar-table
  width: 100%

  text-align: center

.wp-calendar-table td
  padding: 1px

  height: 40px

.wp-calendar-table td:not(:last-child),
.wp-calendar-table th:not(:last-child)
  border-right: 1px solid #ecdeed

.wp-calendar-table td a
  display: flex
  align-items: center
  justify-content: center

  width: 100%
  height: 100%

  background-color: #b355ad3d

  color: #b455a8

  transition: background-color .25s, color .25s

.wp-calendar-table td a:hover
  background-color: #B355AD

  color: #fff
  text-decoration: none

.wp-calendar-table tbody tr
  border-top: 1px solid #ecdeed

.widget ul
  padding: 0

  list-style: none

.widget ul li
  padding: 5px 0

.widget ul li:not(:last-child)
  border-bottom: 1px solid #ecdeed

.widget ul li a
  color: #B69DB8

  transition: color .25s

.widget ul li a:hover
  color: #B355AD

.article--gallery .gallery__siblings
  margin-bottom: 15px

.article--gallery .gallery__thumbnail
  position: relative

  min-width: 200px
  min-height: 200px

.article--gallery .gallery__thumbnail.gallery__thumbnail--video iframe
  width: 100%
  min-height: 250px

@media screen and (min-width: 575px)
  .article--gallery .gallery__thumbnail.gallery__thumbnail--video iframe
    min-height: 300px

@media screen and (min-width: 767px)
  .article--gallery .gallery__thumbnail.gallery__thumbnail--video iframe
    min-height: 350px


@media screen and (min-width: 1140px)
  .article--gallery .gallery__thumbnail.gallery__thumbnail--video iframe
    min-height: 500px


.article--gallery .gallery__siblings .siblings__item
  min-width: 160px

  padding: 10px

  border: 1px solid rgba(236, 222, 237, 0.5)

  color: #B69DB8
  text-align: center
  text-decoration: none

  transition: color .5s, border-color .5s

.article--gallery .gallery__siblings .siblings__item:hover
  color: #B355AD
  border-color: #B355AD

.article--gallery .gallery__siblings .siblings__item .svg--icon
  width: 20px
  height: 20px

  margin: 0 0 0 5px

  color: inherit

.article--gallery .gallery__siblings .siblings__item.siblings__item--next .svg--icon
  transform: rotate(180deg)

  margin: 0 5px 0 0

.article--gallery .gallery__siblings .siblings__item.siblings__item--prev
  margin-left: auto

.article--gallery .gallery__heading
  margin: 15px 0

  white-space: pre-wrap

.article--gallery .gallery__date
  display: block

  margin-top: 15px

.modal--gallery
  z-index: 999999

.modal--gallery .modal-body
  padding: 0

  border-radius: 70px 70px 0 0

  overflow: hidden

.modal--gallery .modal-dialog
  margin-top: 60px

  max-width: 1140px

.modal--gallery .modal-content
  border: none
  border-radius: 70px 70px 0 0

.modal--gallery .modal-body .container
  max-width: 100%

  padding-left: 6px
  padding-right: 6px

.modal--gallery .modal-body .container > .row > div
  flex: 0 0 100%
  max-width: 100%

  padding: 0

.modal--gallery .article--gallery .gallery__content
  padding: 15px

.modal--gallery .article--gallery .gallery__siblings
  margin: 0 !important

.modal--gallery button.close,
.modal--gallery .article--gallery .gallery__siblings .siblings__item
  top: 50%
  position: absolute
  transform: translateY(-50%)

  width: 60px
  height: 60px
  min-width: 60px

  padding: 0

  border-radius: 60px
  border: none !important

  color: #fff
  background: #C4C4C4

  opacity: .75

  transition: .25s background-color, .25s opacity, .25s left, .25s right


.modal--gallery button.close
  top: -45px
  right: -45px

  outline: none
  transform: none


.modal--gallery button.close svg
  width: 28px;


.modal--gallery button.close:hover,
.modal--gallery .article--gallery .gallery__siblings .siblings__item:hover 
  opacity: 1 !important;
  background-color: #a9a9a9 !important;


.modal--gallery .article--gallery .gallery__siblings .siblings__item svg 
  width: 60px
  height: 30px

  margin: 0 !important


.modal--gallery .article--gallery .gallery__siblings .siblings__item span 
  display: none


.modal--gallery .article--gallery .gallery__siblings .siblings__item.siblings__item--prev 
  right: -100%


.modal--gallery .article--gallery .gallery__siblings .siblings__item.siblings__item--next
  left: -100%

.modal--gallery .article--gallery .gallery__thumbnail:hover .gallery__siblings .siblings__item.siblings__item--prev
  right: 15px

.modal--gallery .article--gallery .gallery__thumbnail:hover .gallery__siblings .siblings__item.siblings__item--next
  left: 15px

.body--loading .modal-backdrop
  display: none

.site-loading
  top: 0
  left: 0
  position: fixed
  z-index: 999999

  display: flex
  align-items: center
  justify-content: center

  width: 100%
  height: 100%

  background-color: #ffffff40

.site-loading .logo
  width: 60px
  height: 60px

  opacity: .25

  transform: scale(1)

  animation-duration: 1.25s
  animation-name: loadingLogo
  animation-iteration-count: infinite

.mfp-bg
  z-index: 9999999

.mfp-wrap
  z-index: 99999999

.social__block
  right: 0
  top: 50%
  z-index: 20
  position: fixed
  transform: translateY(-50%)

  width: 70px
  height: 70px
  
  overflow: hidden

  border-radius: 50px

.social__block .social__wrapper
  position: relative

  display: block
  width: 100%
  height: 100%

.social__block .logout
  left: 0
  top: -100%
  position: absolute

  display: flex
  align-items: center
  justify-content: center

  width: 100%
  height: 100%

  background-color: #b355ad7a

  opacity: 0

  transition: .25s opacity

.social__block .logout svg
  width: 35px
  height: 35px

  color: white

.social__block:hover .logout
  top: 0

  opacity: 1

.contact-form input.button
  line-height: 20px

.contact-form br
	display: none !important

@keyframes loadingLogo
  0%
    opacity: .25
    transform: scale(1)
  25%
    opacity: .5
    transform: scale(1.05)
  50%
    opacity: 1
    transform: scale(1.1)
  75%
    opacity: .5
    transform: scale(1.05)
  100%
    opacity: .25
    transform: scale(1)

@media screen and (max-width: 1250px)

  .modal--gallery button.close
    top: -100%
    right: 30px

    outline: none

    transform: none
    transition: .5s top

  .modal--gallery .modal-dialog:hover button.close
    top: 30px

  .modal--gallery .modal-dialog
    overflow: hidden

    margin-top: 20px

@media screen and (max-width: 768px)

  .modal--gallery button.close,
  .modal--gallery .article--gallery .gallery__siblings .siblings__item
    width: 40px
    height: 40px
    min-width: 40px
  
  .modal--gallery .article--gallery .gallery__siblings .siblings__item svg
    width: 40px
    height: 20px

  .modal--gallery .modal-dialog:hover button.close
    top: 10px

  .modal--gallery button.close svg
    width: 20px

@media screen and (max-width: 578px)
  .modal--gallery button.close
    right: 15px

  .modal--gallery .modal-dialog:hover button.close
    top: 15px

  .modal--gallery .modal-body,
  .modal--gallery .modal-content
    border-radius: 40px 40px 0 0