html[lang="hy-AM"]
  section.section--gallery-categories
    .heading
      ul.nav
        .nav-link
          font-family: $font--primary

section.section--gallery-categories
  
  @media screen and (max-width: $breakpoint--md)
    padding-bottom: 0

  .heading
    font-size: 16px
    line-height: 19px
    
    text-transform: uppercase

    margin-bottom: 30px

    @media screen and (min-width: $breakpoint--md)
      font-size: 20px
      line-height: 23px


    ul.nav
      border-bottom: 2px solid #CFCFCF

      .nav-item + .nav-item
        margin-left: 30px
        
      .nav-link
        color: #CFCFCF

        padding: 0 0 5px 0

        &:hover
          color: $color--primary

        &.active
          position: relative

          display: flex
          flex-direction: column

          color: $color--primary

          &::after
            content: ''
            width: 100%
            height: 2px

            position: absolute
            bottom: 0

            margin-bottom: -2px

            background-color: $color--primary

    