html[lang="hy-AM"]
  section.section--about-us
    .slogan
      p
        font-family: $font--heghnar

  section.section--donate
    form.donate
      .donate__description
        .description__promise
          font-family: $font--heghnar

html[lang="en-US"]
  section.section--about-us
    .slogan
      p
        font-family: $font--heghnar--en

  section.section--donate
    form.donate
      .donate__description
        .description__promise
          font-family: $font--heghnar--en

html[lang="ru-RU"]
  section.section--about-us
    .slogan
      p
        font-family: $font--heghnar--ru

  section.section--donate
    form.donate
      .donate__description
        .description__promise
          font-family: $font--heghnar--ru

section.section--about-us
  p
    color: #444444

    font-size: 15px
    line-height: 17px
    text-transform: capitalize

    @media screen and (min-width: $breakpoint--md)
      font-size: 18px
      line-height: 21px

    @media screen and (min-width: $breakpoint--xl)
      font-size: 20px
      line-height: 23px

  .slogan
    position: relative
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    background-attachment: fixed
    background-image: url(../img/slogan/background.jpg)
    
    margin-top: 30px
    padding: 80px 0

    img
      position: absolute
      left: 50%
      top: 50%
      z-index: 1

      width: 150px

      transform: translate(-50%, -50%)

      @media screen and (min-width: $breakpoint--md)
        width: 200px

    p
      position: relative
      z-index: 15

      text-transform: capitalize
      color: #fff
      font-size: 25px
      line-height: 27px

      @media screen and (min-width: $breakpoint--md)
        font-size: 30px
        line-height: 32px

      @media screen and (min-width: $breakpoint--lg)
        font-size: 35px
        line-height: 37px

      @media screen and (min-width: $breakpoint--xl)
        font-size: 40px
        line-height: 43px

section.section--our-activity
  background-color: #fff

  .wrapper--post:not(:last-child)
    margin-bottom: 12px

  .post--default
    padding-left: 6px
    padding-right: 6px

    @media screen and (min-width: $breakpoint--xl)
      padding-left: 0
      padding-right: 0
      
    .post__thumbnail
      max-height: 168px

      @media screen and (min-width: $breakpoint--md)
        max-height: 194px
        

section.section--gallery
  background-color: #020202

  .gallery-grid,
  .section__heading > span
    color: #fff

    .col--gallery
      max-height: 600px
    
    .col--gallery-item
      margin-bottom: 12px

    .gpreview--video
      flex: 0 0 50%

section.section--latest-news
  background-color: #fff !important

  .row--categories
    display: none

    @media screen and (min-width: $breakpoint__xl)
      display: flex

  .group
    display: flex
    flex-direction: row
    align-items: center

    margin-bottom: 15px

    .group__ellipse
      width: 10px
      height: 10px

      border-radius: 50%

      &.pink
        background-color: #FD10D7

      &.lightblue
        background-color: #10E0FD

      &.darkblue
        background-color: #4D10FD
      
      &.green
        background-color: #00AC45

    .group__title
      color: #555555

      margin-left: 5px

      text-transform: capitalize
      font-size: 16px
      line-height: 18px

section.section--donate
  background-image: url('../img/donate/background.jpg')
  background-position: center
  background-repeat: no-repeat
  background-size: cover

  .section__heading

    span
      color: white

  form.donate
    color: white
    background: rgba(0, 188, 53, 0.25)

    max-width: 600px
    width: 100%
    
    padding: 50px 15px

    .donate__description
      .description__promise
        font-size: 25px
        line-height: 27px

      .description__info
        font-size: 14px
        line-height: 16px

        margin-top: 10px
    
    .donate__prices
      margin-top: 30px

      .col--radio
        @media screen and (max-width: $breakpoint--sm)
          flex: 0 0 calc(100%)

          margin-top: 5px

          .radio__wrapper
            justify-content: center

      .col--input
        @media screen and (max-width: $breakpoint--sm)
          margin-top: 5px

          flex: 0 0 100%

      .radio
        width: 100%

        padding-right: 1px
        
        &__wrapper
          background: $color--secondary

      .prices__input
        position: relative

        width: 100%
        height: 100%
        
        & > input
          width: 100%
          height: 100%

          border: 1px solid $color--border__dark

          padding: 10px 30px 10px 10px

          text-align: center
          outline: none

        .currency
          position: absolute

          color: $color--border__dark

          right: 10px
          top: 50%

          transform: translateY(-50%)

    .donate__submit
      margin-top: 35px

      .submit__cards
        img + img
          margin-left: 2px

      .submit__button
        height: 40px
        width: 100%
        max-width: 130px

        font-size: 14px

        color: #fff
        background-color: $color--secondary

        border: 1px solid $color--secondary

        text-transform: uppercase
        box-sizing: border-box

        transition: background .25s

        @media screen and (min-width: $breakpoint--sm)
          max-width: 170px

          font-size: 16px
        
        &:hover
          background-color: darken($color--secondary, 10%)
          border: darken($color--secondary, 10%)



        