*
  outline: none !important
  
html,
body
  overflow-x: hidden

  @media screen and (min-width: $breakpoint--lg)
    overflow-x: visible
  
html[lang="hy-AM"]
  body
    font-family: $font--primary
  a
    font-family: $font--dejavue

html[lang="en-US"]
  a
    font-family: $font--dejavue--en

html[lang="ru-RU"]
  a
    font-family: $font--dejavue--ru

*
  min-width: 0
  min-height: 0

body
  background-color: $color--background

  margin: 0
  padding: 0

a
  outline: none

.container
  padding-left: 6px
  padding-right: 6px

.row
  margin-left: -6px
  margin-right: -6px

.col, .col-1, .col-10, .col-11,
.col-12, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-auto, .col-lg, .col-lg-1,
.col-lg-10, .col-lg-11, .col-lg-12,
.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, 
.col-lg-auto, .col-md, .col-md-1, .col-md-10,
.col-md-11, .col-md-12, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9, .col-md-auto, .col-sm,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl,
.col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2,
.col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7,
.col-xl-8, .col-xl-9, .col-xl-auto
  padding-left: 6px
  padding-right: 6px

input
  max-width: 100%

.lazy
  object-fit: contain
  object-position: center

  background-size: auto
  background-position: center
  background-repeat: no-repeat

img
  max-width: 100%

img.lazy,
.image--placeholder img.lazy--loaded
  top: 50%
  left: 50%
  position: absolute
  transform: translate(-50%, -50%)

  width: 50px !important
  height: 50px !important

svg
  max-width: 100%
  max-height: 100%

.svg
  display: inline-block

  &--icon
    width: 30px
    height: 30px

    color: $color--primary

.svg--defs
  display: none

  width: 0
  height: 0

  overflow: hidden
  visibility: hidden

  opacity: 0

.wrapper
  display: flex
  flex-direction: row
  align-items: flex-start
  justify-content: flex-start

  @media screen and (max-width: $breakpoint--lg)
    flex-direction: column

  &__menu
    flex: 0 0 300px
  
    top: 0
    z-index: 20
    
    width: 100%
    max-width: 300px
    min-height: 100vh

    background-color: white

    @media screen and (min-width: $breakpoint--lg)
      position: sticky
      position: -webkit-sticky

      border-right: 1px solid $color--border

    @media screen and (min-width: 1550px)
      flex: 0 0 400px

      max-width: 400px

    @media screen and (max-width: $breakpoint--lg)
      max-width: 100%
      min-height: auto

      flex: 1

  &__content
    flex: 1

    overflow: hidden

    @media screen and (max-width: $breakpoint--lg)
      width: 100%
      
.admin-bar
  .wrapper
    &__menu
      top: 0

      @media screen and (min-width: 601px)
        top: 46px

      @media screen and (min-width: 783px)
        top: 32px

.overlay
  top: 0
  left: 0
  z-index: 10
  position: absolute

  width: 100%
  height: 100%

  background: rgba(0, 0, 0, 0.35)

  transition: opacity .5s

  &--dark
    background: rgba(0, 0, 0, 0.5)

  &--category
    background: rgba(0, 0, 0, .2)

  &--gradient
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 15%, #000000 100%)

  &--gradient-dark-low
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.5) 100%)

.ps
  touch-action: auto
  overflow-anchor: none
  -ms-touch-action: auto
  -ms-overflow-style: none
  overflow: hidden !important


.ps__rail-x
  bottom: 0px
  position: absolute
 
  display: none

  height: 15px

  opacity: 0

  transition: background-color .2s linear, opacity .2s linear

.ps__rail-y
  right: 0
  position: absolute

  display: none
  
  width: 15px
  
  opacity: 0

  transition: background-color .2s linear, opacity .2s linear

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y
  display: block
  background-color: transparent

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y
  opacity: 0.6

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking
  opacity: 0.9
  background-color: #eee

.ps__thumb-x
  bottom: 2px
  position: absolute

  height: 6px

  border-radius: 6px
  background-color: #aaa

  transition: background-color .2s linear, height .2s ease-in-out

.ps__thumb-y
  right: 2px
  position: absolute
  
  width: 6px
  
  border-radius: 6px
  background-color: #aaa

  transition: background-color .2s linear, width .2s ease-in-out

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x
  height: 11px

  background-color: #999

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y
  width: 11px
  
  background-color: #999

@supports (-ms-overflow-style: none)
  .ps
    overflow: auto !important

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  .ps
    overflow: auto !important

html[lang="hy-AM"]
  section
    .section__heading
      font-family: $font--anhok

html[lang="en-US"]
  section
    .section__heading
      font-family: $font--anhok--en

section
  padding: 45px 0
  
  &.section--primary
    color: $color--primary

  &.section--secondary
    color: $color--secondary

  &.section--flag__1
    color: $color--flag__1

  &.section--flag__2
    color: $color--flag__2

  &.section--flag__3
    color: $color--flag__3

  &.section--white
    color: white

  .section__heading
    display: flex
    flex-direction: column

    margin-bottom: 30px

    color: inherit
    font-size: 25px
    line-height: 32px
    text-transform: uppercase


    @media screen and (min-width: $breakpoint--sm)
      font-size: 35px
      line-height: 37px
    
    & > span
      color: black

    .heading__underline
      width: 60px
      border-bottom: 2px solid

      color: inherit

article
  font-size: 14px

  @media screen and (min-width: $breakpoint--sm)
    font-size: inherit

  .article__heading
    font-weight: bold
    font-size: 20px

    @media screen and (min-width: $breakpoint--sm)
      font-size: 24px


.font
  &--hy
    font-family: $font--primary !important
  &--en
    font-family: $font--primary--en !important
  &--ru
    font-family: $font--primary--ru !important

  
.p404

  &__code
    font-size: 100px
    color: $color--primary
    font-family: $font--404--code

    @media screen and (min-width: $breakpoint--sm)
      font-size: 200px
      
  &__heading
    font-size: 20px
    
    @media screen and (min-width: $breakpoint--sm)
      font-size: 40px

  &__message
    font-size: 16px

    @media screen and (min-width: $breakpoint--sm)
      font-size: 20px

      