html[lang="hy-AM"]
  section.section--party
    article
      font-family: $font--dejavue

html[lang="en-US"]
  section.section--party
    article
      font-family: $font--dejavue--en

html[lang="ru-RU"]
  section.section--party
    article
      font-family: $font--dejavue--ru

section.section--party
  article
    color: $color--text

    .article__info
      font-size: 1.25rem

      color: $color--secondary
      
      margin-top: 30px

section.section--party-links
  background-color: #fff

  .row
    justify-content: center

    @media screen and (min-width: $breakpoint--md)
      justify-content: space-between

  .button
    max-width: 276px
    width: 100%
    
    background: linear-gradient(85.06deg, #B355AD 0%, #D44C32 100%)

    margin-bottom: 10px
    padding-left: 15px