html[lang="hy-AM"]
  section.section--structure-single
    article
      font-family: $font--dejavue

html[lang="en-US"]
  section.section--structure-single
    article
      font-family: $font--dejavue--en

html[lang="ru-RU"]
  section.section--structure-single
    article
      font-family: $font--dejavue--ru

section.section--structure-single
  article
    font-size: 16px
    line-height: 19px